<div class="bg-white overflow-hidden">

  <div class="p-40">

    <ul class="grid grid-cols-1 gap-24">
      <li>
        <div class="flex align-items-center justify-content-between mb-6">
          <code class="flex-none text-xs radius-sm w-128">.bg-red</code>
          <code class="flex-none text-xs radius-sm w-128 text-right color-cool-gray-400">h0 s50</code>       
        </div>
        <div class="flex">
          <div class="flex-1 grid overflow-hidden gap-4" style="grid-template-columns: repeat(19, minmax(0, 1fr));">
            <div class="ratio-square radius-xs bg-red bg-950"></div>
            <div class="ratio-square radius-xs bg-red bg-900"></div>
            <div class="ratio-square radius-xs bg-red bg-850"></div>
            <div class="ratio-square radius-xs bg-red bg-800"></div>
            <div class="ratio-square radius-xs bg-red bg-750"></div>
            <div class="ratio-square radius-xs bg-red bg-700"></div>
            <div class="ratio-square radius-xs bg-red bg-650"></div>
            <div class="ratio-square radius-xs bg-red bg-600"></div>
            <div class="ratio-square radius-xs bg-red bg-550"></div>
            <div class="ratio-square radius-xs bg-red bg-500"></div>
            <div class="ratio-square radius-xs bg-red bg-450"></div>
            <div class="ratio-square radius-xs bg-red bg-400"></div>
            <div class="ratio-square radius-xs bg-red bg-350"></div>
            <div class="ratio-square radius-xs bg-red bg-300"></div>
            <div class="ratio-square radius-xs bg-red bg-250"></div>
            <div class="ratio-square radius-xs bg-red bg-200"></div>
            <div class="ratio-square radius-xs bg-red bg-150"></div>
            <div class="ratio-square radius-xs bg-red bg-100"></div>
            <div class="ratio-square radius-xs bg-red bg-50"></div>
          </div>
        </div>
      </li>

      <li>
        <div class="flex align-items-center justify-content-between mb-6">
          <code class="flex-none text-xs radius-sm w-128">.bg-orange</code>
          <code class="flex-none text-xs radius-sm w-128 text-right color-cool-gray-400">h20 s70</code>       
        </div>
        <div class="flex">
          <div class="flex-1 grid overflow-hidden gap-4" style="grid-template-columns: repeat(19, minmax(0, 1fr));">
            <div class="ratio-square radius-xs bg-orange bg-950"></div>
            <div class="ratio-square radius-xs bg-orange bg-900"></div>
            <div class="ratio-square radius-xs bg-orange bg-850"></div>
            <div class="ratio-square radius-xs bg-orange bg-800"></div>
            <div class="ratio-square radius-xs bg-orange bg-750"></div>
            <div class="ratio-square radius-xs bg-orange bg-700"></div>
            <div class="ratio-square radius-xs bg-orange bg-650"></div>
            <div class="ratio-square radius-xs bg-orange bg-600"></div>
            <div class="ratio-square radius-xs bg-orange bg-550"></div>
            <div class="ratio-square radius-xs bg-orange bg-500"></div>
            <div class="ratio-square radius-xs bg-orange bg-450"></div>
            <div class="ratio-square radius-xs bg-orange bg-400"></div>
            <div class="ratio-square radius-xs bg-orange bg-350"></div>
            <div class="ratio-square radius-xs bg-orange bg-300"></div>
            <div class="ratio-square radius-xs bg-orange bg-250"></div>
            <div class="ratio-square radius-xs bg-orange bg-200"></div>
            <div class="ratio-square radius-xs bg-orange bg-150"></div>
            <div class="ratio-square radius-xs bg-orange bg-100"></div>
            <div class="ratio-square radius-xs bg-orange bg-50"></div>
          </div>
        </div>
      </li>

      <li>
        <div class="flex align-items-center justify-content-between mb-6">
          <code class="flex-none text-xs radius-sm w-128">.bg-yellow</code>
          <code class="flex-none text-xs radius-sm w-128 text-right color-cool-gray-400">h50 s100</code>       
        </div>
        <div class="flex">
          <div class="flex-1 grid overflow-hidden gap-4" style="grid-template-columns: repeat(19, minmax(0, 1fr));">
            <div class="ratio-square radius-xs bg-yellow bg-950"></div>
            <div class="ratio-square radius-xs bg-yellow bg-900"></div>
            <div class="ratio-square radius-xs bg-yellow bg-850"></div>
            <div class="ratio-square radius-xs bg-yellow bg-800"></div>
            <div class="ratio-square radius-xs bg-yellow bg-750"></div>
            <div class="ratio-square radius-xs bg-yellow bg-700"></div>
            <div class="ratio-square radius-xs bg-yellow bg-650"></div>
            <div class="ratio-square radius-xs bg-yellow bg-600"></div>
            <div class="ratio-square radius-xs bg-yellow bg-550"></div>
            <div class="ratio-square radius-xs bg-yellow bg-500"></div>
            <div class="ratio-square radius-xs bg-yellow bg-450"></div>
            <div class="ratio-square radius-xs bg-yellow bg-400"></div>
            <div class="ratio-square radius-xs bg-yellow bg-350"></div>
            <div class="ratio-square radius-xs bg-yellow bg-300"></div>
            <div class="ratio-square radius-xs bg-yellow bg-250"></div>
            <div class="ratio-square radius-xs bg-yellow bg-200"></div>
            <div class="ratio-square radius-xs bg-yellow bg-150"></div>
            <div class="ratio-square radius-xs bg-yellow bg-100"></div>
            <div class="ratio-square radius-xs bg-yellow bg-50"></div>
          </div>
        </div>
      </li>

      <li>
        <div class="flex align-items-center justify-content-between mb-6">
          <code class="flex-none text-xs radius-sm w-128">.bg-lime</code>
          <code class="flex-none text-xs radius-sm w-128 text-right color-cool-gray-400">h80 s70</code>       
        </div>
        <div class="flex">
          <div class="flex-1 grid overflow-hidden gap-4" style="grid-template-columns: repeat(19, minmax(0, 1fr));">
            <div class="ratio-square radius-xs bg-lime bg-950"></div>
            <div class="ratio-square radius-xs bg-lime bg-900"></div>
            <div class="ratio-square radius-xs bg-lime bg-850"></div>
            <div class="ratio-square radius-xs bg-lime bg-800"></div>
            <div class="ratio-square radius-xs bg-lime bg-750"></div>
            <div class="ratio-square radius-xs bg-lime bg-700"></div>
            <div class="ratio-square radius-xs bg-lime bg-650"></div>
            <div class="ratio-square radius-xs bg-lime bg-600"></div>
            <div class="ratio-square radius-xs bg-lime bg-550"></div>
            <div class="ratio-square radius-xs bg-lime bg-500"></div>
            <div class="ratio-square radius-xs bg-lime bg-450"></div>
            <div class="ratio-square radius-xs bg-lime bg-400"></div>
            <div class="ratio-square radius-xs bg-lime bg-350"></div>
            <div class="ratio-square radius-xs bg-lime bg-300"></div>
            <div class="ratio-square radius-xs bg-lime bg-250"></div>
            <div class="ratio-square radius-xs bg-lime bg-200"></div>
            <div class="ratio-square radius-xs bg-lime bg-150"></div>
            <div class="ratio-square radius-xs bg-lime bg-100"></div>
            <div class="ratio-square radius-xs bg-lime bg-50"></div>
          </div>
        </div>
      </li>

      <li>
        <div class="flex align-items-center justify-content-between mb-6">
          <code class="flex-none text-xs radius-sm w-128">.bg-green</code>
          <code class="flex-none text-xs radius-sm w-128 text-right color-cool-gray-400">h110 s60</code>       
        </div>
        <div class="flex">
          <div class="flex-1 grid overflow-hidden gap-4" style="grid-template-columns: repeat(19, minmax(0, 1fr));">
            <div class="ratio-square radius-xs bg-green bg-950"></div>
            <div class="ratio-square radius-xs bg-green bg-900"></div>
            <div class="ratio-square radius-xs bg-green bg-850"></div>
            <div class="ratio-square radius-xs bg-green bg-800"></div>
            <div class="ratio-square radius-xs bg-green bg-750"></div>
            <div class="ratio-square radius-xs bg-green bg-700"></div>
            <div class="ratio-square radius-xs bg-green bg-650"></div>
            <div class="ratio-square radius-xs bg-green bg-600"></div>
            <div class="ratio-square radius-xs bg-green bg-550"></div>
            <div class="ratio-square radius-xs bg-green bg-500"></div>
            <div class="ratio-square radius-xs bg-green bg-450"></div>
            <div class="ratio-square radius-xs bg-green bg-400"></div>
            <div class="ratio-square radius-xs bg-green bg-350"></div>
            <div class="ratio-square radius-xs bg-green bg-300"></div>
            <div class="ratio-square radius-xs bg-green bg-250"></div>
            <div class="ratio-square radius-xs bg-green bg-200"></div>
            <div class="ratio-square radius-xs bg-green bg-150"></div>
            <div class="ratio-square radius-xs bg-green bg-100"></div>
            <div class="ratio-square radius-xs bg-green bg-50"></div>
          </div>
        </div>
      </li>

      <li>
        <div class="flex align-items-center justify-content-between mb-6">
          <code class="flex-none text-xs radius-sm w-128">.bg-cyan</code>
          <code class="flex-none text-xs radius-sm w-128 text-right color-cool-gray-400">h190 s60</code>       
        </div>
        <div class="flex">
          <div class="flex-1 grid overflow-hidden gap-4" style="grid-template-columns: repeat(19, minmax(0, 1fr));">
            <div class="ratio-square radius-xs bg-cyan bg-950"></div>
            <div class="ratio-square radius-xs bg-cyan bg-900"></div>
            <div class="ratio-square radius-xs bg-cyan bg-850"></div>
            <div class="ratio-square radius-xs bg-cyan bg-800"></div>
            <div class="ratio-square radius-xs bg-cyan bg-750"></div>
            <div class="ratio-square radius-xs bg-cyan bg-700"></div>
            <div class="ratio-square radius-xs bg-cyan bg-650"></div>
            <div class="ratio-square radius-xs bg-cyan bg-600"></div>
            <div class="ratio-square radius-xs bg-cyan bg-550"></div>
            <div class="ratio-square radius-xs bg-cyan bg-500"></div>
            <div class="ratio-square radius-xs bg-cyan bg-450"></div>
            <div class="ratio-square radius-xs bg-cyan bg-400"></div>
            <div class="ratio-square radius-xs bg-cyan bg-350"></div>
            <div class="ratio-square radius-xs bg-cyan bg-300"></div>
            <div class="ratio-square radius-xs bg-cyan bg-250"></div>
            <div class="ratio-square radius-xs bg-cyan bg-200"></div>
            <div class="ratio-square radius-xs bg-cyan bg-150"></div>
            <div class="ratio-square radius-xs bg-cyan bg-100"></div>
            <div class="ratio-square radius-xs bg-cyan bg-50"></div>
          </div>
        </div>
      </li>

      <li>
        <div class="flex align-items-center justify-content-between mb-6">
          <code class="flex-none text-xs radius-sm w-128">.bg-blue</code>
          <code class="flex-none text-xs radius-sm w-128 text-right color-cool-gray-400">h220 s70</code>       
        </div>
        <div class="flex">
          <div class="flex-1 grid overflow-hidden gap-4" style="grid-template-columns: repeat(19, minmax(0, 1fr));">
            <div class="ratio-square radius-xs bg-blue bg-950"></div>
            <div class="ratio-square radius-xs bg-blue bg-900"></div>
            <div class="ratio-square radius-xs bg-blue bg-850"></div>
            <div class="ratio-square radius-xs bg-blue bg-800"></div>
            <div class="ratio-square radius-xs bg-blue bg-750"></div>
            <div class="ratio-square radius-xs bg-blue bg-700"></div>
            <div class="ratio-square radius-xs bg-blue bg-650"></div>
            <div class="ratio-square radius-xs bg-blue bg-600"></div>
            <div class="ratio-square radius-xs bg-blue bg-550"></div>
            <div class="ratio-square radius-xs bg-blue bg-500"></div>
            <div class="ratio-square radius-xs bg-blue bg-450"></div>
            <div class="ratio-square radius-xs bg-blue bg-400"></div>
            <div class="ratio-square radius-xs bg-blue bg-350"></div>
            <div class="ratio-square radius-xs bg-blue bg-300"></div>
            <div class="ratio-square radius-xs bg-blue bg-250"></div>
            <div class="ratio-square radius-xs bg-blue bg-200"></div>
            <div class="ratio-square radius-xs bg-blue bg-150"></div>
            <div class="ratio-square radius-xs bg-blue bg-100"></div>
            <div class="ratio-square radius-xs bg-blue bg-50"></div>
          </div>
        </div>
      </li>

      <li>
        <div class="flex align-items-center justify-content-between mb-6">
          <code class="flex-none text-xs radius-sm w-128">.bg-purple</code>
          <code class="flex-none text-xs radius-sm w-128 text-right color-cool-gray-400">h310 s60</code>       
        </div>
        <div class="flex">
          <div class="flex-1 grid overflow-hidden gap-4" style="grid-template-columns: repeat(19, minmax(0, 1fr));">
            <div class="ratio-square radius-xs bg-purple bg-950"></div>
            <div class="ratio-square radius-xs bg-purple bg-900"></div>
            <div class="ratio-square radius-xs bg-purple bg-850"></div>
            <div class="ratio-square radius-xs bg-purple bg-800"></div>
            <div class="ratio-square radius-xs bg-purple bg-750"></div>
            <div class="ratio-square radius-xs bg-purple bg-700"></div>
            <div class="ratio-square radius-xs bg-purple bg-650"></div>
            <div class="ratio-square radius-xs bg-purple bg-600"></div>
            <div class="ratio-square radius-xs bg-purple bg-550"></div>
            <div class="ratio-square radius-xs bg-purple bg-500"></div>
            <div class="ratio-square radius-xs bg-purple bg-450"></div>
            <div class="ratio-square radius-xs bg-purple bg-400"></div>
            <div class="ratio-square radius-xs bg-purple bg-350"></div>
            <div class="ratio-square radius-xs bg-purple bg-300"></div>
            <div class="ratio-square radius-xs bg-purple bg-250"></div>
            <div class="ratio-square radius-xs bg-purple bg-200"></div>
            <div class="ratio-square radius-xs bg-purple bg-150"></div>
            <div class="ratio-square radius-xs bg-purple bg-100"></div>
            <div class="ratio-square radius-xs bg-purple bg-50"></div>
          </div>
        </div>
      </li>

      <li>
        <div class="flex align-items-center justify-content-between mb-6">
          <code class="flex-none text-xs radius-sm w-128">.bg-violet</code>
          <code class="flex-none text-xs radius-sm w-128 text-right color-cool-gray-400">h300 s75</code>       
        </div>
        <div class="flex">
          <div class="flex-1 grid overflow-hidden gap-4" style="grid-template-columns: repeat(19, minmax(0, 1fr));">
            <div class="ratio-square radius-xs bg-violet bg-950"></div>
            <div class="ratio-square radius-xs bg-violet bg-900"></div>
            <div class="ratio-square radius-xs bg-violet bg-850"></div>
            <div class="ratio-square radius-xs bg-violet bg-800"></div>
            <div class="ratio-square radius-xs bg-violet bg-750"></div>
            <div class="ratio-square radius-xs bg-violet bg-700"></div>
            <div class="ratio-square radius-xs bg-violet bg-650"></div>
            <div class="ratio-square radius-xs bg-violet bg-600"></div>
            <div class="ratio-square radius-xs bg-violet bg-550"></div>
            <div class="ratio-square radius-xs bg-violet bg-500"></div>
            <div class="ratio-square radius-xs bg-violet bg-450"></div>
            <div class="ratio-square radius-xs bg-violet bg-400"></div>
            <div class="ratio-square radius-xs bg-violet bg-350"></div>
            <div class="ratio-square radius-xs bg-violet bg-300"></div>
            <div class="ratio-square radius-xs bg-violet bg-250"></div>
            <div class="ratio-square radius-xs bg-violet bg-200"></div>
            <div class="ratio-square radius-xs bg-violet bg-150"></div>
            <div class="ratio-square radius-xs bg-violet bg-100"></div>
            <div class="ratio-square radius-xs bg-violet bg-50"></div>
          </div>
        </div>
      </li>

      <li>
        <div class="flex align-items-center justify-content-between mb-6">
          <code class="flex-none text-xs radius-sm w-128">.bg-pink</code>
          <code class="flex-none text-xs radius-sm w-128 text-right color-cool-gray-400">h340 s75</code>       
        </div>
        <div class="flex">
          <div class="flex-1 grid overflow-hidden gap-4" style="grid-template-columns: repeat(19, minmax(0, 1fr));">
            <div class="ratio-square radius-xs bg-pink bg-950"></div>
            <div class="ratio-square radius-xs bg-pink bg-900"></div>
            <div class="ratio-square radius-xs bg-pink bg-850"></div>
            <div class="ratio-square radius-xs bg-pink bg-800"></div>
            <div class="ratio-square radius-xs bg-pink bg-750"></div>
            <div class="ratio-square radius-xs bg-pink bg-700"></div>
            <div class="ratio-square radius-xs bg-pink bg-650"></div>
            <div class="ratio-square radius-xs bg-pink bg-600"></div>
            <div class="ratio-square radius-xs bg-pink bg-550"></div>
            <div class="ratio-square radius-xs bg-pink bg-500"></div>
            <div class="ratio-square radius-xs bg-pink bg-450"></div>
            <div class="ratio-square radius-xs bg-pink bg-400"></div>
            <div class="ratio-square radius-xs bg-pink bg-350"></div>
            <div class="ratio-square radius-xs bg-pink bg-300"></div>
            <div class="ratio-square radius-xs bg-pink bg-250"></div>
            <div class="ratio-square radius-xs bg-pink bg-200"></div>
            <div class="ratio-square radius-xs bg-pink bg-150"></div>
            <div class="ratio-square radius-xs bg-pink bg-100"></div>
            <div class="ratio-square radius-xs bg-pink bg-50"></div>
          </div>
        </div>
      </li>
      
    </ul>
  </div>
</div>