<div class="flex sm.align-items-center h-100p p-40">
  <ul class="grid grid-cols-2 gap-40 w-100p">
    <li>
      <div class="flex align-items-center justify-content-between mb-6">
        <code class="flex-none text-xs radius-sm">.radius-2xs</code>
        <code class="flex-none text-xs radius-sm color-cool-gray-600">3px</code>       
      </div>
      <div class="h-72 radius-2xs border-4 border-primary-500">
        
      </div>
    </li>

    <li>
      <div class="flex align-items-center justify-content-between mb-6">
        <code class="flex-none text-xs radius-sm">.radius-xs</code>
        <code class="flex-none text-xs radius-sm color-cool-gray-600">4px</code>       
      </div>
      <div class="h-72 radius-xs border-4 border-primary-500">
        
      </div>
    </li>

    <li>
      <div class="flex align-items-center justify-content-between mb-6">
        <code class="flex-none text-xs radius-sm">.radius-sm</code>
        <code class="flex-none text-xs radius-sm color-cool-gray-600">6px</code>       
      </div>
      <div class="h-72 radius-sm border-4 border-primary-500">
        
      </div>
    </li>

    <li>
      <div class="flex align-items-center justify-content-between mb-6">
        <code class="flex-none text-xs radius-sm">.radius-md</code>
        <code class="flex-none text-xs radius-sm color-cool-gray-600">8px</code>       
      </div>
      <div class="h-72 radius-md border-4 border-primary-500">
        
      </div>
    </li>

    <li>
      <div class="flex align-items-center justify-content-between mb-6">
        <code class="flex-none text-xs radius-sm">.radius-lg</code>
        <code class="flex-none text-xs radius-sm color-cool-gray-600">12px</code>       
      </div>
      <div class="h-72 radius-lg border-4 border-primary-500">
        
      </div>
    </li>

    <li>
      <div class="flex align-items-center justify-content-between mb-6">
        <code class="flex-none text-xs radius-sm">.radius-xl</code>
        <code class="flex-none text-xs radius-sm color-cool-gray-600">18px</code>       
      </div>
      <div class="h-72 radius-xl border-4 border-primary-500">
        
      </div>
    </li>

    <li>
      <div class="flex align-items-center justify-content-between mb-6">
        <code class="flex-none text-xs radius-sm">.radius-2xl</code>
        <code class="flex-none text-xs radius-sm color-cool-gray-600">24px</code>       
      </div>
      <div class="h-72 radius-2xl border-4 border-primary-500">
        
      </div>
    </li>

    <li>
      <div class="flex align-items-center justify-content-between mb-6">
        <code class="flex-none text-xs radius-sm">.radius-full</code>
        <code class="flex-none text-xs radius-sm color-cool-gray-600">9999px</code>       
      </div>
      <div class="h-72 radius-full border-4 border-primary-500">
        
      </div>
    </li>
    
  </ul>
</div>