<div class="p-40">
  <ul class="grid grid-cols-1 gap-24 w-100p">
    <li>
      <div class="flex align-items-center justify-content-between mb-6">
        <code class="flex-none text-xs radius-sm">.shadow-2xs</code> 
        <code class="flex-none text-xs radius-sm color-cool-gray color-400">0 1px 2px 0 rgba(0, 0, 0, 0.1)</code>     
      </div>
      <div class="h-40 radius-sm bg-white shadow-2xs">
        
      </div>
    </li>

    <li>
      <div class="flex align-items-center justify-content-between mb-6">
        <code class="flex-none text-xs radius-sm">.shadow-xs</code>
        <code class="flex-none text-xs radius-sm color-cool-gray color-400">0 2px 4px rgba(0, 0, 0, 0.15)</code>     
      </div>
      <div class="h-40 radius-sm bg-white shadow-xs">
        
      </div>
    </li>

    <li>
      <div class="flex align-items-center justify-content-between mb-6">
        <code class="flex-none text-xs radius-sm">.shadow-sm</code>
        <code class="flex-none text-xs radius-sm color-cool-gray color-400">0 3px 6px rgba(0, 0, 0, 0.2)</code>      
      </div>
      <div class="h-40 radius-sm bg-white shadow-sm">
        
      </div>
    </li>

    <li>
      <div class="flex align-items-center justify-content-between mb-6">
        <code class="flex-none text-xs radius-sm">.shadow-md</code>
        <code class="flex-none text-xs radius-sm color-cool-gray color-400">0 4px 8px rgba(0, 0, 0, 0.25)</code>    
      </div>
      <div class="h-40 radius-sm bg-white shadow-md">
        
      </div>
    </li>

    <li>
      <div class="flex align-items-center justify-content-between mb-6">
        <code class="flex-none text-xs radius-sm">.shadow-lg</code>
        <code class="flex-none text-xs radius-sm color-cool-gray color-400">0 6px 12px rgba(0, 0, 0, 0.3)</code>     
      </div>
      <div class="h-40 radius-sm bg-white shadow-lg">
        
      </div>
    </li>

    <li>
      <div class="flex align-items-center justify-content-between mb-6">
        <code class="flex-none text-xs radius-sm">.shadow-xl</code>
        <code class="flex-none text-xs radius-sm color-cool-gray color-400">0 12px 24px rgba(0, 0, 0, 0.35)</code>     
      </div>
      <div class="h-40 radius-sm bg-white shadow-xl">
        
      </div>
    </li>

    <li>
      <div class="flex align-items-center justify-content-between mb-6">
        <code class="flex-none text-xs radius-sm">.shadow-2xl</code>
        <code class="flex-none text-xs radius-sm color-cool-gray color-400">0 24px 48px rgba(0, 0, 0, 0.4)</code>     
      </div>
      <div class="h-40 radius-sm bg-white shadow-2xl">
        
      </div>
    </li>
    
  </ul>
</div>