<div class="bg-white overflow-hidden">

  <div class="p-40">

    <ul class="grid grid-cols-1 gap-20">
      <li>
        <div class="flex align-items-center justify-content-between mb-6">
          <code class="flex-none text-xs radius-sm w-64">.h-1</code>
          <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray-400">1px</code>
        </div>
        <div class="w-100p h-1 bg-primary-500"></div>
      </li>

      <li>
        <div class="flex align-items-center justify-content-between mb-6">
          <code class="flex-none text-xs radius-sm w-64">.h-2</code>
          <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray-400">2px</code>
        </div>
        <div class="w-100p h-2 bg-primary-500"></div>
      </li>

      <li>
        <div class="flex align-items-center justify-content-between mb-6">
          <code class="flex-none text-xs radius-sm w-64">.h-4</code>
          <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray-400">4px</code>
        </div>
        <div class="w-100p h-4 bg-primary-500"></div>
      </li>

      <li>
        <div class="flex align-items-center justify-content-between mb-6">
          <code class="flex-none text-xs radius-sm w-64">.h-6</code>
          <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray-400">6px</code>
        </div>
        <div class="w-100p h-6 bg-primary-500"></div>
      </li>

      <li>
        <div class="flex align-items-center justify-content-between mb-6">
          <code class="flex-none text-xs radius-sm w-64">.h-8</code>
          <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray-400">8px</code>
        </div>
        <div class="w-100p h-8 bg-primary-500"></div>
      </li>

      <li>
        <div class="flex align-items-center justify-content-between mb-6">
          <code class="flex-none text-xs radius-sm w-64">.h-10</code>
          <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray-400">10px</code>
        </div>
        <div class="w-100p h-10 bg-primary-500"></div>
      </li>

      <li>
        <div class="flex align-items-center justify-content-between mb-6">
          <code class="flex-none text-xs radius-sm w-64">.h-12</code>
          <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray-400">12px</code>
        </div>
        <div class="w-100p h-12 bg-primary-500"></div>
      </li>

      <li>
        <div class="flex align-items-center justify-content-between mb-6">
          <code class="flex-none text-xs radius-sm w-64">.h-14</code>
          <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray-400">14px</code>
        </div>
        <div class="w-100p h-14 bg-primary-500"></div>
      </li>

      <li>
        <div class="flex align-items-center justify-content-between mb-6">
          <code class="flex-none text-xs radius-sm w-64">.h-16</code>
          <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray-400">16px</code>
        </div>
        <div class="w-100p h-16 bg-primary-500"></div>
      </li>

      <li>
        <div class="flex align-items-center justify-content-between mb-6">
          <code class="flex-none text-xs radius-sm w-64">.h-20</code>
          <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray-400">20px</code>
        </div>
        <div class="w-100p h-20 bg-primary-500"></div>
      </li>

      <li>
        <div class="flex align-items-center justify-content-between mb-6">
          <code class="flex-none text-xs radius-sm w-64">.h-24</code>
          <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray-400">24px</code>
        </div>
        <div class="w-100p h-24 bg-primary-500"></div>
      </li>






      
    </ul>
  </div>
</div>