<div class="p-40">
  <ul class="grid grid-cols-1 gap-32 w-100p">
    <li>
      <div class="flex align-items-center justify-content-between">
        <code class="flex-none text-xs radius-sm w-64">.ultralight</code>
        <div class="ultralight text-2xl color-primary-400 font-sans" style="--font-sans: 'system-ui';">
          Uniform
        </div>
        <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray-600">100</code>
      </div>
    </li>

    <li>
      <div class="flex align-items-center justify-content-between">
        <code class="flex-none text-xs radius-sm w-64">.extralight</code>
        <div class="extralight text-2xl color-primary-400 font-sans" style="--font-sans: 'system-ui';">
          Uniform
        </div>
        <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray-600">200</code>
      </div>
    </li>

    <li>
      <div class="flex align-items-center justify-content-between">
        <code class="flex-none text-xs radius-sm w-64">.light</code>
        <div class="light text-2xl color-primary-400 font-sans" style="--font-sans: 'system-ui';">
          Uniform
        </div>
        <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray-600">300</code>
      </div>
    </li>

    <li>
      <div class="flex align-items-center justify-content-between">
        <code class="flex-none text-xs radius-sm w-64">.regular</code>
        <div class="regular text-2xl color-primary-400 font-sans" style="--font-sans: 'system-ui';">
          Uniform
        </div>
        <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray-600">400</code>
      </div>
    </li>

    <li>
      <div class="flex align-items-center justify-content-between">
        <code class="flex-none text-xs radius-sm w-64">.semibold</code>
        <div class="semibold text-2xl color-primary-400 font-sans" style="--font-sans: 'system-ui';">
          Uniform
        </div>
        <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray-600">500</code>
      </div>
    </li>

    <li>
      <div class="flex align-items-center justify-content-between">
        <code class="flex-none text-xs radius-sm w-64">.semibold</code>
        <div class="semibold text-2xl color-primary-400 font-sans" style="--font-sans: 'system-ui';">
          Uniform
        </div>
        <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray-600">600</code>
      </div>
    </li>

    <li>
      <div class="flex align-items-center justify-content-between">
        <code class="flex-none text-xs radius-sm w-64">.bold</code>
        <div class="bold text-2xl color-primary-400 font-sans" style="--font-sans: 'system-ui';">
          Uniform
        </div>
        <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray-600">700</code>
      </div>
    </li>

    <li>
      <div class="flex align-items-center justify-content-between">
        <code class="flex-none text-xs radius-sm w-64">.extrabold</code>
        <div class="extrabold text-2xl color-primary-400 font-sans" style="--font-sans: 'system-ui';">
          Uniform
        </div>
        <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray-600">800</code>
      </div>
    </li>

    <li>
      <div class="flex align-items-center justify-content-between">
        <code class="flex-none text-xs radius-sm w-64">.ultrabold</code>
        <div class="ultrabold text-2xl color-primary-400 font-sans" style="--font-sans: 'system-ui';">
          Uniform
        </div>
        <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray-600">900</code>
      </div>
    </li>

    

    






    
  </ul>
</div>