<div class="bg-white overflow-hidden">

  <div class="p-40">

    <ul class="w-100p">
      <li class="py-12">
        <div class="flex align-items-center justify-content-between">
          <code class="flex-none text-xs radius-sm w-64">.ultralight</code>
          <div class="ultralight text-2xl color-primary font-sans" style="--font-sans: 'system-ui';">
            Uniform
          </div>
          <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray color-400">100</code>
        </div>
      </li>

      <li class="py-12">
        <div class="flex align-items-center justify-content-between">
          <code class="flex-none text-xs radius-sm w-64">.extralight</code>
          <div class="extralight text-2xl color-primary font-sans" style="--font-sans: 'system-ui';">
            Uniform
          </div>
          <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray color-400">200</code>
        </div>
      </li>

      <li class="py-12">
        <div class="flex align-items-center justify-content-between">
          <code class="flex-none text-xs radius-sm w-64">.light</code>
          <div class="light text-2xl color-primary font-sans" style="--font-sans: 'system-ui';">
            Uniform
          </div>
          <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray color-400">300</code>
        </div>
      </li>

      <li class="py-12">
        <div class="flex align-items-center justify-content-between">
          <code class="flex-none text-xs radius-sm w-64">.regular</code>
          <div class="regular text-2xl color-primary font-sans" style="--font-sans: 'system-ui';">
            Uniform
          </div>
          <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray color-400">400</code>
        </div>
      </li>

      <li class="py-12">
        <div class="flex align-items-center justify-content-between">
          <code class="flex-none text-xs radius-sm w-64">.semibold</code>
          <div class="semibold text-2xl color-primary font-sans" style="--font-sans: 'system-ui';">
            Uniform
          </div>
          <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray color-400">500</code>
        </div>
      </li>

      <li class="py-12">
        <div class="flex align-items-center justify-content-between">
          <code class="flex-none text-xs radius-sm w-64">.semibold</code>
          <div class="semibold text-2xl color-primary font-sans" style="--font-sans: 'system-ui';">
            Uniform
          </div>
          <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray color-400">600</code>
        </div>
      </li>

      <li class="py-12">
        <div class="flex align-items-center justify-content-between">
          <code class="flex-none text-xs radius-sm w-64">.bold</code>
          <div class="bold text-2xl color-primary font-sans" style="--font-sans: 'system-ui';">
            Uniform
          </div>
          <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray color-400">700</code>
        </div>
      </li>

      <li class="py-12">
        <div class="flex align-items-center justify-content-between">
          <code class="flex-none text-xs radius-sm w-64">.extrabold</code>
          <div class="extrabold text-2xl color-primary font-sans" style="--font-sans: 'system-ui';">
            Uniform
          </div>
          <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray color-400">800</code>
        </div>
      </li>

      <li class="py-12">
        <div class="flex align-items-center justify-content-between">
          <code class="flex-none text-xs radius-sm w-64">.ultrabold</code>
          <div class="ultrabold text-2xl color-primary font-sans" style="--font-sans: 'system-ui';">
            Uniform
          </div>
          <code class="flex-none text-xs radius-sm w-48 text-right color-cool-gray color-400">900</code>
        </div>
      </li>

      

      






      
    </ul>
  </div>
</div>