@use "uniform/core";
@use "sass:map";

$name: translate-y;
$shorthand: translate-y;
$responsive: true;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (--translate-y);
$custom-properties: ();

$range-limit: map.get(core.$all-config, range-limits, translate);

$variants: (
	core.merge(
    core.positive-sizes($range-limit),
    core.negative-sizes($range-limit),
    (
      50p: 50%,
      100p: 100%,
      n50p: -50%,
      n100p: -100%
    )
  )
);

$pseudos: (hover, group-hover);

$config: (
  utility: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      custom-properties: $custom-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);
