@use "uniform/core";
@use "sass:map";

$name: margin-y;
$shorthand: my;
$responsive: true;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (margin-top, margin-bottom);
$custom-properties: ();

$range-limit: map.get(core.$all-config, range-limits, margin);

$variants: (
	core.merge(
		core.positive-sizes($range-limit),
		(
      auto: auto,
      0: 0,
    )
	)
);

$pseudos: ();

$config: (
  utility: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      custom-properties: $custom-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);