---
title: Lightning Fast Utility Generator for Sass
layout: layouts/base.njk

scss_example: |
  @use "uniform" as * with (
    $config: (
      important: true
    )
  );
css_example: |
  .text-left { 
    text-align: left !important; 
  }
  .text-center { 
    text-align: center !important; 
  }
  .text-right { 
    text-align: right !important; 
  }
  .block {
    display: block !important;
  }
  .flex {
    display: flex !important;
  }
clone_uniform: |
  npm install uniformcss
compile_uniform: |
  @use "uniform" as *;
load_uniform: |
  <head>
    <!-- Load your compiled stylesheet here -->
    <link rel="stylesheet" href="/uniform.min.css">
  </head>

  <body>
    <!-- Style components using composable utilities -->
    <div class="max-w-1025 mx-auto py-48">
      <h1 class="text-4xl text-center extrabold color-pink-500 mb-24">
        Hello World!
      </h1>
    </div>
  </body>
add_animation: |
  <div class="animate-ping ..."></div>
load_plugins: |
  @use "uniform" as *;
  @use "uniform/plugins/wrapper";
  @use "uniform/plugins/markdown";
  @use "uniform/plugins/ratio";
  @use "uniform/plugins/animate";
  @use "uniform/plugins/ring";
animate_plugin: |
  <main class="wrapper markdown">

    <h1 class="fade-in-from-top" style="--animate-delay: 0s;">
      Typewriter delectus cred
    </h1>

    <p class="fade-in-from-top" style="--animate-delay: 0.2s;">
      Cosby sweater plaid shabby chic kitsch pour-over ex. 
      Meggings kogi vinyl meh, food truck banh mi Etsy.
    </p>

    <button class="ring">Focus me</button>

  </main>
api_function_input: |
  @use "uniform" as * with (
    $config: (    
      colors: ( navbar: #3a37d3 ),
      shadows: ( card: 0 4px 60px 0 rgba(90, 134, 234, 0.2) )
    )
  );

  .navbar {
    display: flex;
    background: fill(navbar);
    box-shadow: shadow(card);
    padding: size(20, 24);
  }
api_function_output: |
  .navbar {
    display: flex;
    background: #3a37d3;
    box-shadow: 0 4px 60px 0 rgba(90, 134, 234, 0.2);
    padding: 1.25rem 1.5rem;
  }
configure_sass: |
  @use "uniform" as * with (
    $config: (    
      colors: ( 
        navbar: #3a37d3,
        footer: #5a6072,
        seagreen: #188657,
      ),
      shadows: (
        card: 0 4px 60px 0 rgba(90, 134, 234, 0.2)
      )
    )
  );
configure_css: |
  :root {
    --font-sans: sans-serif;
    --font-mono: menlo;
    
    --semibold: 600;
    --bold: 700;
    --extrabold: 800;
  }

# SECTION - POWER FEATURES
config_shorthand_input: |
  // main.scss

  @use "uniform" as * with (
    $config: (    
      utilities: (
        margin-top: (
          shorthand: mt
        ),
        margin-right: (
          shorthand: marginRight
        )
      )
    )
  );
config_shorthand_output: |
  /* main.css */
  
  .mt-1 {
    margin-top: 0.062rem;
  }
  .mt-2 {
    margin-top: 0.125rem;
  }
  ...

  .marginRight-1 {
    margin-right: 0.062rem;
  }
  ...
config_important_input: |
  // main.scss

  @use "uniform" as * with (
    $config: (    
      important: true
    )
  );
config_important_output: |
  /* main.css */
  
  .align-baseline {
    vertical-align: baseline !important;
  }
  .align-top {
    vertival-align: top !important;
  }
  .align-middle {
    vertical-align: middle !important;
  }
  .align-bottom	{
    vertival-align: bottom !important;
  }
  .align-text-top	{
    vertical-align: text-top !important;
  }
  .align-text-bottom {
    vertical-align: text-bottom !important;
  }
  ...
config_delimiter_input: |
  // main.scss

  @use "uniform" as * with (
    $config: (    
      delimiter: '--',
      pseudo-delimiter: '__',
      screen-delimiter: '.',
    )
  );
config_delimiter_output: |
  /* main.css */
  
  .bg--opacity-50 {
    --bg-opacity: 0.5;
  }
  .hover__bg--opacity-50:hover {
    --bg-opacity: 0.5;
  }
  .focus__bg--opacity-50:focus {
    --bg-opacity: 0.5;
  }
  ...

  @media (min-width: 768px) {
    .sm\.text--center {
      text-align: center;
    }
  }
  ...
config_comma_compression_input: |
  // main.scss

  @use "uniform" as * with (
    $config: (    
      comma-compression: true
    )
  );
config_comma_compression_output: |
  /* main.css */
  
  .bg-opacity-50, 
  .focus\.bg-opacity-50:focus, 
  .group:hover .group-hover\.bg-opacity-50, 
  .hover\.bg-opacity-50:hover {
    --bg-opacity: 0.5;
  }
  .bg-opacity-55, 
  .focus\.bg-opacity-55:focus, 
  .group:hover .group-hover\.bg-opacity-55, 
  .hover\.bg-opacity-55:hover {
    --bg-opacity: 0.55;
  }
  .bg-opacity-60, 
  .focus\.bg-opacity-60:focus, 
  .group:hover .group-hover\.bg-opacity-60, 
  .hover\.bg-opacity-60:hover {
    --bg-opacity: 0.6;
  }
  ...
config_prefix_input: |
  // main.scss

  @use "uniform" as * with (
    $config: (    
      prefix: 'u-',
    )
  );
config_prefix_output: |
  /* main.css */
  
  .u-inline {
    display: inline;
  }
  .u-block {
    display: block;
  }
  .u-flex {
    display: flex;
  }
  .u-grid {
    display: grid;
  }
  .u-inline-block {
    display: inline-block;
  }
  .u-inline-flex {
    display: inline-flex;
  }
  ...
config_apply_input: |
  // main.scss

  .parent {
    @include apply('p-40 shadow-2xs radius-2xl');

    .child {
      @include apply('hover.opacity-50 p-24 md.p-64');
    }
  }
config_apply_output: |
  /* main.css */

  .parent {
    padding: 2.5rem;
    box-shadow: var(--shadow-2xs);
    border-radius: var(--radius-2xl);
  }
  .parent .child {
    padding: 1.5rem;
  }
  .parent .child:hover {
    opacity: 0.5;
  }

  @media (min-width: 1024px) {
    .parent .child {
      padding: 4rem;
    }
  }
config_api_functions_input: |
  // main.scss

  .parent {
    padding: size(24, 32); // 1.5rem 2.5rem;
    background: fill(red-400, .4);
    border-radius: radius(lg);

    .child {
      font-family: font(sans);
      font-size: font(lg);
      font-weight: font(semibold);
      line-height: leading(looser);
    }
  }
config_api_functions_output: |
  /* main.css */

  .parent {
    padding: 1.5rem 2rem;
    background: rgba(var(--red-400), 0.4);
    border-radius: var(--radius-lg);
  }

  .parent .child {
    font-family: var(--font-sans);
    font-size: var(--font-lg);
    font-weight: var(--semibold);
    line-height: var(--leading-looser);
  }
config_helpers_input: |
  // main.scss

  .element {
    font-size: rem(11);
    
    @include screen(sm) {
      font-size: rem(13);
    }
    @include screen(lg) {
      font-size: rem(15);
    }
  }
config_helpers_output: |
  /* main.css */

  .element {
    font-size: 0.687rem;
  }

  @media (min-width: 768px) {
    .element {
      font-size: 0.812rem;
    }
  }
  @media (min-width: 1280px) {
    .element {
      font-size: 0.937rem;
    }
  }
config_json_input: |
  // main.scss

  @use "uniform" as * with (
    $config: (
      output: 'json'
    )
  );
config_json_output: |
  {
    "text-decoration": {
      "important": "false",
      "extra-selector": "",
      "responsive": "false",
      "pseudos": "hover, group-hover, focus",
      "classes": {
        "underline": {
          "text-decoration": "underline"
        },
        "line-through": {
          "text-decoration": "line-through"
        },
        "no-underline": {
          "text-decoration": "none"
        }
      }
    }
  },
  ...
---

<nav class="fade-in-from-top opacity-0 hidden md.block sticky top-n1 px-32 bg-background relative z-3"
  style="--animate-delay: 0.2s; --animate-duration: .6s; --animate-from: -24px;">
  <div class="max-w-1152 mx-auto">
    <div class="flex align-items-center justify-content-between py-24 mx-auto">
      <div class="w-256 flex align-items-center">
        <a href="/" class="inline-flex align-items-center text-lg semibold tracking-tight">
          <img src="/assets/img/uniform-logo-white.svg" class="h-24 mr-6">
          <span class="relative mt-n6 color-accent-pink-2 uppercase font-xs bold tracking-loose">
            2.0
          </span>
        </a>
      </div>

      <div class="flex align-items-center justify-content-end gutter-x-24">
        <a class="text-md medium color-pink-200 color-opacity-70 hover.color-opacity-90">
          Get started
        </a>
        <a class="text-md medium color-pink-200 color-opacity-70 hover.color-opacity-90">
          Appendix
        </a>
        <a class="text-md medium color-pink-200 color-opacity-70 hover.color-opacity-90">
          Docs
        </a>
        <a class="text-md medium color-pink-200 color-opacity-70 hover.color-opacity-90">
          Cheatsheet
        </a>
        <a class="text-3xl medium color-pink-100 hover.color-white">
          <ion-icon name="logo-github"></ion-icon>
        </a>
        
      </div>
      
    </div>
  </div>
</nav>

<section>
  <div class="px-32">
    <div class="fade-in max-w-1152 mx-auto pt-56 sm.pt-72 pb-72">

      {# <div class="sm.flex justify-content-center mb-28 fade-in opacity-0" style="--animate-delay: .8s;">
        <a href="https://www.producthunt.com/posts/uniform-css?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-uniform-css" class="inline-flex align-items-center text-lg semibold tracking-tight">
          <img src="/assets/img/featured.svg" class="max-w-192">
        </a>
      </div> #}

      <div class="inline-flex align-items-center bg-white bg-opacity-8 mb-14 px-18 py-4 semibold text-sm radius-full color-white">
        Built entirely in <ion-icon name="logo-sass" class="w-28 h-28 ml-10 color-pink-400"></ion-icon>
      </div>

      <h1 class="font-6xl sm.font-7xl md.font-8xl lg.font-9xl leading-110 extrabold mb-24 tracking-tighter color-accent-pink-2">
        <span class="color-accent-pink-1">Roll your own flexible</span> utility class <br>generator built for Sass projects
      </h1>
      
      <p class="text-xl md.text-lg max-w-640 tracking-tight mb-48 color-paragraph">
        Fully customizable utilities-class generator and CSS framework to help you quickly generate just the utilities you need directly in Sass.
      </p>
      
      <div class="flex gap-10">
        <a href="/docs/overview" class="inline-flex align-items-center h-40 px-16 color-black bg-yellow-200 hover.bg-yellow-300 transition-100 radius-md semibold text-md"
        style="--animate-delay: 1s;">
          Read docs
        </a>
        <div class="inline-flex align-items-center h-40 radius-md px-16 bg-input-background input-border text-sm color-white">
          <pre><code><span class="color-pink-300">npm install</span> uniformcss</code></pre>
          <div x-data="{
            tooltip: false
          }">
            <div class="ml-12 flex align-items-center relative" x-on:mouseenter="tooltip = true" x-on:mouseleave="tooltip = false">
              <button class="text-md leading-100 color-pink-200 color-opacity-70 hover.color-opacity-90">
                <ion-icon name="copy"></ion-icon>
              </button>
              <div class="absolute bottom-100p left-50p transform translate-x-n50p z-10 mb-8 bg-black radius-sm shadow-md space-normal z-2 pointer-events-none" x-show="tooltip" x-transition:enter="duration-200" x-transition:enter-start="opacity-0 mb-0" x-transition:enter-end="opacity-100 mb-8" x-transition:leave="duration-200" x-transition:leave-start="opacity-100 mb-0" x-transition:leave-end="opacity-0 mb-8" style="display: none;">
                <div class="flex align-items-center px-10 py-8 space-nowrap text-xs leading-100 regular color-white">
                  Copy
                </div>
                
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div class="px-32">
    <div class="max-w-1152 mx-auto">
      <div class=" flex align-items-end justify-content-between mb-72">
        <div>
          <div class="mb-16 uppercase tracking-looser semibold text-xs color-pink-200 color-opacity-60">
            Used and loved by
          </div>

          <div class="flex align-items-center gap-36">
            <a href="https://castle.io" target="_blank">
              <img src="/assets/img/logos/castle.svg" class="w-96">
            </a>
            <a href="https://rewatch.com/" target="_blank">
              <img src="/assets/img/logos/rewatch.svg" class="w-128">
            </a>
            <a href="https://hopmedic.com" target="_blank">
              <img src="/assets/img/logos/hopmedic.svg" class="relative top-2 w-128">
            </a>
            <a href="https://senderplate.com" target="_blank">
              <img src="/assets/img/logos/senderplate.svg" class="w-144">
            </a>
          </div>
        </div>
        <div class="relative flex-1">
          <div class="absolute bottom-0 right-0">
            <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CEAICKQW&placement=uniformcsscom" id="_carbonads_js"></script>
          </div>
        </div>
      </div>

      <div class="glass-container p-28">
        <div class="glass-container-inner h-640">
          <ul class="flex align-items-center border-b-1 border-white border-opacity-30">
            <li class="border-r-1 border-white border-opacity-20">
              <button class="flex align-items-center h-56 px-24 color-white text-sm semibold">
                <ion-icon name="logo-sass" class="w-24 h-24 color-pink-300 mr-10"></ion-icon> styles.scss
              </button>
            </li>
            <li class="border-r-1 border-white border-opacity-20">
              <button class="flex align-items-center h-56 px-24 color-white text-sm semibold bg-white bg-opacity-6">
                <span class="text-lg color-blue-300 mr-12">#</span> index.html
              </button>
            </li>
            
            <li class="border-r-1 border-white border-opacity-20">
              <button class="flex align-items-center h-56 px-24 color-white text-sm semibold bg-white bg-opacity-6">
                <span class="text-lg color-blue-300 mr-12">#</span> styles.css
              </button>
            </li>

            <li class="flex-1 bg-white bg-opacity-6 h-56">

            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>

{# {% include "partials/sections/get-started.njk" %}
{% include "partials/sections/start-building.njk" %}
{% include "partials/sections/power-features.njk" %}
{% include "partials/sections/enhanced-experience.njk" %}
{% include "partials/sections/easy-setup.njk" %} #}
<div class="h-512"></div>
{% include "partials/footer.njk" %}