@use "uniform" as * with (
  $config: (    
		dark-mode-support: true,
    utility: (
      background-color: (
      	extend: (
					pseudos: (
						active, hover, focus, group-hover, empty
					)
				)
      ),
      opacity: (
        extend: (
					pseudos: (focus, checked, disabled, group-hover)
				)
      ),
      border-color: (
      	extend: (
					pseudos: (
						focus-within
					)
				)
      ),
      color: (
        extend: (
					pseudos: (hover, group-hover, group-focus)
				)
      ),
			background-shade: (
				extend: (
					pseudos: (
						active
					)
				)
			)
    ),
    exclude: (
			
    ),
    include: (

    )
  )
);

@use "_root";
@use "markdown";
@use "animate";
@use "_ripple";
@use "_docsearch";
@use "_highlight";

[x-cloak] {
	display: none !important;
}

.falling-ball {
	display: block;
	position: absolute;
	top: -10px;
	left: -3px;
	width: 10px;
	height: 10px;
	background: #FF62B1;
	border-radius: 9999px;
	animation: falling-ball 1.5s linear infinite;
}

@keyframes falling-ball {
  from {top: -10px;}
  to {top: 60px;}
}

.toc {
	transition: 200ms;
	a {
		display: inline-flex;
		font-size: font-size(sm);
		font-weight: font-weight(medium);
		line-height: leading(looser);
		padding: size(6, 0);
		color: fill(cool-gray);
		&:hover {
			color: fill(cool-gray, shade-400);
		}
	}
	& > ol {
		ol {
			display: none;
		}
	}
}


.slider {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	height: var(--slider-track-height, 2px);
	outline: 0;
	background: var(--slider-track-color, #ccc);
	&::-webkit-slider-thumb {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		width: var(--slider-size, 14px);
		height: var(--slider-size, 14px);
		background: var(--slider-color, #000);
		cursor: pointer;
		border-radius: var(--slider-radius, 9999px);
		&:hover {
			background: var(--slider-hover-color, #000);
		}
	}
	&::-moz-slider-thumb {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		width: var(--slider-size, 14px);
		height: var(--slider-size, 14px);
		background: var(--slider-color, #000);
		cursor: pointer;
		border-radius: var(--slider-radius, 9999px);
		&:hover {
			background: var(--slider-hover-color, #000);
		}
	}
}


.markdown {
	h2 {
		// margin-top: 0;
		// padding-top: size(64);
		&:hover {
			a:before {
				display: inline-block;
			}
		}
		a:before {
			display: none;
			content: '#';
			font-weight: font-weight(semibold);
		}
	}

	pre {
		border-radius: var(--radius-md);
		margin-bottom: 1.5em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}