@use "uniform" as * with (
	$config: (
		// headless: true,
		utility: (
			color: (

			)
		)
	)
);

.box {
	@include apply('flex align-items-center justify-content-center md.h-192 block bg-red bg-50 md.py-40 hover.bg-blue')
}