@use "uniform/core";
@use "sass:map";

$name: stroke-width;
$shorthand: stroke;
$responsive: false;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (stroke-width);
$custom-properties: ();

$variants: (
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6
);

$pseudos: ();

$config: (
  utility: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      custom-properties: $custom-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);