@use "uniform/core";
@use "sass:map";

$name: split-opacity;
$shorthand: split-opacity;
$responsive: false;
$responsive-pseudos: false;
$extra-selector: '> * + *';

$properties: (#{--split-opacity});
$custom-properties: ();

$variants: (
	core.merge(
    core.opacities() 
	)
);

$pseudos: (dark);

$config: (
  utility: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      custom-properties: $custom-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);