@use "uniform/core";
@use "sass:map";

$name: split-style;
$shorthand: split;
$responsive: true;
$responsive-pseudos: false;
$extra-selector: '> * + *';

$properties: (border-style);
$static-properties: ();

$variants: (
  solid: solid,
  dashed: dashed,
  dotted: dotted,
  double: double,
  none: none
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      static-properties: $static-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);