@use "uniform/core";
@use "sass:map";

$name: split-y-width;
$shorthand: split-y;
$responsive: true;
$responsive-pseudos: false;
$extra-selector: '> * + *';

$properties: (border-width);
$static-properties: (
  --split-top: 1,
  --split-bottom: 0,
);

$range-limit: map.get(core.$all-config, range-limits, split-width);

$split-map: ();
@each $size-key, $size-value in core.sizes($range-limit) {
  $map: (
    $size-key: calc(#{$size-value} * var(--split-top)) 0 calc(#{$size-value} * var(--split-bottom)) 0,
  );
  $split-map: map.merge($split-map, $map);
}

$variants: (
  core.merge(
    $split-map,
    (
      0: 0,
    )
  )
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      static-properties: $static-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);