@use "uniform/core";
@use "sass:map";

$name: split-color;
$shorthand: split;
$responsive: true;
$responsive-pseudos: false;
$extra-selector: '> * + *';

$properties: (border-color);
$custom-properties: (
  --split-ltn: 50%,
  --split-opacity: 1,
);

$variants: (
  core.merge(
    core.split-colors(),
    (
      transparent: transparent,
      current: currentColor
    )
	)
);

$pseudos: ();

$config: (
  utility: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      custom-properties: $custom-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);