<section class="hidden md.block mb-128 md.mb-192 md.px-32" x-data="tabs()" x-init="init()">

  <div class="max-w-1152 mx-auto">
    <div class="text-center mb-24 md.mb-128">
      <div class="mb-16 text-xs md.text-sm tracking-loosest semibold uppercase color-primary color-900">
        Easy Setup
      </div>
      <h2 class="font-5xl md.font-6xl md.font-7xl lg.font-8xl leading-110 extrabold tracking-tighter color-primary color-900 mb-32">
        Extend and Customize
      </h2>
      <div class="flex align-items-center justify-content-center">
        <div class="p-6 radius-full bg-primary bg-900">
          <div class="relative flex radius-full overflow-hidden">
            <div class="inline-block absolute h-100p left-0 top-0 bg-linear radius-full z-1 transition-all duration-200"
              :style="'left: ' + left + 'px;' + 'width: ' + width + 'px'"></div>
            <a class="flex align-items-center text-md semibold color-white px-16 sm.px-20 h-32 md.h-40 z-1 is-active"
              @click.prevent="switcher($event, 0)">
              Configurable
            </a>
            <a class="flex align-items-center text-md semibold color-white px-16 sm.px-20 h-32 md.h-40 z-1" 
              @click.prevent="switcher($event, 1)">
              Plugin Support
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white md.shadow-card md.radius-2xl">
      <div class="grid grid-cols-12">
        <div class="col-12 md.col-5 px-24 md.px-48 md.px-64 py-64">
          <div 
            x-show.transition.in.opacity.duration.400="tab === 0">

            <div class="text-center md.text-left">
              <h3 class="font-3xl leading-130 md.text-4xl lg.text-5xl extrabold tracking-tight mb-24 color-primary color-900"><span class="color-primary color-400">Customize with</span> <br>or without Sass</h3>
              <p class="max-w-512 mx-auto text-lg color-cool-gray mb-32">Take advantage of the full Sass customizability or simply apply CSS variable overrides. Getting started with Uniform CSS is fast and easy.</p>
              <a href="/docs/configuration" class="text-lg color-primary semibold">Learn how to configure →</a>
            </div>

            <div class="flex justify-content-center md.justify-content-start flex-wrap pt-48">
              <ul class="gutter-y-10">
                <li class="flex align-items-center color-opacity-80 text-sm">
                  <div class="flex align-items-center justify-content-center w-24 h-24 mr-12 font-lg border-1 border-black radius-full color-black">
                    &check;
                  </div>
                  Customize theme directly in Sass
                </li>
                <li class="flex align-items-center color-opacity-80 text-sm">
                  <div class="flex align-items-center justify-content-center w-24 h-24 mr-12 font-lg border-1 border-black radius-full color-black">
                    &check;
                  </div>
                  CSS variable override support
                </li>
              </ul>
            </div>

          </div>
          
          <div 
            x-show.transition.in.opacity.duration.400="tab === 1">

            <div class="text-center md.text-left">
              <div class="mb-20">
                <span class="radius-sm px-8 py-4 bg-cool-gray bg-100 text-xs tracking-loosest semibold uppercase color-cool-gray color-500">
                  Coming soon
                </span>
              </div>
              <h3 class="font-3xl leading-130 md.text-4xl lg.text-5xl extrabold tracking-tight mb-24 color-primary color-900"><span class="color-primary color-400">Extendable</span> <br>with plugins</h3>
              <p class="max-w-512 mx-auto text-lg color-cool-gray mb-32">Add extra functionality to your project with first-party plugin support.</p>
              <span class="text-lg color-primary color-900 bold">Coming soon</span>
            </div>
            
            <div class="flex justify-content-center md.justify-content-start flex-wrap pt-48">
              <ul class="gutter-y-10">
                <li class="flex align-items-center color-opacity-80 text-sm">
                  <div class="flex align-items-center justify-content-center w-24 h-24 mr-12 font-lg border-1 border-black radius-full color-black">
                    &check;
                  </div>
                  Customizable settings support
                </li>
                <li class="flex align-items-center color-opacity-80 text-sm">
                  <div class="flex align-items-center justify-content-center w-24 h-24 mr-12 font-lg border-1 border-black radius-full color-black">
                    &check;
                  </div>
                  Works out of the box
                </li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="col-12 md.col-7 relative">
          <div class="absolute w-100p top-0 bottom-0 md.mt-n40 md.mb-n40 pb-40 md.pb-0 md.pr-32 md.pr-40 lg.pr-56" 
            x-show="tab === 0"
            x-transition:enter="transition-800"
            x-transition:enter-start="opacity-0 transform translate-x-n64 scale-90"
            x-transition:enter-end="opacity-100 transform scale-100"
            x-transition:leave="transition-400"
            x-transition:leave-start="opacity-100 transform translate-x-0 scale-100"
            x-transition:leave-end="opacity-0 transform translate-x-n64 scale-90">  

            <article class="md.radius-xl overflow-hidden bg-white">
              <header class="flex align-items-center h-64 px-20 border-b-1 border-cool-gray border-opacity-20 bg-tertiary bg-50">
                <ion-icon name="logo-sass" class="text-4xl color-pink color-500 mr-20"></ion-icon>
                <p class="text-sm color-primary color-900">
                  Customize your theme directly in Sass
                </p>
              </header>
              <div>
                {% highlight "scss" %}
                {{ configureSass | safe }}
                {% endhighlight %}
              </div>
            </article>

            <div class="flex justify-content-center h-48 overflow-hidden">
              <div class="relative grid grid-cols-1 gap-10">
                <span class="falling-ball"></span>
                <span class="block w-4 h-4 radius-full bg-primary bg-200"></span>
                <span class="block w-4 h-4 radius-full bg-primary bg-200"></span>
                <span class="block w-4 h-4 radius-full bg-primary bg-200"></span>
                <span class="block w-4 h-4 radius-full bg-primary bg-200"></span>
                <span class="block w-4 h-4 radius-full bg-primary bg-200"></span>
              </div>
            </div>

            <article class="md.radius-xl overflow-hidden bg-white">
              <header class="flex align-items-center h-64 px-20 border-b-1 border-cool-gray border-opacity-20 bg-tertiary bg-50">
                <span class="inline-flex align-items-center h-20 mr-16 px-6 bg-primary bg-900 color-white uppercase text-2xs extrabold radius-sm">css</span>
                <p class="text-sm color-primary color-900">
                  Or customize theme by defining CSS variables
                </p>
              </header>
              {% highlight "css" %}
              {{ configureCSS | safe }}
              {% endhighlight %}
            </article>

          </div>

          <div class="absolute w-100p top-0 bottom-0 md.mt-n40 md.mb-n40 pb-40 md.pb-0 md.pr-32 md.pr-40 lg.pr-56" 
            x-show="tab === 1"
            x-transition:enter="transition-800"
            x-transition:enter-start="opacity-0 transform translate-x-64 scale-90"
            x-transition:enter-end="opacity-100 transform scale-100"
            x-transition:leave="transition-400"
            x-transition:leave-start="opacity-100 transform translate-x-0 scale-100"
            x-transition:leave-end="opacity-0 transform translate-x-64 scale-90">  

            <article class="md.radius-xl overflow-hidden bg-white">
              <header class="flex align-items-center h-64 px-20 border-b-1 border-cool-gray border-opacity-20 bg-tertiary bg-50">
                <ion-icon name="logo-sass" class="text-4xl color-pink color-500 mr-20"></ion-icon>
                <p class="text-sm color-primary color-900">
                  Load plugins directly in Sass
                </p>
              </header>
              <div>
                {% highlight "scss" %}
                {{ loadPlugins | safe }}
                {% endhighlight %}
              </div>
            </article>

            <div class="flex justify-content-center h-48 overflow-hidden">
              <div class="relative grid grid-cols-1 gap-10">
                <span class="falling-ball"></span>
                <span class="block w-4 h-4 radius-full bg-primary bg-200"></span>
                <span class="block w-4 h-4 radius-full bg-primary bg-200"></span>
                <span class="block w-4 h-4 radius-full bg-primary bg-200"></span>
                <span class="block w-4 h-4 radius-full bg-primary bg-200"></span>
                <span class="block w-4 h-4 radius-full bg-primary bg-200"></span>
              </div>
            </div>

            <article class="md.radius-xl overflow-hidden bg-white">
              <header class="flex align-items-center h-64 px-20 border-b-1 border-cool-gray border-opacity-20 bg-tertiary bg-50">
                <span class="inline-flex align-items-center h-20 mr-16 px-6 bg-primary bg-900 color-white uppercase text-2xs extrabold radius-sm">html</span>
                <p class="text-sm color-primary color-900">
                  Get access to all external utilities
                </p>
              </header>
              {% highlight "html" %}
              {{ animatePlugin | safe }}
              {% endhighlight %}
            </article>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>









<section class="block md.hidden mb-96 last.mb-0">
  <div class="px-32 sm.text-center mb-64">
    <h3 class="font-8xl leading-100 extrabold tracking-tight mb-24 color-primary color-900">
      <span class="color-primary color-400">Customize with</span> <br>or without Sass
    </h3>
    <p class="sm.max-w-512 mx-auto text-xl color-cool-gray mb-32">Take advantage of the full Sass customizability or simply apply CSS variable overrides. Getting started with Uniform CSS is fast and easy.</p>
    <a href="/docs/configuration" class="text-xl color-primary semibold">Learn how to configure →</a>
    <div class="flex sm.justify-content-center flex-wrap pt-48">
      <ul class="gutter-y-10">
        <li class="flex align-items-center color-opacity-80 text-sm">
          <div class="flex align-items-center justify-content-center w-24 h-24 mr-12 font-lg border-1 border-black radius-full color-black">
            &check;
          </div>
          Customize theme directly in Sass
        </li>
        <li class="flex align-items-center color-opacity-80 text-sm">
          <div class="flex align-items-center justify-content-center w-24 h-24 mr-12 font-lg border-1 border-black radius-full color-black">
            &check;
          </div>
          CSS variable override support
        </li>
      </ul>
    </div>
  </div>

  <article class="overflow-hidden bg-white">
    <header class="flex align-items-center h-64 px-20 border-b-1 border-cool-gray border-opacity-20 bg-tertiary bg-50">
      <ion-icon name="logo-sass" class="text-4xl color-pink color-500 mr-20"></ion-icon>
      <p class="text-sm color-primary color-900">
        Customize your theme directly in Sass
      </p>
    </header>
    <div>
      {% highlight "scss" %}
      {{ configureSass | safe }}
      {% endhighlight %}
    </div>
  </article>

  <div class="flex justify-content-center h-48 overflow-hidden">
    <div class="relative grid grid-cols-1 gap-10">
      <span class="falling-ball"></span>
      <span class="block w-4 h-4 radius-full bg-primary bg-200"></span>
      <span class="block w-4 h-4 radius-full bg-primary bg-200"></span>
      <span class="block w-4 h-4 radius-full bg-primary bg-200"></span>
      <span class="block w-4 h-4 radius-full bg-primary bg-200"></span>
      <span class="block w-4 h-4 radius-full bg-primary bg-200"></span>
    </div>
  </div>

  <article class="overflow-hidden bg-white">
    <header class="flex align-items-center h-64 px-20 border-b-1 border-cool-gray border-opacity-20 bg-tertiary bg-50">
      <span class="inline-flex align-items-center h-20 mr-16 px-6 bg-primary bg-900 color-white uppercase text-2xs extrabold radius-sm">css</span>
      <p class="text-sm color-primary color-900">
        Or customize theme by defining CSS variables
      </p>
    </header>
    {% highlight "css" %}
    {{ configureCSS | safe }}
    {% endhighlight %}
  </article>


</section>










<section class="block md.hidden mb-96 last.mb-0">
  <div class="px-32 sm.text-center mb-64">
    <div class="mb-20">
      <span class="radius-sm px-8 py-4 bg-cool-gray bg-100 text-xs tracking-loosest semibold uppercase color-cool-gray color-500">
        Coming soon
      </span>
    </div>
    <h3 class="font-8xl leading-100 extrabold tracking-tight mb-24 color-primary color-900">
      <span class="color-primary color-400">Extendable</span> <br>with plugins
    </h3>
    <p class="sm.max-w-512 mx-auto text-xl color-cool-gray mb-32">Add extra functionality to your project with first-party plugin support.</p>
    <span class="text-xl color-primary color-900 bold">Coming soon</span>
    <div class="flex sm.justify-content-center flex-wrap pt-48">
      <ul class="gutter-y-10">
        <li class="flex align-items-center color-opacity-80 text-sm">
          <div class="flex align-items-center justify-content-center w-24 h-24 mr-12 font-lg border-1 border-black radius-full color-black">
            &check;
          </div>
          Customizable settings support
        </li>
        <li class="flex align-items-center color-opacity-80 text-sm">
          <div class="flex align-items-center justify-content-center w-24 h-24 mr-12 font-lg border-1 border-black radius-full color-black">
            &check;
          </div>
          Works out of the box
        </li>
      </ul>
    </div>
  </div>

  <article class="overflow-hidden bg-white">
    <header class="flex align-items-center h-64 px-20 border-b-1 border-cool-gray border-opacity-20 bg-tertiary bg-50">
      <ion-icon name="logo-sass" class="text-4xl color-pink color-500 mr-20"></ion-icon>
      <p class="text-sm color-primary color-900">
        Load plugins directly in Sass
      </p>
    </header>
    <div>
      {% highlight "scss" %}
      {{ loadPlugins | safe }}
      {% endhighlight %}
    </div>
  </article>

  <div class="flex justify-content-center h-48 overflow-hidden">
    <div class="relative grid grid-cols-1 gap-10">
      <span class="falling-ball"></span>
      <span class="block w-4 h-4 radius-full bg-primary bg-200"></span>
      <span class="block w-4 h-4 radius-full bg-primary bg-200"></span>
      <span class="block w-4 h-4 radius-full bg-primary bg-200"></span>
      <span class="block w-4 h-4 radius-full bg-primary bg-200"></span>
      <span class="block w-4 h-4 radius-full bg-primary bg-200"></span>
    </div>
  </div>

  <article class="overflow-hidden bg-white">
    <header class="flex align-items-center h-64 px-20 border-b-1 border-cool-gray border-opacity-20 bg-tertiary bg-50">
      <span class="inline-flex align-items-center h-20 mr-16 px-6 bg-primary bg-900 color-white uppercase text-2xs extrabold radius-sm">html</span>
      <p class="text-sm color-primary color-900">
        Get access to all external utilities
      </p>
    </header>
    {% highlight "html" %}
    {{ animatePlugin | safe }}
    {% endhighlight %}
  </article>


</section>