
<section class="hidden md.block mb-128 md.mb-192 md.px-32" x-data="tabs()" x-init="init()">

  <div class="max-w-1152 mx-auto">
    <div class="text-center mb-24 md.mb-128">
      <div class="mb-16 text-xs md.text-sm tracking-loosest semibold uppercase color-primary color-900">
        Get Started
      </div>
      <h2 class="font-5xl md.font-6xl md.font-7xl lg.font-5xl md.font-6xl md.font-7xl lg.font-8xl leading-110 extrabold tracking-tighter color-primary color-900 mb-32">
        Setup in minutes
      </h2>
      <div class="flex align-items-center justify-content-center">
        <div class="p-6 radius-full bg-primary bg-900">
          <div class="relative flex radius-full overflow-hidden">
            <div class="inline-block absolute h-100p left-0 top-0 bg-linear radius-full z-1 transition-all duration-200"
              :style="'left: ' + left + 'px;' + 'width: ' + width + 'px'"></div>
            <a class="flex align-items-center text-md semibold color-white px-16 sm.px-20 h-32 md.h-40 z-1 is-active"
              @click.prevent="switcher($event, 0)">
              Overview
            </a>
            <a class="flex align-items-center text-md semibold color-white px-16 sm.px-20 h-32 md.h-40 z-1" 
              @click.prevent="switcher($event, 1)">
              Installation
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white md.shadow-card md.radius-2xl">
      <div class="grid grid-cols-12">
        <div class="col-12 md.col-5 px-24 md.px-48 md.px-64 py-64">
          <article
            x-show.transition.in.opacity.duration.400="tab === 0">
            
            <div class="text-center md.text-left">
              <h3 class="font-3xl leading-130 md.text-4xl lg.text-5xl extrabold tracking-tight mb-24 color-primary color-900">
                <span class="color-primary color-400">Load and control</span> <br>directly in Sass
              </h3>
              <p class="max-w-512 mx-auto text-lg color-cool-gray mb-32">Infuse any Sass-built project with the power of utility-first CSS. Fully configure directly in Sass, or add helpful utilities progressively without requiring a complete project overhaul.</p>
              <a href="/docs/installation" class="text-lg color-primary semibold">Learn how to get started →</a>
            </div>

            <div class="hidden md.grid grid-cols-2 pt-48">
              <div class="font-md leading-170">
                <div class="flex align-items-center font-xl semibold tracking-tight">
                  <ion-icon name="cloud-download-outline" class="font-xl mr-8"></ion-icon> 39KB
                </div>
                with brotli
              </div>
              <div class="font-md leading-160">
                <div class="flex align-items-center font-xl semibold tracking-tight">
                  <ion-icon name="flash-outline" class="font-xl mr-6"></ion-icon> 1s
                </div>
                build time
              </div>
            </div>
          </article>
          
          <article
            x-cloak
            x-show.transition.in.opacity.duration.400="tab === 1">

            <div class="text-center md.text-left">
              <h3 class="font-3xl leading-130 md.text-4xl lg.text-5xl extrabold tracking-tight mb-24 color-primary color-900">
                <span class="color-primary color-400">Literally just</span> <br>one line of code
              </h3>
              <p class="max-w-512 mx-auto text-lg color-cool-gray mb-32">Installing Uniform is a drop-in process. Just load Uniform as a module, compile, then compose, it's that simple. You can even load the CDN version to get started even faster.</p>
              <a href="/docs/installation" class="text-lg color-primary semibold">See how to install →</a>
            </div>

            <div class="hidden md.flex align-items-center pt-48">
              <a href="#" class="mr-32 last.mr-0">
                <ion-icon name="logo-github" class="text-4xl color-black"></ion-icon>
              </a>
              <a href="#" class="mr-32 last.mr-0">
                <ion-icon name="logo-sass" class="text-4xl color-black"></ion-icon>
              </a>
              <a href="#" class="mr-32 last.mr-0">
                <ion-icon name="logo-npm" class="text-4xl color-black"></ion-icon>
              </a>
            </div>
          </article>
        </div>
        <div class="col-12 md.col-7 relative">
          <div class="absolute w-100p top-0 bottom-0 md.mt-n40 md.mb-n40 pb-40 md.pb-0 md.pr-32 md.pr-40 lg.pr-56" 
            x-show="tab === 0"
            x-transition:enter="transition-800"
            x-transition:enter-start="opacity-0 transform translate-x-n64 scale-90"
            x-transition:enter-end="opacity-100 transform scale-100"
            x-transition:leave="transition-400"
            x-transition:leave-start="opacity-100 transform translate-x-0 scale-100"
            x-transition:leave-end="opacity-0 transform translate-x-n64 scale-90">  

            <article class="md.radius-xl overflow-hidden bg-tertiary bg-50">

              <header class="flex align-items-center h-64 px-20 border-b-1 border-cool-gray border-opacity-20">
                <ion-icon name="logo-sass" class="text-4xl color-pink color-500 mr-20"></ion-icon>
                <div class="text-sm color-primary color-900">
                  Configure Uniform directly in Sass
                </div>
              </header>
              <footer>
                {% highlight "scss" %}
                {{ scssExample | safe }}
                {% endhighlight %}
              </footer>

            </article>

            <div class="flex justify-content-center h-48 overflow-hidden">
              <div class="relative grid grid-cols-1 gap-10">
                <span class="falling-ball"></span>
                <span class="block w-4 h-4 radius-full bg-primary bg-900"></span>
                <span class="block w-4 h-4 radius-full bg-primary bg-900"></span>
                <span class="block w-4 h-4 radius-full bg-primary bg-900"></span>
                <span class="block w-4 h-4 radius-full bg-primary bg-900"></span>
                <span class="block w-4 h-4 radius-full bg-primary bg-900"></span>
              </div>
            </div>

            <article class="md.radius-xl overflow-hidden bg-tertiary bg-50">

              <header class="flex align-items-center h-64 px-20 border-b-1 border-cool-gray border-opacity-20">
                <span class="inline-flex align-items-center h-20 mr-16 px-6 bg-primary bg-900 color-white uppercase text-2xs extrabold radius-sm">css</span>
                <div class="text-sm color-primary color-900">
                  Generate<span class="hidden md.inline"> suite of</span> utilities properties
                </div>
              </header>
              <footer>
                {% highlight "css" %}
                {{ cssExample | safe }}
                {% endhighlight %}
              </footer>

            </article>

          </div>

          <div class="absolute w-100p top-0 bottom-0 md.mt-n40 md.mb-n40 pb-40 md.pb-0 md.pr-32 md.pr-40 lg.pr-56"
            x-cloak
            x-show="tab === 1"
            x-transition:enter="transition-800"
            x-transition:enter-start="opacity-0 transform translate-x-64 scale-90"
            x-transition:enter-end="opacity-100 transform scale-100"
            x-transition:leave="transition-400"
            x-transition:leave-start="opacity-100 transform translate-x-0 scale-100"
            x-transition:leave-end="opacity-0 transform translate-x-64 scale-90">  

            <article class="md.radius-xl overflow-hidden bg-tertiary bg-50 mb-20">
              <header class="flex align-items-center h-64 px-20 border-b-1 border-cool-gray border-opacity-20">
                <p class="color-white text-xs md.text-sm">
                  <span class="bold mr-10">Step 1.</span> Install package or clone repository
                </p>
              </header>
              <footer>
                {% highlight "bash" %}
                {{ cloneUniform | safe }}
                {% endhighlight %}
              </footer>
            </article>

            <article class="md.radius-xl overflow-hidden bg-tertiary bg-50 mb-20">
              <header class="flex align-items-center h-64 px-20 border-b-1 border-cool-gray border-opacity-20">
                <p class="color-white text-xs md.text-sm">
                  <span class="bold mr-10">Step 2.</span> Load module in Sass and compile
                </p>
              </header>
              <footer>
                {% highlight "scss" %}
                {{ compileUniform | safe }}
                {% endhighlight %}
              </footer>
            </article>

            <article class="md.radius-xl overflow-hidden bg-tertiary bg-50">
              <header class="flex align-items-center h-64 px-20 border-b-1 border-cool-gray border-opacity-20">
                <p class="color-white text-xs md.text-sm">
                  <span class="bold mr-10">Step 3.</span> Link stylesheet in your project
                </p>
              </header>
              <footer>
                {% highlight "html" %}
                {{ loadUniform | safe }}
                {% endhighlight %}
              </footer>
            </article>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<section class="block md.hidden mb-96 last.mb-0">
  <div class="px-32 sm.text-center mb-64">
    <h3 class="font-8xl leading-100 extrabold tracking-tight mb-24 color-primary color-900">
      <span class="color-primary color-400">Load and control</span> <br>directly in Sass
    </h3>
    <p class="sm.max-w-512 mx-auto text-xl color-cool-gray mb-32">Infuse any Sass-built project with the power of utility-first CSS. Fully configure directly in Sass, or add helpful utilities progressively without requiring a complete project overhaul.</p>
    <a href="/docs/installation" class="text-xl color-primary semibold">Learn how to get started →</a>
  </div>

  <article class="md.radius-xl overflow-hidden bg-tertiary bg-50">

    <header class="flex align-items-center h-64 px-20 border-b-1 border-cool-gray border-opacity-20">
      <ion-icon name="logo-sass" class="text-4xl color-pink color-300 mr-20"></ion-icon>
      <div class="text-sm color-primary color-900">
        Configure Uniform directly in Sass
      </div>
    </header>
    <footer>
      {% highlight "scss" %}
      {{ scssExample | safe }}
      {% endhighlight %}
    </footer>

  </article>

  <div class="flex justify-content-center h-48 overflow-hidden">
    <div class="relative grid grid-cols-1 gap-10">
      <span class="falling-ball"></span>
      <span class="block w-4 h-4 radius-full bg-primary bg-900"></span>
      <span class="block w-4 h-4 radius-full bg-primary bg-900"></span>
      <span class="block w-4 h-4 radius-full bg-primary bg-900"></span>
      <span class="block w-4 h-4 radius-full bg-primary bg-900"></span>
      <span class="block w-4 h-4 radius-full bg-primary bg-900"></span>
    </div>
  </div>

  <article class="md.radius-xl overflow-hidden bg-tertiary bg-50">

    <header class="flex align-items-center h-64 px-20 border-b-1 border-cool-gray border-opacity-20">
      <span class="inline-flex align-items-center mr-16 px-6 bg-white  uppercase text-2xs extrabold radius-sm">css</span>
      <div class="text-sm color-primary color-900">
        Generate<span class="hidden md.inline"> suite of</span> utilities properties
      </div>
    </header>
    <footer>
      {% highlight "css" %}
      {{ cssExample | safe }}
      {% endhighlight %}
    </footer>

  </article>

</section>


<section class="block md.hidden mb-96 last.mb-0">
  <div class="px-32 sm.text-center mb-64">
    <h3 class="font-8xl leading-100 extrabold tracking-tight mb-24 color-primary color-900">
      <span class="color-primary color-400">Literally just</span> <br>one line of code
    </h3>
    <p class="sm.max-w-512 mx-auto text-xl color-cool-gray mb-32">Installing Uniform is a drop-in process. Just load Uniform as a module, compile, then compose, it's that simple. You can even load the CDN version to get started even faster.</p>
    <a href="/docs/installation" class="text-xl color-primary semibold">Learn how to get started →</a>
  </div>

  <article class="md.radius-xl overflow-hidden bg-tertiary bg-50 mb-20">
    <header class="flex align-items-center h-64 px-20 border-b-1 border-cool-gray border-opacity-20">
      <p class="color-white text-sm">
        <span class="bold mr-10">Step 1.</span> Install package or clone repository
      </p>
    </header>
    <footer>
      {% highlight "bash" %}
      {{ cloneUniform | safe }}
      {% endhighlight %}
    </footer>
  </article>

  <article class="md.radius-xl overflow-hidden bg-tertiary bg-50 mb-20">
    <header class="flex align-items-center h-64 px-20 border-b-1 border-cool-gray border-opacity-20">
      <p class="color-white text-sm">
        <span class="bold mr-10">Step 2.</span> Load module in Sass and compile
      </p>
    </header>
    <footer>
      {% highlight "scss" %}
      {{ compileUniform | safe }}
      {% endhighlight %}
    </footer>
  </article>

  <article class="md.radius-xl overflow-hidden bg-tertiary bg-50">
    <header class="flex align-items-center h-64 px-20 border-b-1 border-cool-gray border-opacity-20">
      <p class="color-white text-sm">
        <span class="bold mr-10">Step 3.</span> Link stylesheet in your project
      </p>
    </header>
    <footer>
      {% highlight "html" %}
      {{ loadUniform | safe }}
      {% endhighlight %}
    </footer>
  </article>

</section>