<section 
  class="hidden md.block mb-160 md.px-32" 
  x-data="tabs"
>

  <div 
    class="max-w-1152 mx-auto"
    x-data="{
      activeConfig: 0, 
      activeFeature: 0
    }"
  >

    <div class="text-center mb-24 md.mb-128">
      <div class="mb-14 text-xs md.text-sm tracking-loosest semibold uppercase color-cool-gray-600">
        Power Features
      </div>
      <h2 class="font-5xl md.font-6xl md.font-7xl lg.font-8xl leading-110 extrabold tracking-tighter mb-32">
        Push your site further
      </h2>
      <div class="flex align-items-center justify-content-center">
        <div class="p-6 radius-lg bg-black">
          <div class="relative flex radius-sm overflow-hidden">
            <div class="absolute h-100p left-0 top-0 bg-primary-500 radius-sm z-1 transition-all duration-200"
              :style="'left: ' + left + 'px;' + 'width: ' + width + 'px'"></div>
            <a class="flex align-items-center text-md semibold color-white px-16 sm.px-18 h-28 md.h-40 z-1 is-active"
              @click="switchTabs($event, 0)">
              Max Control
            </a>
            <a class="flex align-items-center text-md semibold color-white px-16 sm.px-18 h-28 md.h-40 z-1" 
              @click="switchTabs($event, 1)">
              Sass Features
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="shadow-2xl bg-black color-white radius-2xl">
      <div class="grid grid-cols-12">
        <div class="col-12 md.col-5 px-24 md.px-48 md.px-64 py-64">
          <div 
            x-show="tab === 0"
            x-transition:enter.duration.400ms
          >

            <div class="text-center md.text-left">
              <h3 class="font-3xl leading-130 md.text-4xl lg.text-5xl extrabold tracking-tight mb-24">
                <span class="color-primary-500">Every utility</span> <br>made to order
              </h3>
              <p class="text-lg color-cool-gray-100 mb-32">Attach prefixes, change shorthands, remove delimiters, add important flags, enable responsiveness, and even apply extra-selectors. Control every aspect of how utilities are generated.</p>
              <a href="/docs/configuration" class="text-lg color-primary-500 hover.color-primary-600 semibold">Learn about configuration →</a>
            </div>

            <div class="flex justify-content-center md.justify-content-start flex-wrap pt-48 max-w-320 mx-auto md.mx-0" x-cloak>
              <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
                :class="{ 'border-1 border-white color-white hover.bg-white hover.color-black' : activeConfig !== 0, 'bg-white border-1 border-white color-black' : activeConfig === 0 }"
                @click="activeConfig = 0">
                Shorthand
              </button>
              <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
                :class="{ 'border-1 border-white color-white hover.bg-white hover.color-black' : activeConfig !== 1, 'bg-white border-1 border-white color-black' : activeConfig === 1 }"
                @click="activeConfig = 1">
                Important
              </button>
              <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
                :class="{ 'border-1 border-white color-white hover.bg-white hover.color-black' : activeConfig !== 2, 'bg-white border-1 border-white color-black' : activeConfig === 2 }"
                @click="activeConfig = 2">
                Delimiter
              </button>
              <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
                :class="{ 'border-1 border-white color-white hover.bg-white hover.color-black' : activeConfig !== 3, 'bg-white border-1 border-white color-black' : activeConfig === 3 }"
                @click="activeConfig = 3">
                Comma Compress
              </button>
              <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
                :class="{ 'border-1 border-white color-white hover.bg-white hover.color-black' : activeConfig !== 4, 'bg-white border-1 border-white color-black' : activeConfig === 4 }"
                @click="activeConfig = 4">
                Prefix
              </button>
            </div>
          </div>

          <div 
            x-show="tab === 1"
            x-transition:enter.duration.400ms
          >

            <div class="text-center md.text-left">
              <h3 class="font-3xl leading-130 md.text-4xl lg.text-5xl extrabold tracking-tight mb-24">
                <span class="color-primary-500">Gain the full</span> <br>benefit of Sass
              </h3>
              <p class="text-lg color-cool-gray-100 mb-32">Take full advantage and enjoy every bit of Sass. Out of the box, Uniform provides apply extrapolation, helper theme functions, and Sass mixins to help you be even more productive.</p>
              <a href="/docs/api-functions" class="text-lg color-primary-500 hover.color-primary-600 semibold">See how it works →</a>
            </div>

            <div class="flex justify-content-center md.justify-content-start flex-wrap pt-48 max-w-320 mx-auto md.mx-0" x-cloak>
              <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
                :class="{ 'border-1 border-white color-white hover.bg-white hover.color-black' : activeFeature !== 0, 'bg-white border-1 border-white color-black' : activeFeature === 0 }"
                @click="activeFeature = 0">
                Apply
              </button>
              <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
                :class="{ 'border-1 border-white color-white hover.bg-white hover.color-black' : activeFeature !== 1, 'bg-white border-1 border-white color-black' : activeFeature === 1 }"
                @click="activeFeature = 1">
                API Function
              </button>
              <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
                :class="{ 'border-1 border-white color-white hover.bg-white hover.color-black' : activeFeature !== 2, 'bg-white border-1 border-white color-black' : activeFeature === 2 }"
                @click="activeFeature = 2">
                Helpers
              </button>
            </div>
            
          </div>
        </div>

        <div class="col-12 md.col-7 relative">
          <div class="absolute w-100p top-0 bottom-0 md.mt-n40 md.mb-n40 pb-40 md.pb-0 md.pr-32 md.pr-40 lg.pr-56" 
            x-show="tab === 0"
            x-transition:enter="transition-800"
            x-transition:enter-start="opacity-0 transform translate-x-n64 scale-90"
            x-transition:enter-end="opacity-100 transform scale-100"
            x-transition:leave="transition-400"
            x-transition:leave-start="opacity-100 transform translate-x-0 scale-100"
            x-transition:leave-end="opacity-0 transform translate-x-n64 scale-90">  

            <div 
              x-show="activeConfig === 0"
              x-transition:enter.duration.600ms
            >
              <article class="md.radius-xl overflow-hidden bg-black mb-20">
                {% highlight "scss" %}
                {{ config_shorthand_input | safe }}
                {% endhighlight %}
              </article>

              <article class="md.radius-xl overflow-hidden bg-black mb-20">
                {% highlight "css" %}
                {{ config_shorthand_output | safe }}
                {% endhighlight %}
              </article>
            </div>

            <div 
              x-cloak 
              x-show="activeConfig === 1"
              x-transition:enter.duration.600ms
            >
              <article class="md.radius-xl overflow-hidden bg-black mb-20">
                {% highlight "scss" %}
                {{ config_important_input | safe }}
                {% endhighlight %}
              </article>

              <article class="md.radius-xl overflow-hidden bg-black mb-20">
                {% highlight "css" %}
                {{ config_important_output | safe }}
                {% endhighlight %}
              </article>
            </div>

            <div 
              x-cloak 
              x-show="activeConfig === 2"
              x-transition:enter.duration.600ms
            >
              <article class="md.radius-xl overflow-hidden bg-black mb-20">
                {% highlight "scss" %}
                {{ config_delimiter_input | safe }}
                {% endhighlight %}
              </article>

              <article class="md.radius-xl overflow-hidden bg-black mb-20">
                {% highlight "css" %}
                {{ config_delimiter_output | safe }}
                {% endhighlight %}
              </article>
            </div>

            <div 
              x-cloak 
              x-show="activeConfig === 3"
              x-transition:enter.duration.600ms
            >
              <article class="md.radius-xl overflow-hidden bg-black mb-20">
                {% highlight "scss" %}
                {{ config_comma_compression_input | safe }}
                {% endhighlight %}
              </article>

              <article class="md.radius-xl overflow-hidden bg-black mb-20">
                {% highlight "css" %}
                {{ config_comma_compression_output | safe }}
                {% endhighlight %}
              </article>
            </div>

            <div 
              x-cloak 
              x-show="activeConfig === 4"
              x-transition:enter.duration.600ms
            >
              <article class="md.radius-xl overflow-hidden bg-black mb-20">
                {% highlight "scss" %}
                {{ config_prefix_input | safe }}
                {% endhighlight %}
              </article>

              <article class="md.radius-xl overflow-hidden bg-black mb-20">
                {% highlight "css" %}
                {{ config_prefix_output | safe }}
                {% endhighlight %}
              </article>
            </div>

          </div>
          <div class="absolute w-100p top-0 bottom-0 md.mt-n40 md.mb-n40 pb-40 md.pb-0 md.pr-32 md.pr-40 lg.pr-56" 
            x-show="tab === 1"
            x-transition:enter="transition-800"
            x-transition:enter-start="opacity-0 transform translate-x-64 scale-90"
            x-transition:enter-end="opacity-100 transform scale-100"
            x-transition:leave="transition-400"
            x-transition:leave-start="opacity-100 transform translate-x-0 scale-100"
            x-transition:leave-end="opacity-0 transform translate-x-64 scale-90">  

            <div 
              x-show="activeFeature === 0"
              x-transition:enter.duration.600ms
            >
              <article class="md.radius-xl overflow-hidden bg-black mb-20">
                {% highlight "scss" %}
                {{ config_apply_input | safe }}
                {% endhighlight %}
              </article>

              <article class="md.radius-xl overflow-hidden bg-black mb-20">
                {% highlight "css" %}
                {{ config_apply_output | safe }}
                {% endhighlight %}
              </article>
            </div>

            <div 
              x-cloak 
              x-show="activeFeature === 1"
              x-transition:enter.duration.600ms
            >
              <article class="md.radius-xl overflow-hidden bg-black mb-20">
                {% highlight "scss" %}
                {{ config_api_functions_input | safe }}
                {% endhighlight %}
              </article>

              <article class="md.radius-xl overflow-hidden bg-black mb-20">
                {% highlight "css" %}
                {{ config_api_functions_output | safe }}
                {% endhighlight %}
              </article>
            </div>

            <div 
              x-cloak 
              x-show="activeFeature === 2"
              x-transition:enter.duration.600ms
            >
              <article class="md.radius-xl overflow-hidden bg-black mb-20">
                {% highlight "scss" %}
                {{ config_helpers_input | safe }}
                {% endhighlight %}
              </article>

              <article class="md.radius-xl overflow-hidden bg-black mb-20">
                {% highlight "css" %}
                {{ config_helpers_output | safe }}
                {% endhighlight %}
              </article>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

</section>










<section class="block md.hidden mb-96 last.mb-0" x-data="{activeConfig: 0}">
  <div class="px-32 sm.text-center mb-64">
    <h3 class="font-8xl leading-100 extrabold tracking-tight mb-24">
      <span class="color-primary-500">Every utility</span> <br>made to order
    </h3>
    <p class="sm.max-w-512 mx-auto text-xl color-cool-gray-600 mb-32">Attach prefixes, change shorthands, remove delimiters, add important flags, enable responsiveness, and even apply extra-selectors. Control every aspect of how utilities are generated.</p>
    <a href="/docs/configuration" class="text-xl color-primary-500 semibold">Learn about configuration →</a>
    <div class="flex justify-content-start sm.justify-content-center flex-wrap pt-48 max-w-320 sm.mx-auto" x-cloak>
      <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
        :class="{ 'border-1 border-black color-black hover.bg-black hover.color-white' : activeConfig !== 0, 'bg-black border-1 border-black color-white' : activeConfig === 0 }"
        @click="activeConfig = 0">
        Shorthand
      </button>
      <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
        :class="{ 'border-1 border-black color-black hover.bg-black hover.color-white' : activeConfig !== 1, 'bg-black border-1 border-black color-white' : activeConfig === 1 }"
        @click="activeConfig = 1">
        Important
      </button>
      <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
        :class="{ 'border-1 border-black color-black hover.bg-black hover.color-white' : activeConfig !== 2, 'bg-black border-1 border-black color-white' : activeConfig === 2 }"
        @click="activeConfig = 2">
        Delimiter
      </button>
      <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
        :class="{ 'border-1 border-black color-black hover.bg-black hover.color-white' : activeConfig !== 3, 'bg-black border-1 border-black color-white' : activeConfig === 3 }"
        @click="activeConfig = 3">
        Comma Compress
      </button>
      <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
        :class="{ 'border-1 border-black color-black hover.bg-black hover.color-white' : activeConfig !== 4, 'bg-black border-1 border-black color-white' : activeConfig === 4 }"
        @click="activeConfig = 4">
        Prefix
      </button>
    </div>
  </div>

  <div 
    x-show="activeConfig === 0"
    x-transition:enter.duration.600ms
  >
    <article class="md.radius-xl overflow-hidden bg-black mb-20">
      {% highlight "scss" %}
      {{ config_shorthand_input | safe }}
      {% endhighlight %}
    </article>

    <article class="md.radius-xl overflow-hidden bg-black mb-20">
      {% highlight "css" %}
      {{ config_shorthand_output | safe }}
      {% endhighlight %}
    </article>
  </div>

  <div 
    x-cloak 
    x-show="activeConfig === 1"
    x-transition:enter.duration.600ms
  >
    <article class="md.radius-xl overflow-hidden bg-black mb-20">
      {% highlight "scss" %}
      {{ config_important_input | safe }}
      {% endhighlight %}
    </article>

    <article class="md.radius-xl overflow-hidden bg-black mb-20">
      {% highlight "css" %}
      {{ config_important_output | safe }}
      {% endhighlight %}
    </article>
  </div>

  <div 
    x-cloak 
    x-show="activeConfig === 2"
    x-transition:enter.duration.600ms
  >
    <article class="md.radius-xl overflow-hidden bg-black mb-20">
      {% highlight "scss" %}
      {{ config_delimiter_input | safe }}
      {% endhighlight %}
    </article>

    <article class="md.radius-xl overflow-hidden bg-black mb-20">
      {% highlight "css" %}
      {{ config_delimiter_output | safe }}
      {% endhighlight %}
    </article>
  </div>

  <div 
    x-cloak 
    x-show="activeConfig === 3"
    x-transition:enter.duration.600ms
  >
    <article class="md.radius-xl overflow-hidden bg-black mb-20">
      {% highlight "scss" %}
      {{ config_comma_compression_input | safe }}
      {% endhighlight %}
    </article>

    <article class="md.radius-xl overflow-hidden bg-black mb-20">
      {% highlight "css" %}
      {{ config_comma_compression_output | safe }}
      {% endhighlight %}
    </article>
  </div>

  <div 
    x-cloak 
    x-show="activeConfig === 4"
    x-transition:enter.duration.600ms
  >
    <article class="md.radius-xl overflow-hidden bg-black mb-20">
      {% highlight "scss" %}
      {{ config_prefix_input | safe }}
      {% endhighlight %}
    </article>

    <article class="md.radius-xl overflow-hidden bg-black mb-20">
      {% highlight "css" %}
      {{ config_prefix_output | safe }}
      {% endhighlight %}
    </article>
  </div>


</section>









<section class="block md.hidden mb-96 last.mb-0" x-data="{activeFeature: 0}">
  <div class="px-32 sm.text-center mb-64">
    <h3 class="font-8xl leading-100 extrabold tracking-tight mb-24">
      <span class="color-primary-500">Gain the full</span> <br>benefit of Sass
    </h3>
    <p class="sm.max-w-512 mx-auto text-xl color-cool-gray-600 mb-32">Take full advantage and enjoy every bit of Sass. Out of the box, Uniform provides apply extrapolation, helper theme functions, and Sass mixins to help you be even more productive.</p>
    <a href="/docs/api-functions" class="text-xl color-primary-500 semibold">See how it works →</a>
    <div class="flex justify-content-start sm.justify-content-center flex-wrap pt-48 max-w-320 sm.mx-auto" x-cloak>
      <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
        :class="{ 'border-1 border-black color-black hover.bg-black hover.color-white' : activeFeature !== 0, 'bg-black border-1 border-black color-white' : activeFeature === 0 }"
        @click="activeFeature = 0">
        Apply
      </button>
      <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
        :class="{ 'border-1 border-black color-black hover.bg-black hover.color-white' : activeFeature !== 1, 'bg-black border-1 border-black color-white' : activeFeature === 1 }"
        @click="activeFeature = 1">
        API Function
      </button>
      <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
        :class="{ 'border-1 border-black color-black hover.bg-black hover.color-white' : activeFeature !== 2, 'bg-black border-1 border-black color-white' : activeFeature === 2 }"
        @click="activeFeature = 2">
        Helpers
      </button>
    </div>
  </div>

  <div 
  x-show="activeFeature === 0"
  x-transition:enter.duration.600ms
>
    <article class="md.radius-xl overflow-hidden bg-black mb-20">
      {% highlight "scss" %}
      {{ config_apply_input | safe }}
      {% endhighlight %}
    </article>

    <article class="md.radius-xl overflow-hidden bg-black mb-20">
      {% highlight "css" %}
      {{ config_apply_output | safe }}
      {% endhighlight %}
    </article>
  </div>

  <div 
    x-cloak 
    x-show="activeFeature === 1"
    x-transition:enter.duration.600ms
  >
    <article class="md.radius-xl overflow-hidden bg-black mb-20">
      {% highlight "scss" %}
      {{ config_api_functions_input | safe }}
      {% endhighlight %}
    </article>

    <article class="md.radius-xl overflow-hidden bg-black mb-20">
      {% highlight "css" %}
      {{ config_api_functions_output | safe }}
      {% endhighlight %}
    </article>
  </div>

  <div 
    x-cloak 
    x-show="activeFeature === 2"
    x-transition:enter.duration.600ms
  >
    <article class="md.radius-xl overflow-hidden bg-black mb-20">
      {% highlight "scss" %}
      {{ config_helpers_input | safe }}
      {% endhighlight %}
    </article>

    <article class="md.radius-xl overflow-hidden bg-black mb-20">
      {% highlight "css" %}
      {{ config_helpers_output | safe }}
      {% endhighlight %}
    </article>
  </div>


</section>