<section class="hidden md.block mb-128 md.mb-160 md.px-32" x-data="tabs()" x-init="init()">

  <div class="max-w-1152 mx-auto">
    <div class="text-center mb-24 md.mb-128">
      <div class="mb-14 text-xs md.text-sm tracking-loosest semibold uppercase color-gray-200">
        Start Building
      </div>
      <h2 class="font-5xl md.font-6xl md.font-7xl lg.font-5xl md.font-6xl md.font-7xl lg.font-8xl leading-110 extrabold tracking-tighter mb-32">
        Be fast and productive
      </h2>
      <div class="flex align-items-center justify-content-center">
        <div class="p-6 radius-lg bg-black">
          <div class="relative flex radius-sm overflow-hidden">
            <div class="absolute h-100p left-0 top-0 bg-blue-500 radius-sm z-1 transition-all duration-200"
              :style="'left: ' + left + 'px;' + 'width: ' + width + 'px'"></div>
            <a class="flex align-items-center text-md semibold color-white px-16 sm.px-18 h-28 md.h-40 z-1 is-active"
              @click.prevent="switcher($event, 0)">
              Rapid Workflow
            </a>
            <a class="flex align-items-center text-md semibold color-white px-16 sm.px-18 h-28 md.h-40 z-1" 
              @click.prevent="switcher($event, 1)">
              Intuitive API
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="border-1 border-gray-100 shadow-2xs radius-2xl">
      <div class="grid grid-cols-12">
        <div class="col-12 md.col-5 px-24 md.px-48 md.px-64 py-64">
          <div 
            x-show.transition.in.opacity.duration.400="tab === 0">

            <div class="text-center md.text-left">
              <h3 class="font-3xl leading-130 md.text-4xl lg.text-5xl extrabold tracking-tight mb-24"><span class="color-blue-500">Blazingly fast</span> <br>front-end workflow</h3>
              <p class="max-w-512 mx-auto text-lg color-gray-400 mb-32">Say goodbye to lingering legacy stylesheets and start building without ever touching your CSS.</p>
              <a href="https://codepen.io/UniformCSS/pen/poNNqaE" class="text-lg color-blue-500 hover.color-blue-600 semibold">Live edit on Codepen →</a>
              <div class="flex justify-content-center md.justify-content-start flex-wrap pt-48 max-w-320 mx-auto md.mx-0" x-cloak>
                <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
                  :class="{ 'border-1 border-black color-black' : activeUI !== 0, 'bg-black border-1 border-black color-white' : activeUI === 0 }"
                  @click="activeUI = 0">
                  Calendar
                </button>
                <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
                  :class="{ 'border-1 border-black color-black' : activeUI !== 1, 'bg-black border-1 border-black color-white' : activeUI === 1 }"
                  @click="activeUI = 1">
                  eCommerce
                </button>
                <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
                  :class="{ 'border-1 border-black color-black' : activeUI !== 2, 'bg-black border-1 border-black color-white' : activeUI === 2 }"
                  @click="activeUI = 2">
                  Pop up
                </button>
                <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
                  :class="{ 'border-1 border-black color-black' : activeUI !== 3, 'bg-black border-1 border-black color-white' : activeUI === 3 }"
                  @click="activeUI = 3">
                  Sign in
                </button>
                <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
                  :class="{ 'border-1 border-black color-black' : activeUI !== 4, 'bg-black border-1 border-black color-white' : activeUI === 4 }"
                  @click="activeUI = 4">
                  Player
                </button>
                <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
                  :class="{ 'border-1 border-black color-black' : activeUI !== 5, 'bg-black border-1 border-black color-white' : activeUI === 5 }"
                  @click="activeUI = 5">
                  Activity
                </button>
              </div>
            </div>
          </div>
          
          <div 
            x-cloak
            x-show.transition.in.opacity.duration.400="tab === 1">

            <div class="text-center md.text-left">
              <h3 class="font-3xl leading-130 md.text-4xl lg.text-5xl extrabold tracking-tight mb-24"><span class="color-blue-500">Do one thing,</span> <br>but really well</h3>
              <p class="max-w-512 mx-auto text-lg color-gray-400 mb-32">Every class name in Uniform is immutable and carefully named to be intuitive and memorable.</p>
              <a href="/api-reference" class="text-lg color-blue-500 hover.color-blue-600 semibold">See the glossary →</a>
              <div class="flex justify-content-center md.justify-content-start flex-wrap pt-48 max-w-320 mx-auto md.mx-0" x-cloak>
                <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
                  :class="{ 'border-1 border-black color-black' : activeAPI !== 0, 'bg-black border-1 border-black color-white' : activeAPI === 0 }"
                  @click="activeAPI = 0">
                  Sizing
                </button>
                <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
                  :class="{ 'border-1 border-black color-black' : activeAPI !== 1, 'bg-black border-1 border-black color-white' : activeAPI === 1 }"
                  @click="activeAPI = 1">
                  Typography
                </button>
                <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
                  :class="{ 'border-1 border-black color-black' : activeAPI !== 2, 'bg-black border-1 border-black color-white' : activeAPI === 2 }"
                  @click="activeAPI = 2">
                  Color
                </button>
                <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
                  :class="{ 'border-1 border-black color-black' : activeAPI !== 3, 'bg-black border-1 border-black color-white' : activeAPI === 3 }"
                  @click="activeAPI = 3">
                  Radius
                </button>
                <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
                  :class="{ 'border-1 border-black color-black' : activeAPI !== 4, 'bg-black border-1 border-black color-white' : activeAPI === 4 }"
                  @click="activeAPI = 4">
                  Shadow
                </button>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 md.col-7 relative">
          <div class="absolute w-100p top-0 bottom-0 md.mt-n40 md.mb-n40 pb-40 md.pb-0 md.pr-32 md.pr-40 lg.pr-56" 
            x-show="tab === 0"
            x-transition:enter="transition-800"
            x-transition:enter-start="opacity-0 transform translate-x-n64 scale-90"
            x-transition:enter-end="opacity-100 transform scale-100"
            x-transition:leave="transition-400"
            x-transition:leave-start="opacity-100 transform translate-x-0 scale-100"
            x-transition:leave-end="opacity-0 transform translate-x-n64 scale-90">  

            <article class="h-512 md.h-100p px-32 flex align-items-center justify-content-center md.radius-xl overflow-hidden bg-gray-100" style="--gradient: 45deg, #b1b9cc, #b6caef;">

              <div x-show.transition.in.duration.600="activeUI === 0">
                {% include "partials/ui/calendar.njk" %}
              </div>

              <div x-cloak x-show.transition.in.duration.600="activeUI === 1">
                {% include "partials/ui/ecommerce.njk" %}
              </div>

              <div x-cloak x-show.transition.in.duration.600="activeUI === 2">
                {% include "partials/ui/pop-up.njk" %}
              </div>

              <div x-cloak x-show.transition.in.duration.600="activeUI === 3">
                {% include "partials/ui/sign-in.njk" %}
              </div>

              <div x-cloak x-show.transition.in.duration.600="activeUI === 4">
                {% include "partials/ui/player.njk" %}
              </div>

              <div x-cloak x-show.transition.in.duration.600="activeUI === 5">
                {% include "partials/ui/activity.njk" %}
              </div>

              

            </article>

          </div>

          <div class="absolute w-100p top-0 bottom-0 md.mt-n40 md.mb-n40 pb-40 md.pb-0 md.pr-32 md.pr-40 lg.pr-56" 
            x-cloak
            x-show="tab === 1"
            x-transition:enter="transition-800"
            x-transition:enter-start="opacity-0 transform translate-x-64 scale-90"
            x-transition:enter-end="opacity-100 transform scale-100"
            x-transition:leave="transition-400"
            x-transition:leave-start="opacity-100 transform translate-x-0 scale-100"
            x-transition:leave-end="opacity-0 transform translate-x-64 scale-90">  

            <article class="relative h-512 md.h-100p md.radius-xl overflow-hidden border-1 border-gray-100 shadow-2xs bg-white">

              <div class="w-100p h-100p" x-show.transition.in.duration.600="activeAPI === 0">
                {% include "partials/api/sizing.njk" %}
              </div>

              <div class="w-100p h-100p" x-show.transition.in.duration.600="activeAPI === 1">
                {% include "partials/api/typography.njk" %}
              </div>

              <div class="w-100p h-100p" x-show.transition.in.duration.600="activeAPI === 2">
                {% include "partials/api/color.njk" %}
              </div>

              <div class="w-100p h-100p" x-show.transition.in.duration.600="activeAPI === 3">
                {% include "partials/api/radius.njk" %}
              </div>

              <div class="w-100p h-100p" x-show.transition.in.duration.600="activeAPI === 4">
                {% include "partials/api/shadow.njk" %}
              </div>

              <div class="absolute bottom-0 left-0 flex flex-col w-100p h-192 z-2">
                <div class="h-192 bg-linear-y-to-white"></div>
              </div>

              

            </article>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>














<section class="block md.hidden mb-96 last.mb-0" x-data="{activeUI: 0}">
  <div class="px-32 sm.text-center mb-64">
    <h3 class="font-8xl leading-100 extrabold tracking-tight mb-24">
      <span class="color-blue-500">Blazingly fast</span> <br>front-end workflow
    </h3>
    <p class="sm.max-w-512 mx-auto text-xl color-gray-400 mb-32">Say goodbye to lingering legacy stylesheets and start building without ever touching your CSS.</p>
    <a href="https://codepen.io/UniformCSS/pen/poNNqaE" class="text-xl color-blue-500 semibold">Live edit on Codepen →</a>
    <div class="flex justify-content-start sm.justify-content-center flex-wrap pt-48 max-w-320 sm.mx-auto" x-cloak>
      <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
        :class="{ 'border-1 border-black color-black' : activeUI !== 0, 'bg-black border-1 border-black color-white' : activeUI === 0 }"
        @click="activeUI = 0">
        Calendar
      </button>
      <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
        :class="{ 'border-1 border-black color-black' : activeUI !== 1, 'bg-black border-1 border-black color-white' : activeUI === 1 }"
        @click="activeUI = 1">
        eCommerce
      </button>
      <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
        :class="{ 'border-1 border-black color-black' : activeUI !== 2, 'bg-black border-1 border-black color-white' : activeUI === 2 }"
        @click="activeUI = 2">
        Pop up
      </button>
      <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
        :class="{ 'border-1 border-black color-black' : activeUI !== 3, 'bg-black border-1 border-black color-white' : activeUI === 3 }"
        @click="activeUI = 3">
        Sign in
      </button>
      <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
        :class="{ 'border-1 border-black color-black' : activeUI !== 4, 'bg-black border-1 border-black color-white' : activeUI === 4 }"
        @click="activeUI = 4">
        Player
      </button>
      <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
        :class="{ 'border-1 border-black color-black' : activeUI !== 5, 'bg-black border-1 border-black color-white' : activeUI === 5 }"
        @click="activeUI = 5">
        Activity
      </button>
    </div>
  </div>

  <article class="h-512 px-32 flex align-items-center justify-content-center overflow-hidden bg-gray-100" style="--gradient: 45deg, #b1b9cc, #b6caef;">

    <div x-show.transition.in.duration.600="activeUI === 0">
      {% include "partials/ui/calendar.njk" %}
    </div>

    <div x-cloak x-show.transition.in.duration.600="activeUI === 1">
      {% include "partials/ui/ecommerce.njk" %}
    </div>

    <div x-cloak x-show.transition.in.duration.600="activeUI === 2">
      {% include "partials/ui/pop-up.njk" %}
    </div>

    <div x-cloak x-show.transition.in.duration.600="activeUI === 3">
      {% include "partials/ui/sign-in.njk" %}
    </div>

    <div x-cloak x-show.transition.in.duration.600="activeUI === 4">
      {% include "partials/ui/player.njk" %}
    </div>

    <div x-cloak x-show.transition.in.duration.600="activeUI === 5">
      {% include "partials/ui/activity.njk" %}
    </div>

  </article>


</section>













<section class="block md.hidden mb-96 last.mb-0" x-data="{activeAPI: 0}">
  <div class="px-32 sm.text-center mb-64">
    <h3 class="font-8xl leading-100 extrabold tracking-tight mb-24">
      <span class="color-blue-500">Do one thing,</span> <br>but really well
    </h3>
    <p class="sm.max-w-512 mx-auto text-xl color-gray-400 mb-32">Every class name in Uniform is immutable and carefully named to be intuitive and memorable.</p>
    <a href="/api-reference" class="text-xl color-blue-500 semibold">See the glossary →</a>
    <div class="flex justify-content-start sm.justify-content-center flex-wrap pt-48 max-w-320 sm.mx-auto" x-cloak>
      <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
        :class="{ 'border-1 border-black color-black' : activeAPI !== 0, 'bg-black border-1 border-black color-white' : activeAPI === 0 }"
        @click="activeAPI = 0">
        Sizing
      </button>
      <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
        :class="{ 'border-1 border-black color-black' : activeAPI !== 1, 'bg-black border-1 border-black color-white' : activeAPI === 1 }"
        @click="activeAPI = 1">
        Typography
      </button>
      <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
        :class="{ 'border-1 border-black color-black' : activeUI !== 2, 'bg-black border-1 border-black color-white' : activeUI === 2 }"
        @click="activeAPI = 2">
        Color
      </button>
      <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
        :class="{ 'border-1 border-black color-black' : activeUI !== 3, 'bg-black border-1 border-black color-white' : activeUI === 3 }"
        @click="activeAPI = 3">
        Radius
      </button>
      <button class="inline-flex align-items-center flex-none h-32 mr-12 mb-12 px-12 text-sm semibold radius-full transition-200"
        :class="{ 'border-1 border-black color-black' : activeUI !== 4, 'bg-black border-1 border-black color-white' : activeUI === 4 }"
        @click="activeAPI = 4">
        Shadow
      </button>
    </div>
  </div>

  <article class="relative h-512 overflow-hidden border-1 border-gray-100 shadow-2xs bg-white">

    <div class="w-100p h-100p" x-show.transition.in.duration.600="activeAPI === 0">
      {% include "partials/api/sizing.njk" %}
    </div>

    <div class="w-100p h-100p" x-show.transition.in.duration.600="activeAPI === 1">
      {% include "partials/api/typography.njk" %}
    </div>

    <div class="w-100p h-100p" x-show.transition.in.duration.600="activeAPI === 2">
      {% include "partials/api/color.njk" %}
    </div>

    <div class="w-100p h-100p" x-show.transition.in.duration.600="activeAPI === 3">
      {% include "partials/api/radius.njk" %}
    </div>

    <div class="w-100p h-100p" x-show.transition.in.duration.600="activeAPI === 4">
      {% include "partials/api/shadow.njk" %}
    </div>

    <div class="absolute bottom-0 left-0 flex flex-col w-100p h-192 z-2">
      <div class="h-192 bg-linear-y-to-white"></div>
    </div>

    

  </article>


</section>