@use "uniform/core";
@use "sass:map";

$name: placeholder-lightness;
$shorthand: placeholder;
$responsive: false;
$responsive-pseudos: false;
$extra-selector: #{'::placeholder'};

$properties: (#{--ph-ltn});
$custom-properties: ();

$variants: (
	core.merge(
    core.lightness()
	)
);

$pseudos: (hover, group-hover, focus);

$config: (
  utility: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      custom-properties: $custom-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);