<div class="mt-48 p-4 radius-xl bg-linear shadow-lg">
  <div class="ratio-16-9 radius-lg overflow-hidden bg-black">
    <iframe class="absolute xy-0 w-100p h-100p" src='https://www.youtube.com/embed/{{ id }}' frameborder='0' allowfullscreen></iframe>
  </div>
</div>