@use "uniform" as * with (
  $config: (
		font-families: (
			sans: 'Inter'
		),
		utilities: (
			color: (
				extend: (
					pseudos: (group-focus)
				)
			)
		),
		// css-variables: false,
		comma-compression: true,
    excludes: (
			
    ),
    includes: (

    )
  )
);

@use "_root";
@use "markdown";
@use "animate";
@use "_font";
@use "_ripple";
@use "_docsearch";
@use "_highlight";

/*! purgecss start ignore */

[x-cloak] {
	display: none !important;
}

.headroom {
	// transform: translateY(100px);
	&.headroom--pinned {
		--translate-y: 0;
	}
}

.falling-ball {
	display: block;
	position: absolute;
	top: -10px;
	left: -3px;
	width: 10px;
	height: 10px;
	background: #FF62B1;
	border-radius: 9999px;
	animation: falling-ball 1.5s linear infinite;
}

@keyframes falling-ball {
  from {top: -10px;}
  to {top: 60px;}
}

.toc {
	transition: 200ms;
	a {
		display: inline-flex;
		font-size: font(sm);
		font-weight: font-weight(medium);
		line-height: leading(looser);
		padding: size(6, 0);
		color: fill(cool-gray-600);
		&:hover {
			color: fill(cool-gray-900);
		}
	}
	& > ol {
		ol {
			display: none;
		}
	}
}

.markdown {
	.css-value {
		background: transparent;
		color: fill(gray-600)
	}
	h2 {
		position: relative;
		padding-left: size(24);
		margin-left: size(n24);
		&:hover {
			a:before {
				display: inline-block;
			}
		}
		a {
			&:before {
				display: none;
				content: '#';
				margin-left: size(8);
				color: rgb(var(--blue-200));
				font-weight: font(medium);
			}
			&:hover {
				&:before {
					color: rgb(var(--blue-400));
				}
			}
		}
	}

	pre {
		border-radius: radius(lg);
		margin-bottom: 1.5em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.carbon-docs {
	#carbonads * {
		margin: initial;
		padding: initial;
	}

	#carbonads {
		display: flex;
		max-width: 130px;
		overflow: hidden;
		border-radius: 4px;
		box-shadow: 0 0 1px hsla(0, 0%, 0%, 0.15);
		font-size: 12px;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
			Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
			Helvetica, Arial, sans-serif;
	}

	#carbonads a {
		background-image: none;
		color: #111;
		text-decoration: none;
	}

	#carbonads a:hover {
		color: #111;
	}

	#carbonads .carbon-img {
		display: block;
		max-width: 130px;
		line-height: 1;
	}

	#carbonads .carbon-img img {
		display: block;
		width: 130px;
		height: 100px;
		margin: 0 auto;
	}

	#carbonads .carbon-text {
		display: block;
		padding: 8px 10px;
		background-color: hsl(0, 0%, 98%);
		line-height: 1.35;
		text-align: left;
	}

	#carbonads .carbon-poweredby {
		display: block;
		padding: 10px;
		background: repeating-linear-gradient(
				-45deg,
				transparent,
				transparent 5px,
				hsla(0, 0%, 0%, 0.025) 5px,
				hsla(0, 0%, 0%, 0.025) 10px
			)
			hsla(203, 11%, 95%, 0.4);
		background-color: hsl(0, 0%, 98%);
		font-weight: 600;
		font-size: 8px;
		line-height: 0;
		letter-spacing: 0.5px;
		text-transform: uppercase;
	}

	@media only screen and (min-width: 320px) and (max-width: 759px) {
		#carbonads {
			position: relative;
			max-width: 330px;
			margin: 20px 0;
			float: none;
		}

		#carbonads .carbon-wrap {
			display: flex;
			flex-direction: row;
		}

		#carbonads .carbon-img {
			margin: 0;
		}

		#carbonads .carbon-text {
			padding: 10px 10px 0 10px;

			font-size: 12px;
		}

		#carbonads .carbon-poweredby {
			position: absolute;
			right: 0;
			bottom: 0;
			border-radius: 0;
			border-top-left-radius: 3px;
			text-align: center;
		}
	}
}

.carbon-home {
	#carbonads * {
		margin: initial;
		padding: initial;
	}
	#carbonads {
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
			Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
			sans-serif;
	}
	#carbonads {
		display: flex;
		max-width: 330px;
		background-color: hsl(0, 0%, 98%);
		box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, 0.1);
		z-index: 100;
	}
	#carbonads a {
		color: inherit;
		text-decoration: none;
	}
	#carbonads a:hover {
		color: inherit;
	}
	#carbonads span {
		position: relative;
		display: block;
		overflow: hidden;
	}
	#carbonads .carbon-wrap {
		display: flex;
	}
	#carbonads .carbon-img {
		display: block;
		margin: 0;
		line-height: 1;
	}
	#carbonads .carbon-img img {
		display: block;
	}
	#carbonads .carbon-text {
		font-size: 13px;
		padding: 10px;
		margin-bottom: 16px;
		line-height: 1.5;
		text-align: left;
	}
	#carbonads .carbon-poweredby {
		display: block;
		padding: 6px 8px;
		background: #f1f1f2;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		font-weight: 600;
		font-size: 8px;
		line-height: 1;
		border-top-left-radius: 3px;
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

/*! purgecss end ignore */