@use "uniform" as * with (
  $config: (
		colors: (
			background: #430039,
			heading-accent: #FFA4C4,
			heading: #FF5CAA,
			// link: #FF5CAA,
			paragraph: #FFBAD2,
			nav-item-active: #ff91b8

		),
		font-families: (
			sans: 'Inter',
			mono: 'menlo'
		),
		extend: (
			radiuses: (
				// 2xs: rem(3),
				// xs: rem(4),
				// sm: rem(6),
				// md: rem(8),
				// lg: rem(12),
				// xl: rem(16),
				// 2xl: rem(24),
				3xl: 2rem,
				4xl: 3rem
			)
		),
		utilities: (
			width: (
				extend: (
					variants: (
						768: 48rem
					)
				)
			),
			color: (
				extend: (
					pseudos: (group-focus)
				)
			),
			grid-template-columns: (
				extend: (
					variants: (
						24: 'repeat(24, minmax(0, 1fr))'
					)
				)
			)
		),
		// css-variables: false,
		comma-compression: true,
    excludes: (
			
    ),
    includes: (

    )
  )
);
@use "markdown";
@use "_font";
@use "_docsearch";
@use "_highlight";
@use "_carbon";
@use "_glass-container";
@use "_glass-frame";
@use "_glass-keylight";
@use "_glass-code";

[x-cloak] {
	display: none !important;
}

.hero-frame-left {
	position: absolute;
	top: 0;
	left: -640px;
	width: 512px;
	pointer-events: none;
}

.hero-frame-right {
	position: absolute;
	top: 0;
	right: -640px;
	width: 512px;
	pointer-events: none;
}


.docs-pane-divider {
	@include apply('relative sticky top-0 w-1 h-100vh flex-none pointer-events-none');
	mix-blend-mode: overlay;
	&:before {
		position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    display: block;
    width: 50px;
    height: 90%;
    background: #ff9aff;
    filter: blur(40px);
    
    border-radius: 100%;
    z-index: 0;
    opacity: 1;
    z-index: 2;
    transform: translateX(-50%) translateY(-50%);
	} 
}

.glowing-divider {
	position: relative;
	pointer-events: none;
	height: 2px;
	width: 100%;
	background: linear-gradient(to right, rgba(255,164,196,0) 0%, rgba(255,164,196,1) 25%, rgba(255,164,196,1) 75%, rgba(255,164,196,0) 100%);
	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		content: '';
		display: block;
		width: 70%;
		height: 96px;
		background: white;
		border-radius: 100%;
		filter: blur(60px);
		mix-blend-mode: overlay;
		transform: translateX(-50%) translateY(-50%);
	}
}

.toc {
	transition: 200ms;
	a {
		@include apply('inline-flex py-2 text-sm semibold transition-200 transform translate-x-0 color-pink-200 color-opacity-50 hover.color-opacity-70 hover.translate-x-6')
	}
	& > ol {
		ol {
			display: none;
		}
	}
}

.markdown {
	--markdown-p-color: #d5a9ce;
	--markdown-hr-border: 2px solid rgba(var(--pink-200), .3);
	--markdown-heading-color: white;
	--markdown-h2-size: 20px;
	--markdown-h3-size: 16px;
	--markdown-h3-margin: 2.5em 0 1em 0;
	--markdown-strong-color: #ffccf9;
	--markdown-code-bg: rgba(0,0,0,.4);
	--markdown-code-color: rgba(var(--yellow-300), 1);
	--markdown-blockquote-bg: rgba(0,0,0,.4);
	--markdown-link-color: #ff91b8;
	--markdown-link-shadow: none;
	--markdown-th-bg-color: rgba(0,0,0, 0.1);
	--markdown-th-color: rgba(var(--pink-200), 1);
	--markdown-table-border: 1px solid rgba(var(--pink-300), .3);
	--markdown-p-margin: 1.2rem;
	

	.css-value {
		background: transparent;
		color: fill(gray-600)
	}
	h2, h3 {
		&:hover {
			a:before {
				display: inline-block;
			}
		}
		a {
			&:before {
				display: none;
				content: '#';
				margin-left: size(6);
				color: rgb(var(--pink-400));
				font-weight: font(medium);
			}
			&:hover {
				&:before {
					color: rgb(var(--pink-400));
				}
			}
		}
	}
	h2 {
		position: relative;
		padding-left: size(24);
		margin-top: size(48);
		margin-left: size(n24);
	}

	pre {
		border-radius: radius(xl);
		margin-bottom: 1.5em;
		&:last-child {
			margin-bottom: 0;
		}
	}

	& > p a, & > blockquote a, & > ol li a, & > ul li a, & > table td a {
		font-weight: font-weight(semibold);
    &:hover {
			text-decoration: underline;
		}
	}
}

