@use "uniform/core";
@use "sass:map";

$name: top;
$shorthand: top;
$responsive: true;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (top);
$custom-properties: ();

$range-limit: map.get(core.$all-config, range-limits, top);

$variants: (
  core.merge(
    core.sizes($range-limit),
    (
      auto: auto,
      n100p: -100%,
      100p: 100%,
      n50p: -50%,
      50p: 50%
    )
  )
);

$pseudos: ();

$config: (
  utility: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      custom-properties: $custom-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);