@use "uniform/core";
@use "sass:map";

$name: filter-blur; 
$shorthand: filter-blur;
$responsive: false;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (--filter-blur);
$custom-properties: ();

$variants: (
  core.blurs()
);

$pseudos: (hover, group-hover);

$config: (
  utility: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      custom-properties: $custom-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);