/*! Uniform CSS v0.9.0 | MIT License | github.com/ThinkUniform/uniformcss */
:root {
  --FONT-FAMILIES-----------------:#01;
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --FONT-SIZES--------------------:#02;
  --font-2xs: 0.625rem;
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 1.75rem;
  --font-4xl: 2rem;
  --font-5xl: 2.25rem;
  --font-6xl: 2.5rem;
  --font-7xl: 3rem;
  --font-8xl: 3.5rem;
  --font-9xl: 4rem;
  --font-10xl: 4.5rem;
  --font-11xl: 5.5rem;
  --font-12xl: 6.5rem;
  --font-13xl: 7.5rem;
  --FONT-WEIGHTS------------------:#03;
  --ultralight: 100;
  --extralight: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --ultrabold: 900;
  --LEADING-----------------------:#04;
  --leading-tightest: 1.125;
  --leading-tighter: 1.25;
  --leading-tight: 1.375;
  --leading-normal: 1.5;
  --leading-loose: 1.625;
  --leading-looser: 1.75;
  --leading-loosest: 1.875;
  --TRACKING----------------------:#05;
  --tracking-tightest: -0.08em;
  --tracking-tighter: -0.04em;
  --tracking-tight: -0.02em;
  --tracking-normal: 0;
  --tracking-loose: 0.02em;
  --tracking-looser: 0.04em;
  --tracking-loosest: 0.08em;
  --TEXT-LEADING------------------:#06;
  --font-2xs-leading: var(--leading-loosest);
  --font-xs-leading: var(--leading-loosest);
  --font-sm-leading: var(--leading-looser);
  --font-md-leading: var(--leading-looser);
  --font-lg-leading: var(--leading-loose);
  --font-xl-leading: var(--leading-loose);
  --font-2xl-leading: var(--leading-normal);
  --font-3xl-leading: var(--leading-tight);
  --font-4xl-leading: var(--leading-tighter);
  --font-5xl-leading: var(--leading-tighter);
  --font-6xl-leading: var(--leading-tighter);
  --font-7xl-leading: var(--leading-tighter);
  --font-8xl-leading: var(--leading-tighter);
  --font-9xl-leading: var(--leading-tightest);
  --font-10xl-leading: var(--leading-tightest);
  --font-11xl-leading: var(--leading-tightest);
  --font-12xl-leading: var(--leading-tightest);
  --font-13xl-leading: var(--leading-tightest);
  --RADIUS------------------------:#07;
  --radius-2xs: 0.1875rem;
  --radius-xs: 0.25rem;
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  --BLUR--------------------------:#08;
  --blur-2xs: 4px;
  --blur-xs: 8px;
  --blur-sm: 12px;
  --blur-md: 16px;
  --blur-lg: 24px;
  --blur-xl: 32px;
  --blur-2xl: 48px;
  --SHADOWS-----------------------:#09;
  --shadow-2xs: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  --shadow-xs: 0 2px 4px rgba(0, 0, 0, 0.15);
  --shadow-sm: 0 3px 6px rgba(0, 0, 0, 0.2);
  --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.25);
  --shadow-lg: 0 6px 12px rgba(0, 0, 0, 0.3);
  --shadow-xl: 0 12px 24px rgba(0, 0, 0, 0.35);
  --shadow-2xl: 0 24px 48px rgba(0, 0, 0, 0.4);
  --shadow-card: 0 4px 60px 0 rgba(94, 142, 237, 0.2);
  --shadow-focus: 0 0 0 4px rgba(26, 94, 230, 0.2);
  --shadow-success: 0 0 0 4px rgba(162, 230, 26, 0.2);
  --shadow-warning: 0 0 0 4px rgba(230, 162, 26, 0.2);
  --shadow-danger: 0 0 0 4px rgba(230, 26, 26, 0.2);
  --LIGHTNESS---------------------:#10;
  --ltn-white: 100%;
  --ltn-50: 95%;
  --ltn-100: 90%;
  --ltn-150: 85%;
  --ltn-200: 80%;
  --ltn-250: 75%;
  --ltn-300: 70%;
  --ltn-350: 65%;
  --ltn-400: 60%;
  --ltn-450: 55%;
  --ltn-500: 50%;
  --ltn-550: 45%;
  --ltn-600: 40%;
  --ltn-650: 35%;
  --ltn-700: 30%;
  --ltn-750: 25%;
  --ltn-800: 20%;
  --ltn-850: 15%;
  --ltn-900: 10%;
  --ltn-950: 5%;
  --ltn-black: 0%;
  --GRADIENTS---------------------:#11;
  --linear: linear-gradient(var(--linear-gradient, to right, #40C6FF 0%, #505BED 100%));
  --radial: radial-gradient(var(--radial-gradient, circle at 50% 50%, #40c6ff, #505bed));
  --conic: conic-gradient(var(--conic-gradient, from 90deg at 50% 50%, #40c6ff, #505bed));
  --COLORS------------------------:#12;
  --red-hue: 0;
  --red-sat: 50%;
  --firebrick-hue: 10;
  --firebrick-sat: 60%;
  --orange-hue: 20;
  --orange-sat: 70%;
  --gold-hue: 40;
  --gold-sat: 90%;
  --yellow-hue: 50;
  --yellow-sat: 100%;
  --lime-hue: 80;
  --lime-sat: 70%;
  --green-hue: 110;
  --green-sat: 60%;
  --cyan-hue: 190;
  --cyan-sat: 60%;
  --blue-hue: 220;
  --blue-sat: 70%;
  --purple-hue: 260;
  --purple-sat: 90%;
  --violet-hue: 280;
  --violet-sat: 70%;
  --pink-hue: 310;
  --pink-sat: 60%;
  --white-hue: 0;
  --white-sat: 0%;
  --black-hue: 0;
  --black-sat: 0%;
  --cool-gray-hue: 220;
  --cool-gray-sat: 10%;
  --gray-hue: 0;
  --gray-sat: 0%;
  --warm-gray-hue: 24;
  --warm-gray-sat: 10%;
  --primary-hue: 220;
  --primary-sat: 80%;
  --secondary-hue: 220;
  --secondary-sat: 60%;
  --tertiary-hue: 220;
  --tertiary-sat: 40%;
  --success-hue: 80;
  --success-sat: 60%;
  --warning-hue: 40;
  --warning-sat: 60%;
  --danger-hue: 0;
  --danger-sat: 60%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    transform: scale(2.25);
    opacity: 0;
  }
  100% {
    transform: scale(2.25);
    opacity: 0;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, [role=button] {
  cursor: pointer;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
button:focus, [role=button]:focus {
  outline: 0;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol, ul {
  list-style: none;
}

[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}
[type=date]:focus,
[type=datetime]:focus,
[type=datetime-local]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
textarea:focus,
select:focus {
  outline: 0;
}

textarea {
  vertical-align: top;
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
[type=checkbox]:focus,
[type=radio]:focus {
  outline: 0;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
sub, sup {
  position: relative;
  font-size: 0.75em;
}

sub {
  bottom: -0.25em;
  left: 0.25em;
}

sup {
  top: -0.5em;
  left: 0.25em;
}

pre, code {
  font-family: var(--font-mono);
}

[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
  padding: 0.5em 0.75em;
  font-size: 1rem;
  line-height: 1.5;
}

[type=checkbox],
[type=radio] {
  width: 1em;
  height: 1em;
}
[type=checkbox]:checked,
[type=radio]:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type=checkbox]:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

[type=radio] {
  border-radius: 9999px;
}
[type=radio]:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='white'/%3e%3c/svg%3e");
}

select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75em center;
  background-size: 16px 12px;
}

.focus\.color-black:focus {
  --color-ltn: var(--ltn-black);
  --color-opacity: 1;
  color: hsla(var(--black-hue), var(--black-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-black:hover {
  --color-ltn: var(--ltn-black);
  --color-opacity: 1;
  color: hsla(var(--black-hue), var(--black-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-black {
  --color-ltn: var(--ltn-black);
  --color-opacity: 1;
  color: hsla(var(--black-hue), var(--black-sat), var(--color-ltn), var(--color-opacity));
}

.color-black {
  --color-ltn: var(--ltn-black);
  --color-opacity: 1;
  color: hsla(var(--black-hue), var(--black-sat), var(--color-ltn), var(--color-opacity));
}

.focus\.color-950:focus {
  --color-ltn: var(--ltn-950);
}

.hover\.color-950:hover {
  --color-ltn: var(--ltn-950);
}

.group:hover .group-hover\.color-950 {
  --color-ltn: var(--ltn-950);
}

.color-950 {
  --color-ltn: var(--ltn-950);
}

.focus\.color-900:focus {
  --color-ltn: var(--ltn-900);
}

.hover\.color-900:hover {
  --color-ltn: var(--ltn-900);
}

.group:hover .group-hover\.color-900 {
  --color-ltn: var(--ltn-900);
}

.color-900 {
  --color-ltn: var(--ltn-900);
}

.focus\.color-850:focus {
  --color-ltn: var(--ltn-850);
}

.hover\.color-850:hover {
  --color-ltn: var(--ltn-850);
}

.group:hover .group-hover\.color-850 {
  --color-ltn: var(--ltn-850);
}

.color-850 {
  --color-ltn: var(--ltn-850);
}

.focus\.color-800:focus {
  --color-ltn: var(--ltn-800);
}

.hover\.color-800:hover {
  --color-ltn: var(--ltn-800);
}

.group:hover .group-hover\.color-800 {
  --color-ltn: var(--ltn-800);
}

.color-800 {
  --color-ltn: var(--ltn-800);
}

.focus\.color-750:focus {
  --color-ltn: var(--ltn-750);
}

.hover\.color-750:hover {
  --color-ltn: var(--ltn-750);
}

.group:hover .group-hover\.color-750 {
  --color-ltn: var(--ltn-750);
}

.color-750 {
  --color-ltn: var(--ltn-750);
}

.focus\.color-700:focus {
  --color-ltn: var(--ltn-700);
}

.hover\.color-700:hover {
  --color-ltn: var(--ltn-700);
}

.group:hover .group-hover\.color-700 {
  --color-ltn: var(--ltn-700);
}

.color-700 {
  --color-ltn: var(--ltn-700);
}

.focus\.color-650:focus {
  --color-ltn: var(--ltn-650);
}

.hover\.color-650:hover {
  --color-ltn: var(--ltn-650);
}

.group:hover .group-hover\.color-650 {
  --color-ltn: var(--ltn-650);
}

.color-650 {
  --color-ltn: var(--ltn-650);
}

.focus\.color-600:focus {
  --color-ltn: var(--ltn-600);
}

.hover\.color-600:hover {
  --color-ltn: var(--ltn-600);
}

.group:hover .group-hover\.color-600 {
  --color-ltn: var(--ltn-600);
}

.color-600 {
  --color-ltn: var(--ltn-600);
}

.focus\.color-550:focus {
  --color-ltn: var(--ltn-550);
}

.hover\.color-550:hover {
  --color-ltn: var(--ltn-550);
}

.group:hover .group-hover\.color-550 {
  --color-ltn: var(--ltn-550);
}

.color-550 {
  --color-ltn: var(--ltn-550);
}

.focus\.color-500:focus {
  --color-ltn: var(--ltn-500);
}

.hover\.color-500:hover {
  --color-ltn: var(--ltn-500);
}

.group:hover .group-hover\.color-500 {
  --color-ltn: var(--ltn-500);
}

.color-500 {
  --color-ltn: var(--ltn-500);
}

.focus\.color-450:focus {
  --color-ltn: var(--ltn-450);
}

.hover\.color-450:hover {
  --color-ltn: var(--ltn-450);
}

.group:hover .group-hover\.color-450 {
  --color-ltn: var(--ltn-450);
}

.color-450 {
  --color-ltn: var(--ltn-450);
}

.focus\.color-400:focus {
  --color-ltn: var(--ltn-400);
}

.hover\.color-400:hover {
  --color-ltn: var(--ltn-400);
}

.group:hover .group-hover\.color-400 {
  --color-ltn: var(--ltn-400);
}

.color-400 {
  --color-ltn: var(--ltn-400);
}

.focus\.color-350:focus {
  --color-ltn: var(--ltn-350);
}

.hover\.color-350:hover {
  --color-ltn: var(--ltn-350);
}

.group:hover .group-hover\.color-350 {
  --color-ltn: var(--ltn-350);
}

.color-350 {
  --color-ltn: var(--ltn-350);
}

.focus\.color-300:focus {
  --color-ltn: var(--ltn-300);
}

.hover\.color-300:hover {
  --color-ltn: var(--ltn-300);
}

.group:hover .group-hover\.color-300 {
  --color-ltn: var(--ltn-300);
}

.color-300 {
  --color-ltn: var(--ltn-300);
}

.focus\.color-250:focus {
  --color-ltn: var(--ltn-250);
}

.hover\.color-250:hover {
  --color-ltn: var(--ltn-250);
}

.group:hover .group-hover\.color-250 {
  --color-ltn: var(--ltn-250);
}

.color-250 {
  --color-ltn: var(--ltn-250);
}

.focus\.color-200:focus {
  --color-ltn: var(--ltn-200);
}

.hover\.color-200:hover {
  --color-ltn: var(--ltn-200);
}

.group:hover .group-hover\.color-200 {
  --color-ltn: var(--ltn-200);
}

.color-200 {
  --color-ltn: var(--ltn-200);
}

.focus\.color-150:focus {
  --color-ltn: var(--ltn-150);
}

.hover\.color-150:hover {
  --color-ltn: var(--ltn-150);
}

.group:hover .group-hover\.color-150 {
  --color-ltn: var(--ltn-150);
}

.color-150 {
  --color-ltn: var(--ltn-150);
}

.focus\.color-100:focus {
  --color-ltn: var(--ltn-100);
}

.hover\.color-100:hover {
  --color-ltn: var(--ltn-100);
}

.group:hover .group-hover\.color-100 {
  --color-ltn: var(--ltn-100);
}

.color-100 {
  --color-ltn: var(--ltn-100);
}

.focus\.color-50:focus {
  --color-ltn: var(--ltn-50);
}

.hover\.color-50:hover {
  --color-ltn: var(--ltn-50);
}

.group:hover .group-hover\.color-50 {
  --color-ltn: var(--ltn-50);
}

.color-50 {
  --color-ltn: var(--ltn-50);
}

.focus\.color-white:focus {
  --color-ltn: var(--ltn-white);
  --color-opacity: 1;
  color: hsla(var(--white-hue), var(--white-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-white:hover {
  --color-ltn: var(--ltn-white);
  --color-opacity: 1;
  color: hsla(var(--white-hue), var(--white-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-white {
  --color-ltn: var(--ltn-white);
  --color-opacity: 1;
  color: hsla(var(--white-hue), var(--white-sat), var(--color-ltn), var(--color-opacity));
}

.color-white {
  --color-ltn: var(--ltn-white);
  --color-opacity: 1;
  color: hsla(var(--white-hue), var(--white-sat), var(--color-ltn), var(--color-opacity));
}

.focus\.color-current:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: currentColor;
}

.hover\.color-current:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: currentColor;
}

.group:hover .group-hover\.color-current {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: currentColor;
}

.color-current {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: currentColor;
}

.focus\.color-transparent:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: transparent;
}

.hover\.color-transparent:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: transparent;
}

.group:hover .group-hover\.color-transparent {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: transparent;
}

.color-transparent {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: transparent;
}

.focus\.color-red:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--red-hue), var(--red-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-red:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--red-hue), var(--red-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-red {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--red-hue), var(--red-sat), var(--color-ltn), var(--color-opacity));
}

.color-red {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--red-hue), var(--red-sat), var(--color-ltn), var(--color-opacity));
}

.focus\.color-firebrick:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--firebrick-hue), var(--firebrick-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-firebrick:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--firebrick-hue), var(--firebrick-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-firebrick {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--firebrick-hue), var(--firebrick-sat), var(--color-ltn), var(--color-opacity));
}

.color-firebrick {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--firebrick-hue), var(--firebrick-sat), var(--color-ltn), var(--color-opacity));
}

.focus\.color-orange:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--orange-hue), var(--orange-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-orange:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--orange-hue), var(--orange-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-orange {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--orange-hue), var(--orange-sat), var(--color-ltn), var(--color-opacity));
}

.color-orange {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--orange-hue), var(--orange-sat), var(--color-ltn), var(--color-opacity));
}

.focus\.color-gold:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--gold-hue), var(--gold-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-gold:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--gold-hue), var(--gold-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-gold {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--gold-hue), var(--gold-sat), var(--color-ltn), var(--color-opacity));
}

.color-gold {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--gold-hue), var(--gold-sat), var(--color-ltn), var(--color-opacity));
}

.focus\.color-yellow:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--yellow-hue), var(--yellow-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-yellow:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--yellow-hue), var(--yellow-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-yellow {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--yellow-hue), var(--yellow-sat), var(--color-ltn), var(--color-opacity));
}

.color-yellow {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--yellow-hue), var(--yellow-sat), var(--color-ltn), var(--color-opacity));
}

.focus\.color-lime:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--lime-hue), var(--lime-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-lime:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--lime-hue), var(--lime-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-lime {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--lime-hue), var(--lime-sat), var(--color-ltn), var(--color-opacity));
}

.color-lime {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--lime-hue), var(--lime-sat), var(--color-ltn), var(--color-opacity));
}

.focus\.color-green:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--green-hue), var(--green-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-green:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--green-hue), var(--green-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-green {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--green-hue), var(--green-sat), var(--color-ltn), var(--color-opacity));
}

.color-green {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--green-hue), var(--green-sat), var(--color-ltn), var(--color-opacity));
}

.focus\.color-cyan:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--cyan-hue), var(--cyan-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-cyan:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--cyan-hue), var(--cyan-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-cyan {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--cyan-hue), var(--cyan-sat), var(--color-ltn), var(--color-opacity));
}

.color-cyan {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--cyan-hue), var(--cyan-sat), var(--color-ltn), var(--color-opacity));
}

.focus\.color-blue:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--blue-hue), var(--blue-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-blue:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--blue-hue), var(--blue-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-blue {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--blue-hue), var(--blue-sat), var(--color-ltn), var(--color-opacity));
}

.color-blue {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--blue-hue), var(--blue-sat), var(--color-ltn), var(--color-opacity));
}

.focus\.color-purple:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--purple-hue), var(--purple-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-purple:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--purple-hue), var(--purple-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-purple {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--purple-hue), var(--purple-sat), var(--color-ltn), var(--color-opacity));
}

.color-purple {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--purple-hue), var(--purple-sat), var(--color-ltn), var(--color-opacity));
}

.focus\.color-violet:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--violet-hue), var(--violet-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-violet:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--violet-hue), var(--violet-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-violet {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--violet-hue), var(--violet-sat), var(--color-ltn), var(--color-opacity));
}

.color-violet {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--violet-hue), var(--violet-sat), var(--color-ltn), var(--color-opacity));
}

.focus\.color-pink:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--pink-hue), var(--pink-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-pink:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--pink-hue), var(--pink-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-pink {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--pink-hue), var(--pink-sat), var(--color-ltn), var(--color-opacity));
}

.color-pink {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--pink-hue), var(--pink-sat), var(--color-ltn), var(--color-opacity));
}

.focus\.color-cool-gray:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--cool-gray-hue), var(--cool-gray-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-cool-gray:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--cool-gray-hue), var(--cool-gray-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-cool-gray {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--cool-gray-hue), var(--cool-gray-sat), var(--color-ltn), var(--color-opacity));
}

.color-cool-gray {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--cool-gray-hue), var(--cool-gray-sat), var(--color-ltn), var(--color-opacity));
}

.focus\.color-gray:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--gray-hue), var(--gray-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-gray:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--gray-hue), var(--gray-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-gray {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--gray-hue), var(--gray-sat), var(--color-ltn), var(--color-opacity));
}

.color-gray {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--gray-hue), var(--gray-sat), var(--color-ltn), var(--color-opacity));
}

.focus\.color-warm-gray:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--warm-gray-hue), var(--warm-gray-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-warm-gray:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--warm-gray-hue), var(--warm-gray-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-warm-gray {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--warm-gray-hue), var(--warm-gray-sat), var(--color-ltn), var(--color-opacity));
}

.color-warm-gray {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--warm-gray-hue), var(--warm-gray-sat), var(--color-ltn), var(--color-opacity));
}

.focus\.color-primary:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--primary-hue), var(--primary-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-primary:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--primary-hue), var(--primary-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-primary {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--primary-hue), var(--primary-sat), var(--color-ltn), var(--color-opacity));
}

.color-primary {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--primary-hue), var(--primary-sat), var(--color-ltn), var(--color-opacity));
}

.focus\.color-secondary:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--secondary-hue), var(--secondary-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-secondary:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--secondary-hue), var(--secondary-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-secondary {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--secondary-hue), var(--secondary-sat), var(--color-ltn), var(--color-opacity));
}

.color-secondary {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--secondary-hue), var(--secondary-sat), var(--color-ltn), var(--color-opacity));
}

.focus\.color-tertiary:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--tertiary-hue), var(--tertiary-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-tertiary:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--tertiary-hue), var(--tertiary-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-tertiary {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--tertiary-hue), var(--tertiary-sat), var(--color-ltn), var(--color-opacity));
}

.color-tertiary {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--tertiary-hue), var(--tertiary-sat), var(--color-ltn), var(--color-opacity));
}

.focus\.color-success:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--success-hue), var(--success-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-success:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--success-hue), var(--success-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-success {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--success-hue), var(--success-sat), var(--color-ltn), var(--color-opacity));
}

.color-success {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--success-hue), var(--success-sat), var(--color-ltn), var(--color-opacity));
}

.focus\.color-warning:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--warning-hue), var(--warning-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-warning:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--warning-hue), var(--warning-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-warning {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--warning-hue), var(--warning-sat), var(--color-ltn), var(--color-opacity));
}

.color-warning {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--warning-hue), var(--warning-sat), var(--color-ltn), var(--color-opacity));
}

.focus\.color-danger:focus {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--danger-hue), var(--danger-sat), var(--color-ltn), var(--color-opacity));
}

.hover\.color-danger:hover {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--danger-hue), var(--danger-sat), var(--color-ltn), var(--color-opacity));
}

.group:hover .group-hover\.color-danger {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--danger-hue), var(--danger-sat), var(--color-ltn), var(--color-opacity));
}

.color-danger {
  --color-opacity: 1;
  --color-ltn: 50%;
  color: hsla(var(--danger-hue), var(--danger-sat), var(--color-ltn), var(--color-opacity));
}
