/*! Uniform CSS v0.9.0 | MIT License | github.com/ThinkUniform/uniformcss */
.text-2xs {
  line-height: var(--font-2xs-leading);
  font-size: var(--font-2xs);
}

.text-xs {
  line-height: var(--font-xs-leading);
  font-size: var(--font-xs);
}

.text-sm {
  line-height: var(--font-sm-leading);
  font-size: var(--font-sm);
}

.text-md {
  line-height: var(--font-md-leading);
  font-size: var(--font-md);
}

.text-lg {
  line-height: var(--font-lg-leading);
  font-size: var(--font-lg);
}

.text-xl {
  line-height: var(--font-xl-leading);
  font-size: var(--font-xl);
}

.text-2xl {
  line-height: var(--font-2xl-leading);
  font-size: var(--font-2xl);
}

.text-3xl {
  line-height: var(--font-3xl-leading);
  font-size: var(--font-3xl);
}

.text-4xl {
  line-height: var(--font-4xl-leading);
  font-size: var(--font-4xl);
}

.text-5xl {
  line-height: var(--font-5xl-leading);
  font-size: var(--font-5xl);
}

.text-6xl {
  line-height: var(--font-6xl-leading);
  font-size: var(--font-6xl);
}

.text-7xl {
  line-height: var(--font-7xl-leading);
  font-size: var(--font-7xl);
}

.text-8xl {
  line-height: var(--font-8xl-leading);
  font-size: var(--font-8xl);
}

.text-9xl {
  line-height: var(--font-9xl-leading);
  font-size: var(--font-9xl);
}

.text-10xl {
  line-height: var(--font-10xl-leading);
  font-size: var(--font-10xl);
}

.text-11xl {
  line-height: var(--font-11xl-leading);
  font-size: var(--font-11xl);
}

.text-12xl {
  line-height: var(--font-12xl-leading);
  font-size: var(--font-12xl);
}

.text-13xl {
  line-height: var(--font-13xl-leading);
  font-size: var(--font-13xl);
}
