@use "uniform/core";
@use "sass:map";

$name: cursor;
$shorthand: cursor;
$responsive: false;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (cursor);
$custom-properties: ();

$variants: (
  auto: auto,
  default: default,
  pointer: pointer,
  wait: wait,
  text: text,
  move: move,
  not-allowed: not-allowed
);

$pseudos: (hover, active);

$config: (
  utility: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      custom-properties: $custom-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);