@use "uniform/core";
@use "sass:map";

$name: user-select;
$shorthand: select;
$responsive: false;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (user-select, -webkit-user-select);
$custom-properties: ();

$variants: (
  none: none,
  text: text,
  all: all,
  auto: auto
);

$pseudos: ();

$config: (
  utility: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      custom-properties: $custom-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);