<footer>
	<div class="px-32">
    <div class="max-w-1152 mx-auto">
      <div class="glowing-divider mb-112"></div>
      <ul class="grid grid-cols-2 md.grid-cols-4 gap-64 mb-72">
        <li>
          <h5 class="color-pink-100 text-sm semibold mb-20">Introduction</h5>
          <ul>
            <li>
              <a href="/docs/overview/" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Overview</a>
            </li>
            <li>
              <a href="/docs/installation/" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Installation</a>
            </li>
            <li>
              <a href="/docs/managing-file-size/" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Managing File Size</a>
            </li>
            <li>
              <a href="/docs/overview/#browser-support" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Browser Support</a>
            </li>
            <li>
              <a href="/docs/configuration/" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Configuration</a>
            </li>
            <li>
              <a href="/docs/build-scripts/" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Build Scripts</a>
            </li>
            <li>
              <a href="/docs/naming-principles/" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Naming Principles</a>
            </li>
          </ul>
        </li>
        <li>
          <h5 class="color-pink-100 text-sm semibold mb-20">Fundamentals</h5>
          <ul>
            <li>
              <a href="/docs/color-system/" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Color System</a>
            </li>
            <li>
              <a href="/docs/media-queries/" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Media Queries</a>
            </li>
            <li>
              <a href="/docs/pseudo-variants/" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Pseudo Variants</a>
            </li>
            <li>
              <a href="/docs/default-styles/" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Default Styles</a>
            </li>
            <li>
              <a href="/docs/grid-system/" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Grid System</a>
            </li>
            <li>
              <a href="/docs/api-functions/" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">API Functions</a>
            </li>
            <li>
              <a href="/docs/dark-mode/" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Dark Mode</a>
            </li>
            <li>
              <a href="/docs/helper-mixins/" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Helper Mixins</a>
            </li>
            <li>
              <a href="/docs/special-utilities/" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Special Utilities</a>
            </li>
          </ul>
        </li>
        <li>
          <h5 class="color-pink-100 text-sm semibold mb-20">Customization</h5>
          <ul>
            <li>
              <a href="/docs/sass-configuration" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Sass Configuration</a>
            </li>
            <li>
              <a href="/docs/cdn-configuration" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">CDN Configuration</a>
            </li>
            <li>
              <a href="/docs/build-settings" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Build Settings</a>
            </li>
            <li>
              <a href="/docs/theme-settings" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Theme Settings</a>
            </li>
            <li>
              <a href="/docs/utility-settings" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Utility Settings</a>
            </li>
            <li>
              <a href="/docs/excludes-settings" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Excludes Settings</a>
            </li>
            <li>
              <a href="/docs/custom-properties" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Custom Properties</a>
            </li>
            <li>
              <a href="/docs/extracting-components" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Extracting Components</a>
            </li>
          </ul>
        </li>
        <li>
          <h5 class="color-pink-100 text-sm semibold mb-20">Resources</h5>
          <ul>
            <li>
              <a href="/cheatsheet/" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Cheatsheet</a>
            </li>
            <li>
              <a href="/api-reference/" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">API Reference</a>
            </li>
            <li>
              <a href="#" class="text-sm medium color-pink-200 color-opacity-80 hover.color-opacity-100 py-4 inline-block">Tutorials</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="flex align-items-center justify-content-between mb-32">
        <a href="/" class="inline-flex align-items-center text-lg semibold tracking-tight">
          <img src="/assets/img/uniform-logo-white.svg" class="w-112 mr-6">
          <span class="relative mt-n6 ml-n4 color-heading uppercase font-2xs bold tracking-loose">
            2.0
          </span>
        </a>
      </div>

      


      <div class="h-1 bg-white bg-opacity-30"></div>
      <div class="flex flex-col sm.flex-row sm.align-items-center justify-content-between py-32">
        <p class="text-sm semibold color-pink-200">
          Made with devotion to <span class="color-white semibold">design + code</span>
        </p>
        <div class="text-xs color-white regular">
          Code licensed MIT, docs <a href="https://creativecommons.org/licenses/by-nc-sa/4.0" target="_blank" class="color-yellow-300">CC BY-NC-SA 4.0</a>
        </div>
      </div>
    </div>
  </div>
</footer>
