<footer>
	<div class="px-32 pt-48 pb-48">
    <div class="max-w-1152 mx-auto">
      <ul class="grid grid-cols-2 md.grid-cols-4 gap-64 mb-96">
        <li>
          <h5 class="text-sm semibold mb-20">Introduction</h5>
          <ul>
            <li>
              <a href="/docs/overview/" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Overview</a>
            </li>
            <li>
              <a href="/docs/installation/" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Installation</a>
            </li>
            <li>
              <a href="/docs/managing-file-size/" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Managing File Size</a>
            </li>
            <li>
              <a href="/docs/overview/#browser-support" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Browser Support</a>
            </li>
            <li>
              <a href="/docs/configuration/" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Configuration</a>
            </li>
            <li>
              <a href="/docs/build-scripts/" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Build Scripts</a>
            </li>
            <li>
              <a href="/docs/naming-principles/" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Naming Principles</a>
            </li>
          </ul>
        </li>
        <li>
          <h5 class="text-sm semibold mb-20">Fundamentals</h5>
          <ul>
            <li>
              <a href="/docs/color-system/" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Color System</a>
            </li>
            <li>
              <a href="/docs/media-queries/" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Media Queries</a>
            </li>
            <li>
              <a href="/docs/pseudo-variants/" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Pseudo Variants</a>
            </li>
            <li>
              <a href="/docs/default-styles/" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Default Styles</a>
            </li>
            <li>
              <a href="/docs/grid-system/" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Grid System</a>
            </li>
            <li>
              <a href="/docs/api-functions/" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">API Functions</a>
            </li>
            <li>
              <a href="/docs/dark-mode/" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Dark Mode</a>
            </li>
            <li>
              <a href="/docs/helper-mixins/" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Helper Mixins</a>
            </li>
            <li>
              <a href="/docs/special-utilities/" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Special Utilities</a>
            </li>
          </ul>
        </li>
        <li>
          <h5 class="text-sm semibold mb-20">Customization</h5>
          <ul>
            <li>
              <a href="/docs/sass-configuration" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Sass Configuration</a>
            </li>
            <li>
              <a href="/docs/cdn-configuration" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">CDN Configuration</a>
            </li>
            <li>
              <a href="/docs/build-settings" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Build Settings</a>
            </li>
            <li>
              <a href="/docs/theme-settings" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Theme Settings</a>
            </li>
            <li>
              <a href="/docs/utility-settings" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Utility Settings</a>
            </li>
            <li>
              <a href="/docs/custom-properties" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Custom Properties</a>
            </li>
            <li>
              <a href="/docs/extracting-components" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Extracting Components</a>
            </li>
          </ul>
        </li>
        <li>
          <h5 class="text-sm semibold mb-20">Resources</h5>
          <ul>
            <li>
              <a href="/cheatsheet/" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Cheatsheet</a>
            </li>
            <li>
              <a href="/api-reference/" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">API Reference</a>
            </li>
            <li>
              <a href="#" class="text-sm medium color-gray-400 hover.color-gray-600 semibold transition-200 py-6 inline-block">Tutorials</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="text-center">
        <p class="text-sm medium mb-6">
          Made with devotion to design + code
        </p>
        <div class="text-2xs color-gray-400 regular">
          Code licensed MIT, docs <a href="https://creativecommons.org/licenses/by-nc-sa/4.0" target="_blank" class="color-blue-400">CC BY-NC-SA 4.0</a>
        </div>
      </div>
    </div>
  </div>
</footer>
