<nav class="flex flex-col align-items-start gutter-y-16">
  <a href="/docs/overview" class="flex align-items-center font-sm semibold color-primary color-900 hover.color-opacity-70">
    <div class="flex align-items-center justify-content-center radius-full w-24 h-24 bg-primary bg-200 bg-opacity-25 color-primary color-900 font-sm mr-12">
      <ion-icon name="prism-sharp"></ion-icon>
    </div>
    Documentation
  </a>
  <a href="/api-reference" class="flex align-items-center font-sm semibold color-primary color-900 hover.color-opacity-70">
    <div class="flex align-items-center justify-content-center radius-full w-24 h-24 bg-primary bg-200 bg-opacity-25 color-primary color-900 font-sm mr-12">
      <ion-icon name="flash-sharp"></ion-icon>
    </div>
    API Reference
  </a>
  <a href="/cheatsheet/font-sizes" class="flex align-items-center font-sm semibold color-primary color-900 hover.color-opacity-70">
    <div class="flex align-items-center justify-content-center radius-full w-24 h-24 bg-primary bg-200 bg-opacity-25 color-primary color-900 font-sm mr-12">
      <ion-icon name="paper-plane-sharp"></ion-icon>
    </div>
    Cheatsheet
  </a>
  <a href="https://codepen.io/UniformCSS/pen/poNNqaE" target="_blank" class="flex align-items-center font-sm semibold color-primary color-900 hover.color-opacity-70">
    <div class="flex align-items-center justify-content-center radius-full w-24 h-24 bg-primary bg-200 bg-opacity-25 color-primary color-900 font-sm mr-12">
      <ion-icon name="tennisball-sharp"></ion-icon>
    </div>
    Playground
  </a>
  <a href="https://codepen.io/UniformCSS/pen/poNNqaE" class="flex align-items-center font-sm semibold color-primary color-900 hover.color-opacity-70">
    <div class="flex align-items-center justify-content-center radius-full w-24 h-24 bg-primary bg-200 bg-opacity-25 color-primary color-900 font-sm mr-12">
      <ion-icon name="play-sharp"></ion-icon>
    </div>
    Tutorials
  </a>
</nav>