<nav class="hidden md.block sticky top-n1 mt-10 sm.mt-20 px-20 sm.px-32 bg-white bg-opacity-90 backdrop backdrop-blur-md relative z-1">
  <div class="max-w-1280 mx-auto">
    <div class="flex align-items-center justify-content-between h-72 mx-auto">
      <div class="w-256 flex align-items-center">
        <a href="/" class="inline-flex align-items-center text-lg semibold tracking-tight">
          <img src="/assets/img/uniform-brandmark.svg" class="w-24 h-24 mr-12">
          Uniform CSS<span class="hidden sm.inline-flex align-items-center ml-12 px-6 py-2 bg-primary bg-opacity-15 color-primary color-900 uppercase font-2xs bold tracking-loose radius-sm">0.9.0</span>
        </a>
      </div>

      <div class="w-100p max-w-320 max-w-448 group">
        <div class="relative color-white text-sm leading-none">
          <div class="font-lg absolute z-2 top-0 w-48 h-48 flex align-items-center justify-content-center color-primary color-900 color-opacity-50 group-hover.color-opacity-100 transition-300">
            <ion-icon name="search"></ion-icon>
          </div>

          <input type="text" placeholder="Stay hydrated" class="w-100p h-48 pr-32 text-sm text-center radius-full shadow-card placeholder-cool-gray focus.placeholder-800 color-cool-gray color-800 js-docsearch">
        </div>
      </div>

      <div class="w-256 text-right">
        
        <a href="https://github.com/UniformCSS/UniformCSS" class="ml-10 first.ml-0 text-2xl color-tertiary color-200 hover.color-300 transition-100">
          <ion-icon name="logo-github"></ion-icon>
        </a>
        <a href="https://twitter.com/uniformcss" class="ml-10 first.ml-0 text-2xl color-tertiary color-200 hover.color-300 transition-100">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
        <a href="https://github.com/UniformCSS/UniformCSS" class="ml-10 first.ml-0 text-2xl color-tertiary color-200 hover.color-300 transition-100">
          <ion-icon name="logo-youtube"></ion-icon>
        </a>
      </div>
      
    </div>
  </div>
</nav>