<nav class="hidden md.block sticky top-n1 px-20 sm.px-32 bg-white bg-opacity-80 backdrop backdrop-blur-md relative z-1 border-b-1 border-gray-100">
  <div class="max-w-1280 mx-auto">
    <div class="flex align-items-center justify-content-between h-72 mx-auto">
      <div class="w-256 flex align-items-center">
        <a href="/" class="inline-flex align-items-center text-md semibold tracking-tight">
          <img src="/assets/img/uniform-brandmark.svg" class="w-20 h-20 mr-12">
          Uniform CSS
        </a>
      </div>

      <div class="w-448 relative text-sm leading-100 group">
        <div class="font-lg absolute z-2 top-0 w-40 h-40 flex align-items-center justify-content-center color-black color-opacity-50 group-hover.color-opacity-100 transition-100">
          <ion-icon name="search-outline"></ion-icon>
        </div>

        <input type="text" placeholder="Stay hydrated" class="w-100p h-40 pr-32 text-sm text-center radius-lg bg-gray-500 bg-opacity-15 focus.bg-opacity-20 transition-100 js-docsearch">
      </div>

      <div class="w-256 flex justify-content-end gutter-x-20">
        <a href="https://github.com/UniformCSS/UniformCSS" class="flex align-items-center text-2xl hover.color-blue-400 transition-100">
          <ion-icon name="logo-github"></ion-icon>
        </a>
        <a href="https://twitter.com/uniformcss" class="flex align-items-center text-2xl hover.color-blue-400 transition-100">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
        <a href="https://github.com/UniformCSS/UniformCSS" class="flex align-items-center text-2xl hover.color-blue-400 transition-100">
          <ion-icon name="logo-youtube"></ion-icon>
        </a>
      </div>
      
    </div>
  </div>
</nav>


<nav class="px-20 sm.px-32 border-b-1 border-gray-100">
  <div class="max-w-1280 mx-auto">
    <div class="flex align-items-center gutter-x-28 py-14">
      <a href="/docs/overview/" class="text-sm medium color-gray-600 hover.color-gray-900">Docs</a>
      <a href="/api-reference/" class="text-sm medium color-gray-600 hover.color-gray-900">API Reference</a>
      <a href="/cheatsheet/font-sizes/" class="text-sm medium color-gray-600 hover.color-gray-900">Cheatsheet</a>
      <a href="https://codepen.io/UniformCSS/pen/poNNqaE" class="text-sm medium color-gray-600 hover.color-gray-900">Playground</a>
      <a href="https://codepen.io/UniformCSS/pen/poNNqaE" class="text-sm medium color-gray-600 hover.color-gray-900">Tutorials</a>
    </div>
  </div>
</nav>