<div class="relative flex align-items-center sm.justify-content-center px-20 py-12 bg-linear" x-data="{ open: true }" x-show.transition.out.duration.300.opacity="open === true">
  <div class="flex align-items-center color-white font-sm leading-loose pr-40">
    <span class="inline-flex align-items-center h-20 mr-12 px-6 bg-white bg-opacity-20 uppercase font-2xs bold tracking-looser radius-sm color-white">New</span> <p>Stable version of Uniform CSS now officially released! <a class="sm.ml-10 bold">Release note</a></p>
  </div>
  <button class="absolute top-0 right-0 flex align-items-center justify-content-center w-40 h-100p color-white"
    @click="open = false">
    {% set iconClass = 'w-18 h-18' %}
    {% include "icons/close.njk" %}
  </button>
</div> 