
<div class="mb-48 last.mb-0">
  <h6 class="text-xs uppercase tracking-looser color-gray-300 semibold mb-16">
    Introduction
  </h6>
  <nav class="flex flex-col align-items-start">
    {%- for post in collections.introduction -%}
      <a href="{{ post.url }}" class="font-sm medium transition-200 transform translate-x-0 {% if post.url == page.url %}flex align-items-center w-100p px-14 ml-n14 bg-gray-100 color-black radius-md{% else %} color-gray-600 hover.color-gray-900 hover.translate-x-6{% endif %} py-12">{{ post.data.title }}</a>
    {%- endfor -%}
  </nav>
</div>

<div class="mb-48 last.mb-0">
  <h6 class="text-xs uppercase tracking-looser color-gray-300 semibold mb-16">
    Fundamentals
  </h6>
  <nav class="flex flex-col align-items-start">
    {%- for post in collections.fundamentals -%}
      <a href="{{ post.url }}" class="font-sm medium transition-200 transform translate-x-0 {% if post.url == page.url %}flex align-items-center w-100p px-14 ml-n14 bg-gray-100 color-black radius-md{% else %} color-gray-600 hover.color-gray-900 hover.translate-x-6{% endif %} py-12">{{ post.data.title }}</a>
    {%- endfor -%}
  </nav>
</div>

<div class="mb-48 last.mb-0">
  <h6 class="text-xs uppercase tracking-looser color-gray-300 semibold mb-16">
    Customization
  </h6>
  <nav class="flex flex-col align-items-start">
    {%- for post in collections.customization -%}
      <a href="{{ post.url }}" class="font-sm medium transition-200 transform translate-x-0 {% if post.url == page.url %}flex align-items-center w-100p px-14 ml-n14 bg-gray-100 color-black radius-md{% else %} color-gray-600 hover.color-gray-900 hover.translate-x-6{% endif %} py-12">{{ post.data.title }}</a>
    {%- endfor -%}
  </nav>
</div>

<div class="mb-48 last.mb-0">
  <h6 class="text-xs uppercase tracking-looser color-gray-300 semibold mb-16">
    Theming
  </h6>
  <nav class="flex flex-col align-items-start">
    {%- for post in collections.theming -%}
      <a href="{{ post.url }}" class="font-sm medium transition-200 transform translate-x-0 {% if post.url == page.url %}flex align-items-center w-100p px-14 ml-n14 bg-gray-100 color-black radius-md{% else %} color-gray-600 hover.color-gray-900 hover.translate-x-6{% endif %} py-12">{{ post.data.title }}</a>
    {%- endfor -%}
  </nav>
</div>

<div class="mb-48 last.mb-0">
  <h6 class="text-xs uppercase tracking-looser color-gray-300 semibold mb-16">
    Special Utilities
  </h6>
  <nav class="flex flex-col align-items-start">
    {%- for post in collections.specialUtilities -%}
      <a href="{{ post.url }}" class="font-sm medium transition-200 transform translate-x-0 {% if post.url == page.url %}flex align-items-center w-100p px-14 ml-n14 bg-gray-100 color-black radius-md{% else %} color-gray-600 hover.color-gray-900 hover.translate-x-6{% endif %} py-12">{{ post.data.title }}</a>
    {%- endfor -%}
  </nav>
</div>