<aside class="border-r-1 border-heading-accent border-opacity-30 flex-none">
  <div class="sticky top-0 w-256 h-100vh overflow-auto px-24 py-32 bg-black bg-opacity-10">


    <div class="">
      <ul class="gutter-y-36">

        <li>
          <nav class="flex flex-col align-items-start">


            
            {%- for name in properties -%}
              

              {% set alphabet = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'] %}

              {%- for letter in alphabet -%}
                
                {% set typeLetter = false %}


                {%- for key, value in name -%}
                  
                  {% set firstLetter = key.slice(0, 1) %}
                  

                  {% if typeLetter == false %}

                    {% if firstLetter == letter %}
                      <div class="text-xs uppercase tracking-looser color-white semibold pt-24 first.pt-0 mb-10">
                        {{ firstLetter }}
                      </div>
                      {% set typeLetter = true %}
                    {% endif %}
                  {% endif %}

                  {% if typeLetter == true %}

                    {% if firstLetter == letter %}
                      <a href="#{{ key | slugify }}" class="py-2 text-sm semibold transition-200 transform translate-x-0 color-pink-200 color-opacity-60 hover.color-opacity-90 hover.translate-x-6">
                        {{ key }}
                      </a>
                    {% endif %}

                  {% endif %}

                  
                  
                {%- endfor -%}





              {%- endfor -%}
              

              

            {%- endfor -%}
          </nav>
        </li>

      </ul>
    </div>
  </div>
</aside>