<ul class="gutter-y-40">
  <li>
    <h6 class="text-xs uppercase tracking-looser color-cool-gray-400 semibold mb-16">
      Animation
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for property in properties.animation -%}
        <a href="#{{ property.name | slugify }}" class="font-sm medium transition-200 transform translate-x-0 color-cool-gray-600 hover.color-cool-gray-900 hover.translate-x-6 py-12">
          {{ property.name }}
        </a>
      {%- endfor -%}
    </nav>
  </li>
  <li>
    <h6 class="text-xs uppercase tracking-looser color-cool-gray-400 semibold mb-16">
      Background
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for property in properties.background -%}
        <a href="#{{ property.name | slugify }}" class="font-sm medium transition-200 transform translate-x-0 color-cool-gray-600 hover.color-cool-gray-900 hover.translate-x-6 py-12">
          {{ property.name }}
        </a>
      {%- endfor -%}
    </nav>
  </li>
  <li>
    <h6 class="text-xs uppercase tracking-looser color-cool-gray-400 semibold mb-16">
      Border
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for property in properties.border -%}
        <a href="#{{ property.name | slugify }}" class="font-sm medium transition-200 transform translate-x-0 color-cool-gray-600 hover.color-cool-gray-900 hover.translate-x-6 py-12">
          {{ property.name }}
        </a>
      {%- endfor -%}
    </nav>
  </li>
  <li>
    <h6 class="text-xs uppercase tracking-looser color-cool-gray-400 semibold mb-16">
      Layout
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for property in properties.layout -%}
        <a href="#{{ property.name | slugify }}" class="font-sm medium transition-200 transform translate-x-0 color-cool-gray-600 hover.color-cool-gray-900 hover.translate-x-6 py-12">
          {{ property.name }}
        </a>
      {%- endfor -%}
    </nav>
  </li>
  <li>
    <h6 class="text-xs uppercase tracking-looser color-cool-gray-400 semibold mb-16">
      Effect
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for property in properties.effect -%}
        <a href="#{{ property.name | slugify }}" class="font-sm medium transition-200 transform translate-x-0 color-cool-gray-600 hover.color-cool-gray-900 hover.translate-x-6 py-12">
          {{ property.name }}
        </a>
      {%- endfor -%}
    </nav>
  </li>
  <li>
    <h6 class="text-xs uppercase tracking-looser color-cool-gray-400 semibold mb-16">
      Flexbox
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for property in properties.flexbox -%}
        <a href="#{{ property.name | slugify }}" class="font-sm medium transition-200 transform translate-x-0 color-cool-gray-600 hover.color-cool-gray-900 hover.translate-x-6 py-12">
          {{ property.name }}
        </a>
      {%- endfor -%}
    </nav>
  </li>
  <li>
    <h6 class="text-xs uppercase tracking-looser color-cool-gray-400 semibold mb-16">
      Gap
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for property in properties.gap -%}
        <a href="#{{ property.name | slugify }}" class="font-sm medium transition-200 transform translate-x-0 color-cool-gray-600 hover.color-cool-gray-900 hover.translate-x-6 py-12">
          {{ property.name }}
        </a>
      {%- endfor -%}
    </nav>
  </li>
  <li>
    <h6 class="text-xs uppercase tracking-looser color-cool-gray-400 semibold mb-16">
      Grid
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for property in properties.grid -%}
        <a href="#{{ property.name | slugify }}" class="font-sm medium transition-200 transform translate-x-0 color-cool-gray-600 hover.color-cool-gray-900 hover.translate-x-6 py-12">
          {{ property.name }}
        </a>
      {%- endfor -%}
    </nav>
  </li>
  <li>
    <h6 class="text-xs uppercase tracking-looser color-cool-gray-400 semibold mb-16">
      Gutter
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for property in properties.gutter -%}
        <a href="#{{ property.name | slugify }}" class="font-sm medium transition-200 transform translate-x-0 color-cool-gray-600 hover.color-cool-gray-900 hover.translate-x-6 py-12">
          {{ property.name }}
        </a>
      {%- endfor -%}
    </nav>
  </li>
  <li>
    <h6 class="text-xs uppercase tracking-looser color-cool-gray-400 semibold mb-16">
      Interactive
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for property in properties.interactive -%}
        <a href="#{{ property.name | slugify }}" class="font-sm medium transition-200 transform translate-x-0 color-cool-gray-600 hover.color-cool-gray-900 hover.translate-x-6 py-12">
          {{ property.name }}
        </a>
      {%- endfor -%}
    </nav>
  </li>
  <li>
    <h6 class="text-xs uppercase tracking-looser color-cool-gray-400 semibold mb-16">
      Margin
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for property in properties.margin -%}
        <a href="#{{ property.name | slugify }}" class="font-sm medium transition-200 transform translate-x-0 color-cool-gray-600 hover.color-cool-gray-900 hover.translate-x-6 py-12">
          {{ property.name }}
        </a>
      {%- endfor -%}
    </nav>
  </li>
  <li>
    <h6 class="text-xs uppercase tracking-looser color-cool-gray-400 semibold mb-16">
      Padding
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for property in properties.padding -%}
        <a href="#{{ property.name | slugify }}" class="font-sm medium transition-200 transform translate-x-0 color-cool-gray-600 hover.color-cool-gray-900 hover.translate-x-6 py-12">
          {{ property.name }}
        </a>
      {%- endfor -%}
    </nav>
  </li>
  <li>
    <h6 class="text-xs uppercase tracking-looser color-cool-gray-400 semibold mb-16">
      Sizing
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for property in properties.sizing -%}
        <a href="#{{ property.name | slugify }}" class="font-sm medium transition-200 transform translate-x-0 color-cool-gray-600 hover.color-cool-gray-900 hover.translate-x-6 py-12">
          {{ property.name }}
        </a>
      {%- endfor -%}
    </nav>
  </li>
  <li>
    <h6 class="text-xs uppercase tracking-looser color-cool-gray-400 semibold mb-16">
      SVG
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for property in properties.svg -%}
        <a href="#{{ property.name | slugify }}" class="font-sm medium transition-200 transform translate-x-0 color-cool-gray-600 hover.color-cool-gray-900 hover.translate-x-6 py-12">
          {{ property.name }}
        </a>
      {%- endfor -%}
    </nav>
  </li>
  <li>
    <h6 class="text-xs uppercase tracking-looser color-cool-gray-400 semibold mb-16">
      Transform
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for property in properties.transform -%}
        <a href="#{{ property.name | slugify }}" class="font-sm medium transition-200 transform translate-x-0 color-cool-gray-600 hover.color-cool-gray-900 hover.translate-x-6 py-12">
          {{ property.name }}
        </a>
      {%- endfor -%}
    </nav>
  </li>
  <li>
    <h6 class="text-xs uppercase tracking-looser color-cool-gray-400 semibold mb-16">
      Transition
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for property in properties.transition -%}
        <a href="#{{ property.name | slugify }}" class="font-sm medium transition-200 transform translate-x-0 color-cool-gray-600 hover.color-cool-gray-900 hover.translate-x-6 py-12">
          {{ property.name }}
        </a>
      {%- endfor -%}
    </nav>
  </li>
  <li>
    <h6 class="text-xs uppercase tracking-looser color-cool-gray-400 semibold mb-16">
      Typography
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for property in properties.typography -%}
        <a href="#{{ property.name | slugify }}" class="font-sm medium transition-200 transform translate-x-0 color-cool-gray-600 hover.color-cool-gray-900 hover.translate-x-6 py-12">
          {{ property.name }}
        </a>
      {%- endfor -%}
    </nav>
  </li>
</ul>