<ul class="gutter-y-36">
  <li>
    <h6 class="text-sm semibold color-white semibold mb-12">
      Get Started
    </h6>
    <nav class="flex flex-col align-items-start">
      
      {%- for post in collections.intro -%}
        <a href="{{ post.url }}" class="py-2 text-sm semibold transition-200 transform translate-x-0 {% if post.url == page.url %}color-nav-item-active{% else %} color-pink-200 color-opacity-60 hover.color-opacity-90 hover.translate-x-6{% endif %}">
          {{ post.data.title }}
        </a>
      {%- endfor -%}
      {{ collection.title }}
      
      
      {%- if pagetype == "cheatsheet" -%}
        <a href="/cheatsheet/fills" class="py-2 text-sm semibold transition-200 transform translate-x-0 color-nav-item-active">
          Cheatsheet
        </a>
      {%- else -%}
        <a href="/cheatsheet/fills" class="py-2 text-sm semibold transition-200 transform translate-x-0 {% if post.url == page.url %}color-nav-item-active{% else %} color-pink-200 color-opacity-60 hover.color-opacity-90 hover.translate-x-6{% endif %}">
          Cheatsheet
        </a>
      {%- endif -%}
      {%- if pagetype == "cheatsheet" -%}
        <ul class="py-10">
          {%- for post in collections.cheatsheet -%}
            <li class="pl-20 py-2 border-l-1 {% if post.url == page.url %}color-nav-item-active border-nav-item-active{% else %}border-pink-200 border-opacity-30 color-pink-200 color-opacity-60 hover.color-opacity-90 hover.translate-x-6{% endif %}">
              <a href="{{ post.url }}" class="flex align-items-center text-sm semibold transition-200 transform translate-x-0 {% if post.url == page.url %}color-nav-item-active {% else %} color-pink-200 color-opacity-60 hover.color-opacity-90 hover.translate-x-6{% endif %}">
                {{ post.data.title }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}

      <a href="/appendix" class="flex align-items-center py-2 text-sm semibold transition-200 transform translate-x-0 {% if page.url == '/appendix/' %}color-nav-item-active{% else %} color-pink-200 color-opacity-60 hover.color-opacity-90 hover.translate-x-6{% endif %}">
        Appendix <ion-icon name="star" class="w-14 h-14 color-yellow-300 ml-6"></ion-icon>
      </a>
      
    </nav>
  </li>

  <li>
    <div class="h-1 bg-pink-200 bg-opacity-30"></div>
  </li>

  <li>
    <h6 class="text-sm semibold color-white semibold mb-12">
      Fundamentals
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for post in collections.fundamentals -%}
        <a href="{{ post.url }}" class="py-2 text-sm semibold transition-200 transform translate-x-0 {% if post.url == page.url %}color-nav-item-active{% else %} color-pink-200 color-opacity-60 hover.color-opacity-90 hover.translate-x-6{% endif %}">
          {{ post.data.title }}
        </a>
      {%- endfor -%}
    </nav>
  </li>

  <li>
    <div class="h-1 bg-pink-200 bg-opacity-30"></div>
  </li>

  <li>
    <h6 class="text-sm semibold color-white semibold mb-12">
      Customizations
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for post in collections.customization -%}
        <a href="{{ post.url }}" class="py-2 text-sm semibold transition-200 transform translate-x-0 {% if post.url == page.url %}color-nav-item-active{% else %} color-pink-200 color-opacity-60 hover.color-opacity-90 hover.translate-x-6{% endif %}">
          {{ post.data.title }}
        </a>
      {%- endfor -%}
    </nav>
  </li>

  <li>
    <div class="h-1 bg-pink-200 bg-opacity-30"></div>
  </li>

  <li>
    <h6 class="text-sm semibold color-white semibold mb-12">
      Theming
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for post in collections.theming -%}
        <a href="{{ post.url }}" class="py-2 text-sm semibold transition-200 transform translate-x-0 {% if post.url == page.url %}color-nav-item-active{% else %} color-pink-200 color-opacity-60 hover.color-opacity-90 hover.translate-x-6{% endif %}">
          {{ post.data.title }}
        </a>
      {%- endfor -%}
    </nav>
  </li>

  <li>
    <div class="h-1 bg-pink-200 bg-opacity-30"></div>
  </li>

  <li>
    <h6 class="text-sm semibold color-white semibold mb-12">
      Special Utilities
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for post in collections.specialUtilities -%}
        <a href="{{ post.url }}" class="py-2 text-sm semibold transition-200 transform translate-x-0 {% if post.url == page.url %}color-nav-item-active{% else %} color-pink-200 color-opacity-60 hover.color-opacity-90 hover.translate-x-6{% endif %}">
          {{ post.data.title }}
        </a>
      {%- endfor -%}
    </nav>
  </li>


</ul>