<ul class="gutter-y-36">
  <li>
    <h6 class="text-xs uppercase tracking-looser color-pink-200 color-opacity-80 semibold mb-10">
      Intro
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for post in collections.intro -%}
        <a href="{{ post.url }}" class="py-2 text-sm semibold transition-200 transform translate-x-0 {% if post.url == page.url %}color-nav-item-active{% else %} color-pink-200 color-opacity-60 hover.color-opacity-90 hover.translate-x-6{% endif %}">
          {{ post.data.title }}
        </a>
      {%- endfor -%}
    </nav>
  </li>

  <li>
    <div class="h-1 bg-pink-200 bg-opacity-30"></div>
  </li>

  <li>
    <h6 class="text-xs uppercase tracking-looser color-pink-200 color-opacity-80 semibold mb-16">
      Fundamentals
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for post in collections.fundamentals -%}
        <a href="{{ post.url }}" class="py-2 text-sm semibold transition-200 transform translate-x-0 {% if post.url == page.url %}color-nav-item-active{% else %} color-pink-200 color-opacity-60 hover.color-opacity-90 hover.translate-x-6{% endif %}">
          {{ post.data.title }}
        </a>
      {%- endfor -%}
    </nav>
  </li>

  <li>
    <div class="h-1 bg-pink-200 bg-opacity-30"></div>
  </li>

  <li>
    <h6 class="text-xs uppercase tracking-looser color-pink-200 color-opacity-80 semibold mb-16">
      Customizations
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for post in collections.customization -%}
        <a href="{{ post.url }}" class="py-2 text-sm semibold transition-200 transform translate-x-0 {% if post.url == page.url %}color-nav-item-active{% else %} color-pink-200 color-opacity-60 hover.color-opacity-90 hover.translate-x-6{% endif %}">
          {{ post.data.title }}
        </a>
      {%- endfor -%}
    </nav>
  </li>

  <li>
    <div class="h-1 bg-pink-200 bg-opacity-30"></div>
  </li>

  <li>
    <h6 class="text-xs uppercase tracking-looser color-pink-200 color-opacity-80 semibold mb-16">
      Theming
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for post in collections.theming -%}
        <a href="{{ post.url }}" class="py-2 text-sm semibold transition-200 transform translate-x-0 {% if post.url == page.url %}color-nav-item-active{% else %} color-pink-200 color-opacity-60 hover.color-opacity-90 hover.translate-x-6{% endif %}">
          {{ post.data.title }}
        </a>
      {%- endfor -%}
    </nav>
  </li>

  <li>
    <div class="h-1 bg-pink-200 bg-opacity-30"></div>
  </li>

  <li>
    <h6 class="text-xs uppercase tracking-looser color-pink-200 color-opacity-80 semibold mb-16">
      Special Utilities
    </h6>
    <nav class="flex flex-col align-items-start">
      {%- for post in collections.specialUtilities -%}
        <a href="{{ post.url }}" class="py-2 text-sm semibold transition-200 transform translate-x-0 {% if post.url == page.url %}color-nav-item-active{% else %} color-pink-200 color-opacity-60 hover.color-opacity-90 hover.translate-x-6{% endif %}">
          {{ post.data.title }}
        </a>
      {%- endfor -%}
    </nav>
  </li>


</ul>