@use "uniform/core";
@use "sass:map";

$name: border-color;
$shorthand: border;
$responsive: false;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (border-color);
$custom-properties: (
  --border-ltn: 50%,
  --border-opacity: 1,
);

$variants: (
	core.merge(
    core.border-colors(),
    (
      transparent: transparent,
      current: currentColor
    )
	)
);

$pseudos: (hover, group-hover, focus);

$config: (
  utility: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      custom-properties: $custom-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);