@use "uniform/core";
@use "sass:map";

$name: word-break;
$shorthand: wordbreak;
$responsive: false;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (word-break);
$custom-properties: ();

$variants: (
  word: break-word,
  all: break-all
);

$pseudos: ();

$config: (
  utility: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      custom-properties: $custom-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);