@use "uniform/core";
@use "sass:map";

$name: color;
$shorthand: color;
$responsive: false;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (color);
$static-properties: (
  --color-opacity: 1,
);

$variants: (
  core.merge(
    core.fills(color),
    (
      transparent: transparent,
      current: currentColor,
      success: var(--color-success, rgba(var(--green-800), var(--bg-opacity))),
      warning: var(--color-warning, rgba(var(--yellow-800), var(--bg-opacity))),
      danger: var(--color-danger, rgba(var(--red-800), var(--bg-opacity))),
      info: var(--color-info, rgba(var(--teal-800), var(--bg-opacity))),
    )
	)
);

$pseudos: (hover, group-hover, focus);

$config: (
  utilities: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      static-properties: $static-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);