<div class="w-320 bg-white shadow-md radius-lg overflow-hidden">
  <div class="pt-20 px-20">
    <div class="text-md bold mb-10">Activity</div>

    <hr class="w-100p h-1 bg-cool-gray bg-100">
  </div>

  <ul>
    <li class="flex px-20 py-16">
      <div class="relative flex flex-col align-items-center flex-none w-40">
        <img src="/assets/img/profiles/profile-2.jpg" class="w-40 h-40 flex-none radius-full">
        <div class="flex-none w-100p h-10"><!-- spacer --></div>
        <div class="flex-1 w-2 bg-black bg-opacity-10"></div>
      </div>
      <div class="pl-16">
        <div class="font-sm leading-140 bold mb-16">
          Sam Lilo <br><span class="font-xs regular">2 hours ago</span>
        </div>
        <div class="text-xs">Paid invoice ref. <a class="bold color-indigo-500 hover.color-indigo-600">#687</a></div>
        <div class="text-md bold">
          $58.28
        </div>
      </div>
    </li>

    <li class="flex px-20 py-16 bg-cool-gray-50">
      <div class="relative flex flex-col align-items-center flex-none w-40">
        <img src="/assets/img/profiles/profile-4.jpg" class="w-40 h-40 flex-none radius-full">
        <div class="flex-none w-100p h-10"><!-- spacer --></div>
        <div class="flex-1 w-2 bg-black bg-opacity-10"></div>
      </div>
      <div class="pl-16">
        <h5 class="font-sm leading-140 bold mb-16">
          Sam Lilo <br><span class="font-xs regular">3 minutes ago</span>
        </h5>
        <p class="text-xs">Reviewed the invoice and sent to <a class="bold color-indigo-500 hover.color-indigo-600">tom@lorem.com</a></p>
      </div>
    </li>
  </ul>
</div>