<div>

  <div class="w-320 mb-20 bg-primary bg-900 color-white shadow-md radius-lg overflow-hidden">
    <div class="flex align-items-center justify-content-between px-20 pt-20 mb-10">
      <button>
        <ion-icon name="chevron-back-outline" class="font-2xl"></ion-icon>
      </button>
      <div class="text-lg semibold">Feb 2021</div>
      <button>
        <ion-icon name="chevron-forward-outline" class="font-2xl"></ion-icon>
      </button>
    </div>

    <div class="grid grid-cols-7 p-10">
      <div class="text-2xs text-center bold uppercase">Sun</div>
      <div class="text-2xs text-center bold uppercase">Mon</div>
      <div class="text-2xs text-center bold uppercase">Tue</div>
      <div class="text-2xs text-center bold uppercase">Wed</div>
      <div class="text-2xs text-center bold uppercase">Thu</div>
      <div class="text-2xs text-center bold uppercase">Fri</div>
      <div class="text-2xs text-center bold uppercase">Sat</div>
      <button class="relative w-100p font-sm color-white color-opacity-30 transition-200 ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            26
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm color-white color-opacity-30 transition-200 ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            27
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm color-white color-opacity-30 transition-200 ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            28
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm color-white color-opacity-30 transition-200 ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            29
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm color-white color-opacity-30 transition-200 ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            30
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            31
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            1
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            2
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            3
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            4
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            5
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            6
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm bg-primary bg-opacity-60 ratio-square radius-l-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-6 radius-full flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p bg-primary radius-full">
            7
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm bg-primary bg-opacity-60 transition-200 ratio-square">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            8
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm bg-primary bg-opacity-60 ratio-square">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            9
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm bg-primary bg-opacity-60 ratio-square">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            10
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm bg-primary bg-opacity-60 ratio-square">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            11
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm bg-primary bg-opacity-60 ratio-square radius-r-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-6 radius-full flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p bg-primary radius-full">
            12
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            13
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            14
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            15
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            16
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            17
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            18
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            19
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            20
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            21
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            22
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            23
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            24
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            25
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            26
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            27
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            28
          </div>
        </div>
      </button>
      <button class="relative w-100p font-sm ratio-square radius-full">
        <div class="absolute top-0 left-0 w-100p h-100p p-4 flex align-items-center justify-content-center">
          <div class="flex align-items-center justify-content-center w-100p h-100p border-2 border-white border-opacity-0 hover.border-opacity-100 transition-100 radius-full">
            29
          </div>
        </div>
      </button>
    </div>
  </div>

  <div class="w-100p sm.w-320 p-20 flex align-items-center bg-primary color-white shadow-md radius-lg overflow-hidden">
    <div class="flex align-items-center justify-content-center w-40 h-40 mr-16 bg-white radius-full">
      <ion-icon name="calendar-outline" class="color-primary font-2xl"></ion-icon>
    </div>
    <div class="font-sm">
      <div class="mb-10">
        Wednesday, Feb 07
      </div>
      <div class="bold">
        10:00 - 11:00
      </div>
    </div>
  </div>

</div>