<div class="w-100p p-20 flex align-items-center bg-pink-500 color-white radius-lg overflow-hidden">
  <div class="flex align-items-center justify-content-center w-40 h-40 mr-16 bg-white radius-full">
    <ion-icon name="calendar-outline" class="w-24 h-24 color-pink-500"></ion-icon>
  </div>
  <div class="font-sm">
    <div class="mb-10">
      Wednesday, Feb 07
    </div>
    <div class="bold">
      10:00 - 11:00
    </div>
  </div>
</div>