<div class="w-320 md.w-auto flex flex-col md.flex-row bg-white shadow-md radius-lg overflow-hidden p-10 md.pr-0">
  <img src="/assets/img/uniform-hoodie.jpg" class="flex-none w-100p md.w-160 h-192 sm.h-auto object-cover radius-md">
  <div class="p-10 pt-20 md.p-28 md.py-10">
    <div class="flex align-items-center bold text-xs color-cool-gray-600">
      Unisex
    </div>

    <div class="flex align-items-center justify-content-between mb-20">
      <div class="text-xl semibold">Uniform Hoodie</div>
      <span class="text-xl semibold">$50</span>
    </div>

    <div class="flex align-items-center justify-content-between semibold text-xs mb-6">
      Size
      <div class="flex">
        <button class="ml-16">US</button>
        <button class="ml-16 transition-200 color-black color-opacity-30 hover.color-opacity-100">UK</button>
        <button class="ml-16 transition-200 color-black color-opacity-30 hover.color-opacity-100">EU</button>
      </div>
    </div>

    <div class="flex align-items-end justify-content-between mb-24">
      <div class="flex">
        <button class="radius-md flex align-items-center justify-content-center w-32 h-32 mr-6 bg-black color-white text-xs bold">XS</button>
        <button class="radius-md flex align-items-center justify-content-center w-32 h-32 mr-6 bg-cool-gray-50 hover.bg-cool-gray-100 transition-200 text-xs bold">S</button>
        <button class="radius-md flex align-items-center justify-content-center w-32 h-32 mr-6 bg-cool-gray-50 hover.bg-cool-gray-100 transition-200 text-xs bold">M</button>
        <button class="radius-md flex align-items-center justify-content-center w-32 h-32 mr-6 bg-cool-gray-50 hover.bg-cool-gray-100 transition-200 text-xs bold">L</button>
      </div>
      <a href="#" class="ml-10 text-sm underline color-cool-gray-600 hover.color-cool-gray-600">Size guide</a>
    </div>
    <p class="text-sm">Free shipping on orders over $25.</p>

  </div>
</div>