<div class="relative w-320 bg-white shadow-md radius-lg overflow-hidden">
  <img src="/assets/img/dubai.jpg">
  <div class="absolute left-0 bottom-0 w-100p p-14">
    <div class="bg-white bg-opacity-40 backdrop backdrop-blur-sm radius-lg p-20">
      <div class="text-xs semibold color-white text-center">Uniform Academy</div>
      <h4 class="text-xl bold color-black text-center tracking-tight mb-20">Animation in UI Design</h4>

      <div class="flex align-items-center mb-20">
        <div class="flex-none text-xs semibold color-white color-opacity-60 pr-10">
          18.57
        </div>
        <div class="w-100p h-4 radius-full overflow-hidden bg-white bg-200">
          <div class="w-3-5 h-4 bg-primary-500 radius-full">
          </div>
        </div>
        <div class="flex-none text-xs semibold color-white color-opacity-60 pl-10">
          32.56
        </div>
      </div>

      <div class="flex align-items-center justify-content-between">
        <button class="flex align-items-center justify-content-center w-40 h-40 radius-full border-2 hover.bg-black color-black hover.color-white transition-200">
          {% set iconClass = 'w-24 h-24' %}
          {% include "icons/heart-outline.njk" %}
        </button>
        <button class="flex align-items-center justify-content-center w-40 h-40 radius-full border-2 hover.bg-black color-black hover.color-white transition-200">
          {% set iconClass = 'w-24 h-24' %}
          {% include "icons/play-skip-back-outline.njk" %}
        </button>
        <button class="flex align-items-center justify-content-center w-48 h-48 radius-full bg-primary-500 hover.bg-primary-600 color-white transition-200">
          {% set iconClass = 'w-24 h-24' %}
          {% include "icons/pause-outline.njk" %}
        </button>
        <button class="flex align-items-center justify-content-center w-40 h-40 radius-full border-2 hover.bg-black color-black hover.color-white transition-200">
          {% set iconClass = 'w-24 h-24' %}
          {% include "icons/play-skip-forward-outline.njk" %}
        </button>
        <button class="flex align-items-center justify-content-center w-40 h-40 radius-full border-2 hover.bg-black color-black hover.color-white transition-200">
          {% set iconClass = 'w-24 h-24' %}
          {% include "icons/bookmark-outline.njk" %}
        </button>
      </div>
    </div>
  </div>
</div>