<div class="w-320 bg-black shadow-md radius-lg p-20 pt-32">
  <div class="text-xl text-center extrabold tracking-tight color-white mb-6">Sign in to Uniform</div>
  <div class="text-sm text-center color-white color-opacity-60 mb-28">Enter your username and password</div>

  

  <div>
    <div class="relative mb-14">
      <div class="absolute top-0 left-0 flex align-items-center justify-content-center w-40 h-48 color-white color-opacity-40">
        {% set iconClass = 'w-18 h-18' %}
        {% include "icons/mail.njk" %}
      </div>
      <input type="email" class="h-48 px-16 pl-40 text-sm radius-xs bg-white bg-opacity-10 focus.bg-opacity-15 color-white" placeholder="Username" required>
    </div>
    <div class="relative mb-14">
      <div class="absolute top-0 left-0 flex align-items-center justify-content-center w-40 h-48 color-white color-opacity-40">
        {% set iconClass = 'w-18 h-18' %}
        {% include "icons/lock-closed.njk" %}
      </div>
      <input type="password" class="h-48 px-16 pl-40 text-sm radius-xs bg-white bg-opacity-10 focus.bg-opacity-15 color-white" placeholder="Password" required>
    </div>
    <div class="mb-24">
      <label class="inline-flex align-items-center font-sm color-white">
        <input class="text-lg radius-xs bg-white bg-opacity-20 color-primary-400 transition-200 border-1 mr-8 " type="checkbox" checked/>
        Remember me
      </label>
    </div>
    <button class="inline-flex align-items-center justify-content-center w-100p h-40 px-14 radius-xs color-white bg-primary-500 hover.bg-primary-600 focus.shadow-focus transition-100">Sign in</button>
  </div>  
</div>