<div>

  <div class="w-320 bg-white dark.bg-primary dark.bg-900 color-primary color-900 dark.color-white transition-300 shadow-md radius-lg overflow-hidden p-20">
    <div class="flex align-items-center justify-content-between mb-10">
      <h4 class="text-md bold">Asset Balances</h4>
      <button class="flex align-items-center justify-content-center">
        <ion-icon name="options" class="font-xl"></ion-icon>
      </button>
    </div>
    <hr class="w-100p h-1 bg-cool-gray bg-100 dark.bg-800 transition-300 mb-20">
    <div class="gutter-y-24">
      <a class="flex align-items-center justify-content-between">

        <div class="flex align-items-center">
          <div class="flex align-items-center justify-content-center w-40 h-40 mr-16 radius-full font-2xs bold bg-primary dark.bg-cool-gray transition-300 color-white">
            BTC
          </div>
          <div>
            <div class="flex align-items-center semibold mb-8">
              Bitcoin
            </div>
            <div class="flex align-items-center color-green color-600 dark.color-cyan transition-300">
              <span class="font-xs semibold">8.77%</span>
              <ion-icon name="trending-up" class="ml-2 font-md"></ion-icon>
            </div>
          </div>
        </div>

        <div class="text-right">
          <div class="semibold mb-8">11.4205</div>
          <div class="semibold font-xs color-primary color-900 color-opacity-40 dark.color-white dark.opacity-40 transition-300">$56,810</div>
        </div>

      </a>

      <a class="flex align-items-center justify-content-between">

        <div class="flex align-items-center">
          <div class="flex align-items-center justify-content-center w-40 h-40 mr-16 radius-full font-2xs bold bg-primary dark.bg-cool-gray transition-300 color-white">
            ETH
          </div>
          <div>
            <div class="flex align-items-center semibold mb-8">
              Ethereum
            </div>
            <div class="flex align-items-center color-magenta">
              <span class="font-xs semibold">2.51%</span>
              <ion-icon name="trending-down" class="ml-2 font-md"></ion-icon>
            </div>
          </div>
        </div>

        <div class="text-right">
          <div class="semibold mb-8">23.514</div>
          <div class="semibold font-xs color-primary color-900 color-opacity-40 dark.color-white dark.opacity-40 transition-300">$3,560</div>
        </div>

      </a>

      <a class="flex align-items-center justify-content-between">

        <div class="flex align-items-center">
          <div class="flex align-items-center justify-content-center w-40 h-40 mr-16 radius-full font-2xs bold bg-primary dark.bg-cool-gray transition-300 color-white">
            ADA
          </div>
          <div>
            <div class="flex align-items-center semibold mb-8">
              Cardano
            </div>
            <div class="flex align-items-center color-magenta">
              <span class="font-xs semibold">4.36%</span>
              <ion-icon name="trending-down" class="ml-2 font-md"></ion-icon>
            </div>
          </div>
        </div>

        <div class="text-right">
          <div class="semibold mb-8">112.2515</div>
          <div class="semibold font-xs color-primary color-900 color-opacity-40 dark.color-white dark.opacity-40 transition-300">$2.18</div>
        </div>

      </a>

      <a class="flex align-items-center justify-content-between">

        <div class="flex align-items-center">
          <div class="flex align-items-center justify-content-center w-40 h-40 mr-16 radius-full font-2xs bold bg-primary dark.bg-cool-gray transition-300 color-white">
            DOGE
          </div>
          <div>
            <div class="flex align-items-center semibold mb-8">
              Dogecoin
            </div>
            <div class="flex align-items-center color-green color-600 dark.color-cyan transition-300">
              <span class="font-xs semibold">7.12%</span>
              <ion-icon name="trending-up" class="ml-2 font-md"></ion-icon>
            </div>
          </div>
        </div>

        <div class="text-right">
          <div class="semibold mb-8">5,620.104</div>
          <div class="semibold font-xs color-primary color-900 color-opacity-40 dark.color-white dark.opacity-40 transition-300">$0.49</div>
        </div>

      </a>
    </div>

  </div>

</div>