@use "uniform/core";
@use "sass:map";

$name: background-color;
$shorthand: bg;
$responsive: false;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (background-color);
$static-properties: (
  --bg-opacity: 1,
);

$variants: (
	core.merge(
    core.fills(bg),
    (
      transparent: transparent,
      current: currentColor
    )
	)
);

$pseudos: (hover, group-hover, focus);

$config: (
  utilities: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      static-properties: $static-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);