.fade-in-from-top {
  --animate-duration: 2s;
  --animate-delay: 0s;
  --animate-timing: ease-out;
  --animate-fill-mode: forwards;
	animation: fadeInFromTop var(--animate-duration) var(--animate-timing) var(--animate-delay) var(--animate-fill-mode);
}

.fade-in-from-bottom {
  --animate-duration: 2s;
  --animate-delay: 0s;
  --animate-timing: ease-out;
  --animate-fill-mode: forwards;
	animation: fadeInFromBottom var(--animate-duration) var(--animate-timing) var(--animate-delay) var(--animate-fill-mode);
}

.fade-in {
  --animate-duration: 2s;
  --animate-delay: 0s;
  --animate-timing: ease-out;
  --animate-fill-mode: forwards;
	animation: fadeIn var(--animate-duration) var(--animate-timing) var(--animate-delay) var(--animate-fill-mode);
}

@keyframes fadeIn
{
  0%  {
    opacity: 0;
  }
  100%  {
    opacity: 1;
  }
}

@keyframes fadeInFromTop
{
  0%  {
    transform: translateY(var(--animate-from, -10px));
    opacity: 0;
  }
  100%  {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInFromBottom
{
  0%  {
    transform: translateY(var(--animate-from, 10px));
    opacity: 0;
  }
  100%  {
    transform: translateY(0);
    opacity: 1;
  }
}