@use "uniform/core";
@use "sass:map";

$name: scroll-behavior;
$shorthand: scroll;
$responsive: true;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (scroll-behavior);
$custom-properties: ();

$variants: (
  auto: auto,
  smooth: smooth
);

$pseudos: ();

$config: (
  utility: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      custom-properties: $custom-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);