---
layout: layouts/base.njk
---

{% include "partials/notice.njk" %}
{% include "partials/nav.njk" %}

<a href="#page-top" class="fixed bottom-0 left-50p transition-200 transform translate-y-80 translate-x-n50p h-48 mb-32 px-20 radius-full flex align-items-center bg-white color-black text-sm shadow-lg z-2 js-scrollUp">
  Back to top
</a>


<button @click="mobileNav = !mobileNav" class="fixed sm.hidden bottom-0 right-0 flex align-items-center justify-content-center w-56 h-56 mb-32 mr-32 bg-black radius-full z-3">
  <div class="gutter-y-6">
    <div class="w-24 h-2 bg-white"></div>
    <div class="w-24 h-2 bg-white"></div>
  </div>
</button>

<div class="relative z-3 md.hidden">
  <div class="fixed top-0 left-0 w-100p h-100vh bg-black bg-opacity-20 z-1"
    x-cloak
    @click="mobileNav = !mobileNav"
    x-show.transition.opacity.duration.300="mobileNav === true">
  </div>

  <div class="fixed top-0 left-0 w-288 h-100vh py-48 pl-28 pr-0 overflow-auto bg-white z-1"
    x-cloak
    x-show="mobileNav === true"
    x-transition:enter="transition-300"
    x-transition:enter-start="transform translate-x-n288"
    x-transition:enter-end="transform"
    x-transition:leave="transition-300"
    x-transition:leave-start="transform translate-x-0"
    x-transition:leave-end="transform translate-x-n288">
    {% include "partials/sidebar-api-reference.njk" %}
  </div>
  
</div>

<main class="px-20 sm.px-32">
  <div class="max-w-1280 mx-auto">
  
    <div class="flex flex-col sm.flex-row">
      <aside class="sm.w-256 flex-none">
        <div class="hidden sm.block top-72 sticky h-100vh overflow-auto pl-20 pr-40 pt-48 pb-192 ml-n20">
          {% include "partials/sidebar-api-reference.njk" %}
        </div>
      </aside>

      <section class="docsearch-content overflow-auto flex-1 mt-48 mb-112 sm.pl-32">
        <h1 class="text-5xl bold tracking-tight mb-10">
          {{ title | safe }}
        </h1>
        <p class="text-xl color-cool-gray-600 tracking-tight mb-56">
          {{ description | safe }}
        </p>
        <hr class="border-t-4 border-dotted border-cool-gray-100">
        
        {%- for propertyKey, propertyValue in properties -%}
          {%- for key in propertyValue -%}
            <article>
              <header class="mb-20">
                <div class="markdown">
                  <h2 id="{{ key.name | slugify }}" class="flex align-items-end mb-20 pt-64 text-2xl bold tracking-tight">
                    {{ key.name }}<a href="#{{ key.name | slugify }}" class="direct-link"></a>
                  </h2>
                </div>

                <div class="radius-lg overflow-hidden">
<pre class="language-scss"><code class="language-scss"><span class="token property">responsive</span><span class="token punctuation">: </span>{%- if key.responsive -%}<span class="token boolean">true</span>{%- else -%}<span class="token boolean">false</span>{%- endif -%}<span class="token punctuation">,</span> <span class="token property">pseudos</span><span class="token punctuation">:</span> <span class="token punctuation">(</span>{{ key.pseudos }}<span class="token punctuation">)</span></code></pre>
                </div>
              </header>

              
              
              <div class="max-h-320 overflow-auto">
                <table class="w-100p">
                  <tbody>
                    {%- for utility in key.utilities -%}
                      <tr>
                        <td class="w-4-12 text-sm bg-cool-gray-50 bg-opacity-40 color-indigo-500 select-all border-1 border-cool-gray-100 align-top pr-40 px-20 py-8">
                          <code class="space-nowrap">{{utility.class}} <span class="opacity-30">{{ key.extraSelector }}</span></code>
                        </td>
                        <td class="text-sm border-1 border-cool-gray-100 color-cool-gray-700 align-top px-20 py-8">
                          <pre class="overflow-auto">
                          {%- for item in key.staticProperties -%}
                            <code class="opacity-50">{{ item }}</code><br>
                          {%- endfor -%}
                          {%- for item in utility.properties -%}
                            <code>{{ item }}</code><br>
                          {%- endfor -%}
                          </pre>
                        </td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              </div>

              
              
            </article>
          {%- endfor -%}
        {%- endfor -%}

      </section>

      


    </div>
  </div>
</main>

















