<!doctype html>
<html lang="en" class="antialiased font-sans bg-background">
<head>
  <title>{{ metadata.sitename }}{{ title or metadata.title }}</title>

  <!-- Page Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ description or metadata.description }}">

  <!-- Social Media Open Graph -->
  <meta property="og:title" content="{{ metadata.sitename }}{{ title or metadata.title }}" />
  <meta property="og:url" content="{{ permalink | url }}" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{{ description or metadata.description }}" />
  <meta property="og:image" content="https://uniformcss.com//screenshot.png" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@UniformCSS" />
  <meta name="twitter:creator" content="@UniformCSS" />
  <meta property="twitter:url" content="{{ permalink | url }}" />
  <meta property="twitter:title" content="{{ metadata.sitename }}{{ title or metadata.title }}" />
  <meta property="twitter:description" content="{{ description or metadata.description }}" />
  <meta property="twitter:image" content="https://uniformcss.com/screenshot.png" />

  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

  <!-- Icons -->
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="manifest" href="/manifest.webmanifest">

  <!-- Styles -->
  {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" /> #}
  <link rel="stylesheet" href="{{ '/assets/css/uniform.min.css' | url }}">

  <!-- AlpineJS -->
  <script defer src="https://unpkg.com/alpinejs@3.2.2/dist/cdn.min.js"></script>

  <!-- GSAP -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js"></script>

  <!-- Fathom - beautiful, simple website analytics -->
  <script src="https://cdn.usefathom.com/script.js" data-site="MVUUJQYW" defer></script>

</head>
<body 
  id="page-top"
  x-data="main"
>

{{ content | safe }}

<!-- Scripts -->
<script src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


{% if pageType == 'docs' %}
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
  <script src="/assets/js/docs.js"></script>
{% else %}
  <script src="/assets/js/main.js"></script>
{% endif %}
</body>
</html>
