---
layout: layouts/base.njk
pageType: docs
---

{% include "partials/modals/mobile-nav.njk" %}

<main>
  
  <div class="flex flex-col md.flex-row">

    {% include "partials/sidebar.njk" %} 

    <div class="flex flex-1 justify-content-center gap-48 px-20 min-h-100vh md.border-l-2 border-heading-accent">
      <section class="docsearch-content overflow-auto w-100p max-w-896 flex-none mt-48 md.mt-72 mb-112">
        <h1 class="inline-flex align-items-center bg-pink-400 bg-opacity-20 mb-14 px-14 py-4 semibold text-sm radius-full color-pink-200 tracking-tight">
          {{ title | safe }}
        </h1>
        <h2 class="font-5xl sm.font-7xl md.font-7xl lg.font-7xl leading-120 extrabold mb-28 tracking-tighter color-heading">
          {{ description | safe }}
        </h2>

        {%- if intro -%}
          <div class="text-lg color-paragraph">
            {{ intro | markdownify | safe }}
          </div>
        {%- endif -%}

        {# <div class="flex align-items-center mb-56">
          <img src="/assets/img/profiles/jin.jpg" class="w-36 h-36 mr-14 border-2 border-white radius-full">
          <div>
            <div class="text-sm semibold color-white mb-4">
              Jin Su Park
            </div>
            <div class="text-xs leading-100 color-pink-200 color-opacity-60">
              Last updated {{ date | asPostDate }}
            </div>
          </div>
        </div> #}
        <hr class="border-t-2 border-pink-200 border-opacity-30 my-56">
        <article class="markdown color-black">
          {{ content | safe }}
        </article>
      </section>
      {# <div class="hidden lg.block relative flex-none">
        <div class="sticky w-192 top-64 radius-lg">
          <div class="w-100p">
            
            <div>
              <h6 class="text-sm semibold color-white mb-16">
                On this page
              </h6>
              {{ content | toc | safe }}
            </div>
            
          </div>
        </div>
      </div> #}
    </div>
  </div>
</main>