---
layout: layouts/base-docs.njk
bodyClass: bg-doc-background
---

{% include "partials/nav.njk" %}

<main class="">
  
  <div class="flex">
    <aside class="border-r-2 border-heading-accent flex-none">
      <div class="sticky top-0 w-288 h-100vh overflow-auto px-24 py-32">
        <div class="flex align-items-center justify-content-between mb-32">
          <div class="flex align-items-center">
            <a href="/" class="inline-flex align-items-center text-lg semibold tracking-tight">
              <img src="/assets/img/uniform-logo-white.svg" class="w-128 mr-6">
            </a>
            <button class="relative top-2 flex align-items-center ml-2 px-6 py-6 radius-sm hover.bg-black hover.bg-opacity-40 color-heading uppercase font-xs semibold transition-200">
              2.0 <ion-icon name="chevron-down" class="w-14 h-14 ml-4"></ion-icon>
            </button>
          </div>
          <div class="flex align-items-center">
            
            <a href="https://github.com/ThinkUniform/uniformcss" class="flex align-items-center text-md leading-100 color-pink-200 color-opacity-70 hover.color-opacity-90">
              <ion-icon name="logo-github" class="w-24 h-24"></ion-icon>
            </a>
          </div>
        </div>

        <div class="js-docsearch mb-32">
          
        </div>

        <div class="">
          {% include "partials/sidebar-docs.njk" %}
        </div>
      </div>
    </aside>

    {# <aside class="border-r-1 border-heading-accent border-opacity-30 flex-none">
      <div class="sticky top-0 w-256 h-100vh overflow-auto px-24 py-32 bg-black bg-opacity-10">


        <div class="">
          {% include "partials/sidebar-docs.njk" %}
        </div>
      </div>
    </aside> #}

    <div class="flex flex-1 justify-content-center gap-48 px-24">
      <section class="docsearch-content overflow-auto w-100p max-w-640 flex-none mt-72 mb-112">
        <h5 class="inline-flex align-items-center bg-pink-400 bg-opacity-20 mb-14 px-14 py-4 semibold text-sm radius-full color-pink-200 tracking-tight">
          {{ title | safe }}
        </h5>
        <h1 class="font-6xl sm.font-7xl md.font-8xl lg.font-7xl leading-110 extrabold mb-28 tracking-tighter color-heading">
          {{ description | safe }}
        </h1>

        {# <p class="text-lg color-paragraph mb-32">
          {{ intro | safe }}
        </p> #}

        <div class="flex align-items-center mb-72">
          <img src="/assets/img/profiles/jin.jpg" class="w-40 h-40 mr-14 border-2 border-white radius-full">
          <div>
            <div class="text-sm semibold color-white mb-4">
              Jin Su Park
            </div>
            <div class="text-xs leading-100 color-pink-200 color-opacity-60">
              Last updated {{ date | asPostDate }}
            </div>
          </div>
        </div>
        <hr class="border-t-2 border-pink-200 border-opacity-30 mb-56">
        <article class="markdown color-black">
          {{ content | safe }}
        </article>
      </section>
      <div class="hidden lg.block relative flex-none">
        <div class="sticky w-192 top-64 radius-lg">
          <div class="w-100p">
            
            <div>
              <h6 class="text-sm semibold color-white mb-16">
                On this page
              </h6>
              {{ content | toc | safe }}
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</main>