---
layout: layouts/base.njk
---

<main class="bg-gray-100 py-128 grid grid-cols-1 gap-128">
  <section class="flex align-items-center justify-content-center">
    {% include "partials/ui/calendar.njk" %}
  </section>
  <section class="flex align-items-center justify-content-center">
    {% include "partials/ui/ecommerce.njk" %}
  </section>
  <section class="flex align-items-center justify-content-center">
    {% include "partials/ui/pop-up.njk" %}
  </section>
  <section class="flex align-items-center justify-content-center">
    {% include "partials/ui/sign-in.njk" %}
  </section>
  <section class="flex align-items-center justify-content-center">
    {% include "partials/ui/player.njk" %}
  </section>
  <section class="flex align-items-center justify-content-center">
    {% include "partials/ui/activity.njk" %}
  </section>
</main>